src/flows/Account_Manage_CSM_Relationship.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>1346</locationX>
        <locationY>720</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Get_all_draft_or_active_POs</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue> @[{!inputCSM}] - you have been assigned to this account. Please reach out to the CIM, @[{!inputCIM}]  , within 2 days to begin discussions.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FeedItemID</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter_0</name>
        <label>Post to Chatter</label>
        <locationX>561</locationX>
        <locationY>916</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Lookup_Related_Active_or_Draft_CO_null_out</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!inputPriorCSM}] - You have been removed as the CSM from this account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FeedItemID</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter_000</name>
        <label>Post to Chatter</label>
        <locationX>1407</locationX>
        <locationY>1001</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Get_all_draft_or_active_POs</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!inputCSM}] - you have been assigned to this account. Please reach out to the CIM within 2 days to begin discussions. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter_0_0</name>
        <label>Post to Chatter</label>
        <locationX>1556</locationX>
        <locationY>1086</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Get_all_draft_or_active_POs</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!inputPriorCSM}] – you have been removed as the CSM from this account.  @[{!inputCSM}] - you have been assigned to this account. Please reach out to the former CSM within 2 days to begin discussions.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FeedItemID</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Client_Overview_to_be_updated</name>
        <label>Add Client Overview to be updated</label>
        <locationX>694</locationX>
        <locationY>238</locationY>
        <assignmentItems>
            <assignToReference>AllClientOverviewsToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ClientOverviewToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_active_Client_Overviews</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>187</locationX>
        <locationY>1073</locationY>
        <assignmentItems>
            <assignToReference>COsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentCOs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Draft_Active_CO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Opp_Collection</name>
        <label>Add to Opp Collection</label>
        <locationX>2075</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>OppsToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentOpp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThruOpps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_OppToBeUpdated</name>
        <label>Add to OppToBeUpdated</label>
        <locationX>218</locationX>
        <locationY>1848</locationY>
        <assignmentItems>
            <assignToReference>OppsToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentOpp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_PO_Collection</name>
        <label>Add to PO Collection</label>
        <locationX>196</locationX>
        <locationY>1452</locationY>
        <assignmentItems>
            <assignToReference>POsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentPOs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_POs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_POsToUpdate</name>
        <label>Add to POsToUpdate</label>
        <locationX>1525</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>POsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentPOs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThruPOs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_to_CSM</name>
        <label>Assign Owner to CSM</label>
        <locationX>1820</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>currentOpp.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCSM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CSM_on_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_out_CSM</name>
        <label>Null out CSM</label>
        <locationX>304</locationX>
        <locationY>906</locationY>
        <assignmentItems>
            <assignToReference>CurrentCOs.CSM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_out_Opp_CSM</name>
        <label>Null out Opp CSM</label>
        <locationX>50</locationX>
        <locationY>1833</locationY>
        <assignmentItems>
            <assignToReference>currentOpp.CSM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_OppToBeUpdated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_out_PO_CSM</name>
        <label>Null out PO CSM</label>
        <locationX>319</locationX>
        <locationY>1288</locationY>
        <assignmentItems>
            <assignToReference>CurrentPOs.CSM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_PO_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Owner_to_Gary</name>
        <label>Owner to Gary</label>
        <locationX>56</locationX>
        <locationY>1686</locationY>
        <assignmentItems>
            <assignToReference>currentOpp.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GaryAlpertID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Null_out_Opp_CSM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CSM_on_Client_Overview</name>
        <label>Update CSM on Client Overview</label>
        <locationX>929</locationX>
        <locationY>239</locationY>
        <assignmentItems>
            <assignToReference>ClientOverviewToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentClientOverview.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientOverviewToUpdate.CSM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCSM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Client_Overview_to_be_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CSM_on_Opp</name>
        <label>Update CSM on Opp</label>
        <locationX>2075</locationX>
        <locationY>109</locationY>
        <assignmentItems>
            <assignToReference>currentOpp.CSM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCSM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Opp_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CSM_on_PO</name>
        <label>Update CSM on PO</label>
        <locationX>1279</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>CurrentPOs.CSM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCSM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_POsToUpdate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CIM_available</name>
        <label>CIM assigned</label>
        <locationX>1229</locationX>
        <locationY>849</locationY>
        <defaultConnector>
            <targetReference>Post_to_Chatter_000</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CIM_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputCIM</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_to_Chatter</targetReference>
            </connector>
            <label>CIM  Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>CSM_Value</name>
        <label>CSM Value</label>
        <locationX>546</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Deactivate_Previous_CSM_Account_Team_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CSM removed</defaultConnectorLabel>
        <rules>
            <name>CSM_added_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputCSM</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_Up_Related_Active_or_Draft_Client_Overviews</targetReference>
            </connector>
            <label>CSM added/changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Renewal</name>
        <label>Renewal?</label>
        <locationX>1807</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>Update_CSM_on_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_to_CSM</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Renewal_Opportunity</name>
        <label>Renewal Opportunity?</label>
        <locationX>312</locationX>
        <locationY>1696</locationY>
        <defaultConnector>
            <targetReference>Null_out_Opp_CSM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal_opps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_to_Gary</targetReference>
            </connector>
            <label>Renewal Opps</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_there_a_prior_CSM</name>
        <label>Was there a prior CSM?</label>
        <locationX>1014</locationX>
        <locationY>841</locationY>
        <defaultConnector>
            <targetReference>CIM_available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>thereWasNoPriorCSM</defaultConnectorLabel>
        <rules>
            <name>thereWasPriorCSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputPriorCSM</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_Previous_CSM_Account_Team_Record_0</targetReference>
            </connector>
            <label>thereWasPriorCSM</label>
        </rules>
    </decisions>
    <formulas>
        <name>GaryAlpertID</name>
        <dataType>String</dataType>
        <expression>{!$Label.GaryAlpertID}</expression>
    </formulas>
    <formulas>
        <name>SystemAdminID</name>
        <dataType>String</dataType>
        <expression>{!$Label.System_Admin_Id}</expression>
    </formulas>
    <interviewLabel>Account - Manage CSM Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Manage CSM Relationship</label>
    <loops>
        <name>Loop_all_Opportunities</name>
        <label>Loop all Opportunities</label>
        <locationX>414</locationX>
        <locationY>1850</locationY>
        <assignNextValueToReference>currentOpp</assignNextValueToReference>
        <collectionReference>Lookup_all_Open_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Renewal_Opportunity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_all_Opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_all_POs</name>
        <label>Loop all POs</label>
        <locationX>429</locationX>
        <locationY>1454</locationY>
        <assignNextValueToReference>CurrentPOs</assignNextValueToReference>
        <collectionReference>Get_Draft_Active_POs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Null_out_PO_CSM</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_POs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_active_Client_Overviews</name>
        <label>Loop through active Client Overviews</label>
        <locationX>809</locationX>
        <locationY>406</locationY>
        <assignNextValueToReference>CurrentClientOverview</assignNextValueToReference>
        <collectionReference>AllRelatedActiveClientOverviews</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_CSM_on_Client_Overview</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_CSM_field_on_Client_Overviews</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Draft_Active_CO</name>
        <label>Loop Through Draft Active CO</label>
        <locationX>431</locationX>
        <locationY>1071</locationY>
        <assignNextValueToReference>CurrentCOs</assignNextValueToReference>
        <collectionReference>Lookup_Related_Active_or_Draft_CO_null_out</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Null_out_CSM</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_COs_CSM_to_Empty_String</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThruOpps</name>
        <label>LoopThruOpps</label>
        <locationX>1819</locationX>
        <locationY>423</locationY>
        <assignNextValueToReference>currentOpp</assignNextValueToReference>
        <collectionReference>Get_all_open_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Renewal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opps_to_CSM</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThruPOs</name>
        <label>LoopThruPOs</label>
        <locationX>1419</locationX>
        <locationY>433</locationY>
        <assignNextValueToReference>CurrentPOs</assignNextValueToReference>
        <collectionReference>Get_all_draft_or_active_POs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_CSM_on_PO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_POs_to_CSM</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_CSM_Account_Team_Record</name>
        <label>Create New CSM Account Team Record</label>
        <locationX>1156</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>createdCSM</assignRecordIdToReference>
        <connector>
            <targetReference>Was_there_a_prior_CSM</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Client Success Manager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>inputCSM</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
    </recordCreates>
    <recordLookups>
        <name>Get_all_draft_or_active_POs</name>
        <label>Get all draft or active POs</label>
        <locationX>1417</locationX>
        <locationY>563</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThruPOs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Program_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_open_Opportunities</name>
        <label>Get all open Opportunities</label>
        <locationX>1814</locationX>
        <locationY>573</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThruOpps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Probability</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>0.01</numberValue>
            </value>
        </filters>
        <filters>
            <field>Probability</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Draft_Active_POs</name>
        <label>Get Draft Active POs</label>
        <locationX>575</locationX>
        <locationY>1454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_all_POs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Program_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Find and store the IDs of all Active or Draft Client Overviews related to the account</description>
        <name>Look_Up_Related_Active_or_Draft_Client_Overviews</name>
        <label>Look Up Related Active or Draft Client Overviews</label>
        <locationX>807</locationX>
        <locationY>559</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_active_Client_Overviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Client_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>AllRelatedActiveClientOverviews</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_all_Open_Opportunities</name>
        <label>Lookup all Open Opportunities</label>
        <locationX>574</locationX>
        <locationY>1832</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_all_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Probability</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>0.01</numberValue>
            </value>
        </filters>
        <filters>
            <field>Probability</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Related_Active_or_Draft_CO_null_out</name>
        <label>Lookup Related Active or Draft CO_null out</label>
        <locationX>561</locationX>
        <locationY>1075</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Draft_Active_CO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Client_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Deactivate_Previous_CSM_Account_Team_Record</name>
        <label>Deactivate Previous CSM Account Team Record</label>
        <locationX>555</locationX>
        <locationY>778</locationY>
        <connector>
            <targetReference>Post_to_Chatter_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Success Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>inputCSM</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Client Success - Archived</stringValue>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Deactivate_Previous_CSM_Account_Team_Record_0</name>
        <label>Deactivate Previous CSM Account Team Record</label>
        <locationX>1172</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>Post_to_Chatter_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Success Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>inputCSM</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Client Success - Archived</stringValue>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_all_Opps</name>
        <label>Update all Opps</label>
        <locationX>581</locationX>
        <locationY>2034</locationY>
        <inputReference>OppsToBeUpdated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_COs_CSM_to_Empty_String</name>
        <label>Update COs CSM to Empty String</label>
        <locationX>575</locationX>
        <locationY>1285</locationY>
        <connector>
            <targetReference>Get_Draft_Active_POs</targetReference>
        </connector>
        <inputReference>COsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>When CSM is updated on Account, update all Active and Draft Client Overviews</description>
        <name>Update_CSM_field_on_Client_Overviews</name>
        <label>Update CSM field on Client Overviews</label>
        <locationX>986</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Create_New_CSM_Account_Team_Record</targetReference>
        </connector>
        <inputReference>AllClientOverviewsToBeUpdated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opps_to_CSM</name>
        <label>Update Opps to CSM</label>
        <locationX>2027</locationX>
        <locationY>591</locationY>
        <inputReference>OppsToBeUpdated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_POs</name>
        <label>Update POs</label>
        <locationX>574</locationX>
        <locationY>1648</locationY>
        <connector>
            <targetReference>Lookup_all_Open_Opportunities</targetReference>
        </connector>
        <inputReference>POsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_POs_to_CSM</name>
        <label>Update POs to CSM</label>
        <locationX>1571</locationX>
        <locationY>573</locationY>
        <connector>
            <targetReference>Get_all_open_Opportunities</targetReference>
        </connector>
        <inputReference>POsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>359</locationX>
        <locationY>564</locationY>
        <connector>
            <targetReference>CSM_Value</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllClientOverviewsToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>AllRelatedActiveClientOverviews</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ChatterMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>@[{!inputCSM}] - You have been assigned this account. Please reach out to the CIM to begin discussions.</stringValue>
        </value>
    </variables>
    <variables>
        <name>ClientOverviewToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>COsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>createdCSM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentClientOverview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>CurrentCOs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>CurrentCOToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>currentOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>CurrentPOs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>FeedItemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FeedItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <name>inputAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inputCIM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inputCSM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inputPriorCSM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppsToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>POsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
