src/flows/Account_Manage_EML_Relationship.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>1038</locationX>
        <locationY>667</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Get_Related_Active_Draft_COs</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!inputPriorEML}] - You have been removed as the EML from this account. @[{!inputEML}] - You have been assigned this account. Please reach out to the former EML to begin discussions.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter_0</name>
        <label>Post to Chatter</label>
        <locationX>976</locationX>
        <locationY>487</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Get_Related_Active_Draft_COs</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!inputEML}] - You have been assigned this account. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter_00</name>
        <label>Post to Chatter</label>
        <locationX>418</locationX>
        <locationY>670</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Get_Related_Active_Draft_COs_null</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!inputPriorEML}] - You have been removed as the EML from this account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_CO_Collection</name>
        <label>Add to CO Collection</label>
        <locationX>1020</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>COToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentCO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Active_Draft_COs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_CO_Collection_null</name>
        <label>Add to CO Collection_null</label>
        <locationX>184</locationX>
        <locationY>977</locationY>
        <assignmentItems>
            <assignToReference>COToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentCO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Active_Draft_COs_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EML_to_CO</name>
        <label>Assign EML to CO</label>
        <locationX>881</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>CurrentCO.EML__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputEML</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_CO_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EML_to_CO_null</name>
        <label>Assign EML to CO_null</label>
        <locationX>96</locationX>
        <locationY>808</locationY>
        <assignmentItems>
            <assignToReference>CurrentCO.EML__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_CO_Collection_null</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>EML_Value</name>
        <label>EML Value</label>
        <locationX>414</locationX>
        <locationY>307</locationY>
        <defaultConnector>
            <targetReference>deactivatePreviousEML</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EML removed</defaultConnectorLabel>
        <rules>
            <name>EML_added_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputEML</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createNewEML</targetReference>
            </connector>
            <label>EML added/changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_there_a_prior_EML</name>
        <label>Was there a prior EML?</label>
        <locationX>754</locationX>
        <locationY>490</locationY>
        <defaultConnector>
            <targetReference>Post_to_Chatter_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>thereWasNoPriorEML</defaultConnectorLabel>
        <rules>
            <name>thereWasPriorEML</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputPriorEML</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_Previous_EML_Account_Team_Record</targetReference>
            </connector>
            <label>thereWasPriorEML</label>
        </rules>
    </decisions>
    <interviewLabel>Account - Manage EML Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Manage EML Relationship</label>
    <loops>
        <name>Loop_Thru_Active_Draft_COs</name>
        <label>Loop Thru Active Draft COs</label>
        <locationX>1030</locationX>
        <locationY>177</locationY>
        <assignNextValueToReference>CurrentCO</assignNextValueToReference>
        <collectionReference>Get_Related_Active_Draft_COs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_EML_to_CO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_all_COs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Thru_Active_Draft_COs_null</name>
        <label>Loop Thru Active Draft COs_null</label>
        <locationX>286</locationX>
        <locationY>807</locationY>
        <assignNextValueToReference>CurrentCO</assignNextValueToReference>
        <collectionReference>Get_Related_Active_Draft_COs_null</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_EML_to_CO_null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_all_COs_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createNewEML</name>
        <label>createNewEML</label>
        <locationX>763</locationX>
        <locationY>304</locationY>
        <assignRecordIdToReference>createdEML</assignRecordIdToReference>
        <connector>
            <targetReference>Was_there_a_prior_EML</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Enrollment Marketing Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>inputEML</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Active_Draft_COs</name>
        <label>Get Related Active Draft COs</label>
        <locationX>1028</locationX>
        <locationY>303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_Active_Draft_COs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Client_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Active_Draft_COs_null</name>
        <label>Get Related Active Draft COs_null</label>
        <locationX>415</locationX>
        <locationY>808</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_Active_Draft_COs_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Client_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Deactivate_Previous_EML_Account_Team_Record</name>
        <label>Deactivate Previous EML Account Team Record</label>
        <locationX>771</locationX>
        <locationY>667</locationY>
        <connector>
            <targetReference>Post_to_Chatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enrollment Marketing Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>inputEML</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Enrollment Marketing - Archived</stringValue>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>deactivatePreviousEML</name>
        <label>deactivatePreviousEML</label>
        <locationX>422</locationX>
        <locationY>531</locationY>
        <connector>
            <targetReference>Post_to_Chatter_00</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enrollment Marketing Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>inputEML</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Enrollment Marketing Lead - Archived</stringValue>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_all_COs</name>
        <label>Update all COs</label>
        <locationX>1263</locationX>
        <locationY>305</locationY>
        <inputReference>COToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_all_COs_null</name>
        <label>Update all COs_null</label>
        <locationX>433</locationX>
        <locationY>1022</locationY>
        <inputReference>COToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>182</locationX>
        <locationY>305</locationY>
        <connector>
            <targetReference>EML_Value</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>COToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>createdEML</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentCO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>inputAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inputEML</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inputPriorEML</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
