src/flows/Assign_Default_TaskRay_Project_Team_Members.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>addCIMToNewMembers</name>
        <label>addCIMToNewMembers</label>
        <locationX>677</locationX>
        <locationY>202</locationY>
        <assignmentItems>
            <assignToReference>newTaskRayProjectMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newTaskRayMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAccTeamMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addNewMember</name>
        <label>addNewMember</label>
        <locationX>1095</locationX>
        <locationY>669</locationY>
        <assignmentItems>
            <assignToReference>newTaskRayProjectMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newTaskRayMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughAllMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CIMTaskMember</name>
        <label>CIMTaskMember</label>
        <locationX>393</locationX>
        <locationY>201</locationY>
        <assignmentItems>
            <assignToReference>newTaskRayMember.TASKRAY__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputProjectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRayMember.TASKRAY__User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CIMUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addCIMToNewMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CurrentTaskMember</name>
        <label>CurrentTaskMember</label>
        <locationX>767</locationX>
        <locationY>669</locationY>
        <assignmentItems>
            <assignToReference>newTaskRayMember.TASKRAY__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputProjectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRayMember.TASKRAY__User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentAccTeamMember.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addNewMember</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Acct_Team_Members_Role</name>
        <label>Check Acct Team Members Role</label>
        <locationX>761</locationX>
        <locationY>476</locationY>
        <defaultConnector>
            <targetReference>loopThroughAllMembers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Applicable</defaultConnectorLabel>
        <rules>
            <name>Client_Success_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentAccTeamMember.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Success Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CurrentTaskMember</targetReference>
            </connector>
            <label>Client Success Manager</label>
        </rules>
        <rules>
            <name>HSS_Account_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentAccTeamMember.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HSS Account Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CurrentTaskMember</targetReference>
            </connector>
            <label>HSS Account Manager</label>
        </rules>
        <rules>
            <name>Enrollment_Marketing_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentAccTeamMember.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrollment Marketing Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CurrentTaskMember</targetReference>
            </connector>
            <label>Enrollment Marketing Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Account_have_Team_Members</name>
        <label>Does Account have Team Members?</label>
        <locationX>880</locationX>
        <locationY>128</locationY>
        <defaultConnector>
            <targetReference>Insert_CIM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>doesNotHaveTeamMembers</defaultConnectorLabel>
        <rules>
            <name>hasTeamMembers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allAccTeamMembers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopThroughAllMembers</targetReference>
            </connector>
            <label>hasTeamMembers</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_CIM</name>
        <label>Is there a CIM?</label>
        <locationX>394</locationX>
        <locationY>25</locationY>
        <defaultConnector>
            <targetReference>getAccTeamMembers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No CIM</defaultConnectorLabel>
        <rules>
            <name>CIM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CIMUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CIMTaskMember</targetReference>
            </connector>
            <label>CIM</label>
        </rules>
    </decisions>
    <interviewLabel>Assign Default TaskRay Project Team Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Default TaskRay Project Team Members</label>
    <loops>
        <name>loopThroughAllMembers</name>
        <label>loopThroughAllMembers</label>
        <locationX>890</locationX>
        <locationY>278</locationY>
        <assignNextValueToReference>currentAccTeamMember</assignNextValueToReference>
        <collectionReference>allAccTeamMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Acct_Team_Members_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>addAllNewProjectMembers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>addAllNewProjectMembers</name>
        <label>addAllNewProjectMembers</label>
        <locationX>1144</locationX>
        <locationY>281</locationY>
        <inputReference>newTaskRayProjectMembers</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_CIM</name>
        <label>Insert CIM</label>
        <locationX>1193</locationX>
        <locationY>46</locationY>
        <inputReference>newTaskRayMember</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getAccTeamMembers</name>
        <label>getAccTeamMembers</label>
        <locationX>678</locationX>
        <locationY>28</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Account_have_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccId</elementReference>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputReference>allAccTeamMembers</outputReference>
        <queriedFields>UserId</queriedFields>
        <queriedFields>TeamMemberRole</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getCIMFromOpp</name>
        <label>getCIMFromOpp</label>
        <locationX>180</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_CIM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputOppId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Implementation Manager</stringValue>
            </value>
        </filters>
        <object>OpportunityTeamMember</object>
        <outputAssignments>
            <assignToReference>CIMUserId</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>getCIMFromOpp</startElementReference>
    <status>Active</status>
    <variables>
        <name>allAccTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>CIMUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentAccTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>inputAccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inputOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inputProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newTaskRayMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trContributor__c</objectType>
    </variables>
    <variables>
        <name>newTaskRayProjectMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trContributor__c</objectType>
    </variables>
</Flow>
