src/flows/Client_Overview_and_Program_Overview_Activate_Status_Manager.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Client_Overview_Failed_to_Activate</name>
        <label>Client Overview Failed to Activate</label>
        <locationX>1979</locationX>
        <locationY>270</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Contract_Status</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>FailedToActivateNotice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue> Failed to Activate Client Overview: {!currentContractRecord.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Failed_to_Activate_Program_Overview</name>
        <label>Failed to Activate Program Overview</label>
        <locationX>1493</locationX>
        <locationY>1468</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Contract_Status</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>FailedToActivateProgramOverview</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Failed to Activate Program Overview Record</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Program_Overview_to_List</name>
        <label>Add Program Overview to List</label>
        <locationX>373</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>relatedProgramOverviewsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentContractRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Program_Overview_to_Active</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Program_to_List</name>
        <label>Add Program to List</label>
        <locationX>2116</locationX>
        <locationY>1030</locationY>
        <assignmentItems>
            <assignToReference>relatedProgramOverviewsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentProgramOverview</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThruProgramOverviews</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Program_Overview_Status_to_Expired</name>
        <label>Set Program Overview Status to Expired</label>
        <locationX>2319</locationX>
        <locationY>1267</locationY>
        <assignmentItems>
            <assignToReference>currentProgramOverview.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentContractRecord.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Program_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Program_Overview_to_Active</name>
        <label>Set Program Overview to Active</label>
        <locationX>524</locationX>
        <locationY>1479</locationY>
        <assignmentItems>
            <assignToReference>currentContractRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Program_Overview_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Program_Overview_to_Reactivate</name>
        <label>Set Program Overview to Reactivate</label>
        <locationX>1647</locationX>
        <locationY>1336</locationY>
        <assignmentItems>
            <assignToReference>currentProgramOverview.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Re-Activate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>uniqueRelatedProgramOverviewName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentProgramOverview.Program_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Program_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Program Overview Status to &quot;Activated&quot;</description>
        <name>setProgramOverviewStatusToActivated</name>
        <label>setProgramOverviewStatusToActivated</label>
        <locationX>1901</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>currentProgramOverview.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>uniqueRelatedProgramOverviewName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentProgramOverview.Program_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Program_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Client_Overview_Status</name>
        <label>Check Client Overview Status</label>
        <locationX>1969</locationX>
        <locationY>48</locationY>
        <defaultConnector>
            <targetReference>Update_Record_to_Active_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Acct allows multiple Client Overviews</defaultConnectorLabel>
        <rules>
            <name>Acct_Doesn_t_have_Active_Client_Overviews</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>activeClientOverview</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_to_Active_Status</targetReference>
            </connector>
            <label>Acct Doesn&apos;t have Active Client Overviews</label>
        </rules>
        <rules>
            <name>Multiple_Client_Overviews_and_Acct_doesn_t_allow_multiple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>activeClientOverview</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentAccount.Allow_multiple_Active_Client_Overviews__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Overview_Failed_to_Activate</targetReference>
            </connector>
            <label>Multiple Client Overviews and Acct doesn&apos;t allow multiple</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contract_Status</name>
        <label>Check Contract Status</label>
        <locationX>1295</locationX>
        <locationY>403</locationY>
        <defaultConnector>
            <targetReference>Move_Client_Overview_Status_into_Terminated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Re-Activate</defaultConnectorLabel>
        <rules>
            <name>Activate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentContractRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Move_Client_Overview_into_Draft_Status</targetReference>
            </connector>
            <label>Activate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contract_Status_1</name>
        <label>Check Contract Status</label>
        <locationX>1722</locationX>
        <locationY>1186</locationY>
        <defaultConnector>
            <targetReference>Set_Program_Overview_to_Reactivate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Re-Activate</defaultConnectorLabel>
        <rules>
            <name>Activate_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentContractRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setProgramOverviewStatusToActivated</targetReference>
            </connector>
            <label>Activate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine whether or not to update the Program Overview Status to &quot;Activated&quot;</description>
        <name>Check_if_Program_Overview_should_be_Activated</name>
        <label>Check if Program Overview should be Activated</label>
        <locationX>1738</locationX>
        <locationY>958</locationY>
        <defaultConnector>
            <targetReference>loopThruProgramOverviews</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Status_to_Activated</name>
            <conditionLogic>1 AND 2 AND 4 AND (3 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>currentProgramOverview.Program_Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentProgramOverview.Program_End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentContractRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>uniqueRelatedProgramOverviewName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>currentProgramOverview.Program_Name__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentContractRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-Activate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contract_Status_1</targetReference>
            </connector>
            <label>Update Status to Activated</label>
        </rules>
        <rules>
            <name>Expire_ALL_Program_Overviews</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>currentContractRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentContractRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Program_Overview_Status_to_Expired</targetReference>
            </connector>
            <label>Expire ALL Program Overviews</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Record_Type</name>
        <label>Determine Record Type and Status</label>
        <locationX>912</locationX>
        <locationY>956</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Client_Overview_Active</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>currentContractRecord.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>clientOverviewRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentContractRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentContractRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-Activate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_permission</targetReference>
            </connector>
            <label>Client Overview - Activate</label>
        </rules>
        <rules>
            <name>Client_Overview_Expired</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>currentContractRecord.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>clientOverviewRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentContractRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentContractRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRelatedProgramOverviews</targetReference>
            </connector>
            <label>Client Overview - Expired</label>
        </rules>
        <rules>
            <name>Program_Overview_Active</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>currentContractRecord.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>programOverviewRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentContractRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentContractRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-Activate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_any_Active_Identical_Program_Overview_Records</targetReference>
            </connector>
            <label>Program Overview - Activate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Identical_Program_Overview_Record</name>
        <label>Found Identical Program Overview Record?</label>
        <locationX>915</locationX>
        <locationY>1474</locationY>
        <defaultConnector>
            <targetReference>Set_Program_Overview_to_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Did not find Record</defaultConnectorLabel>
        <rules>
            <name>Found_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>foundIdenticalProgramOverview</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Failed_to_Activate_Program_Overview</targetReference>
            </connector>
            <label>Found Record</label>
        </rules>
    </decisions>
    <formulas>
        <name>clientOverviewRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.Program_Agreement_Record_Type}</expression>
    </formulas>
    <formulas>
        <name>orgBaseURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <formulas>
        <name>programOverviewRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.Program_Schedule_Record_Type}</expression>
    </formulas>
    <formulas>
        <name>UserEmail</name>
        <dataType>String</dataType>
        <expression>{!$User.Email}</expression>
    </formulas>
    <interviewLabel>Client Overview and Program Overview Activate Status Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Overview and Program Overview Activate Status Manager</label>
    <loops>
        <description>Loop through each related Program Overview to determine whether or not to update the status to &quot;Activated&quot;</description>
        <name>loopThruProgramOverviews</name>
        <label>loopThruProgramOverviews</label>
        <locationX>2109</locationX>
        <locationY>711</locationY>
        <assignNextValueToReference>currentProgramOverview</assignNextValueToReference>
        <collectionReference>relatedProgramOverivews</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Program_Overview_should_be_Activated</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateRelatedProgramOverviews</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_for_another_Active_Client_Overview</name>
        <label>Check for another Active Client Overview</label>
        <locationX>1769</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Client_Overview_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentContractRecord.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract_Path__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentContractRecord.Contract_Path__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>currentContractRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>clientOverviewRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>activeClientOverview</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_any_Active_Identical_Program_Overview_Records</name>
        <label>Find any &apos;Active&apos; Identical Program Overview Records</label>
        <locationX>922</locationX>
        <locationY>1246</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Identical_Program_Overview_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentContractRecord.Client_Overview__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>currentContractRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentContractRecord.Program_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>foundIdenticalProgramOverview</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_permission</name>
        <label>Get Account permission</label>
        <locationX>1482</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_another_Active_Client_Overview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentContractRecord.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>currentAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Allow_multiple_Active_Client_Overviews__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Client_Overview</name>
        <label>Get Current Client Overview</label>
        <locationX>669</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>currentContractRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Contract_Path__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Client_Overview__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Program_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Query for all related Program Overview records</description>
        <name>getRelatedProgramOverviews</name>
        <label>getRelatedProgramOverviews</label>
        <locationX>1703</locationX>
        <locationY>713</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopThruProgramOverviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>programOverviewRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>relatedProgramOverivews</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Program_Start_Date__c</queriedFields>
        <queriedFields>Program_End_Date__c</queriedFields>
        <queriedFields>Program_Name__c</queriedFields>
        <sortField>Program_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Move_Client_Overview_into_Draft_Status</name>
        <label>Move Client Overview into Draft Status</label>
        <locationX>1171</locationX>
        <locationY>142</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentContractRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Move_Client_Overview_Status_into_Terminated</name>
        <label>Move Client Overview Status into Terminated</label>
        <locationX>898</locationX>
        <locationY>256</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentContractRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Program_Overview_to_Active</name>
        <label>Update Program Overview to Active</label>
        <locationX>180</locationX>
        <locationY>1478</locationY>
        <inputReference>relatedProgramOverviewsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_to_Active_Status</name>
        <label>Update Record to Active Status</label>
        <locationX>2279</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>getRelatedProgramOverviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentContractRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update all related Program Overviews where status will be set to &quot;Activated&quot;</description>
        <name>updateRelatedProgramOverviews</name>
        <label>updateRelatedProgramOverviews</label>
        <locationX>2454</locationX>
        <locationY>710</locationY>
        <inputReference>relatedProgramOverviewsToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Current_Client_Overview</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>FailedToActivateNotice</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Attention, 

The following Client Overview could not be activated because the associated account already has an active Client Overview record. Please find and deactivate the old Client Overview record and try activating this Client Overview again. 

Link to Client Overview that failed to Activate:
{!orgBaseURL}{!currentContractRecord.Id}</text>
    </textTemplates>
    <textTemplates>
        <name>FailedToActivateProgramOverview</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Attention, 

The following Program Overview could not be activated because the associated Client Overview already has an active Program Overview record of the same type. Please click the link below and deactivate the old Program Overview record and try activating this Program Overview again. 

Link to Program Overview that&apos;s already Active:
{!orgBaseURL}{!foundIdenticalProgramOverview.Id}

Link to Program Overview that failed to Activate:
{!orgBaseURL}{!currentContractRecord.Id}</text>
    </textTemplates>
    <variables>
        <name>activeClientOverview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>currentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentContractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <description>Current Program Overview in collection of related Program Overview records</description>
        <name>currentProgramOverview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>feedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>foundIdenticalProgramOverview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>inputAllowsMultipleCOs</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection of Program Overview records related to the Client Overview that triggered the flow.</description>
        <name>relatedProgramOverivews</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <description>Collection of related Program Overview records to updated</description>
        <name>relatedProgramOverviewsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>uniqueRelatedProgramOverviewName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
