src/flows/Client_Overview_Creator_Button_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_new_CO_and_PO</name>
        <label>Create new CO and PO</label>
        <locationX>1031</locationX>
        <locationY>1069</locationY>
        <actionName>ContractService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_the_updated_Opp</targetReference>
        </connector>
        <inputParameters>
            <name>oppSource</name>
            <value>
                <elementReference>sourceInfo</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_WP_Transition_POs</name>
        <label>Create WP Transition POs</label>
        <locationX>1333</locationX>
        <locationY>866</locationY>
        <actionName>ContractService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_the_updated_Opp</targetReference>
        </connector>
        <inputParameters>
            <name>oppSource</name>
            <value>
                <elementReference>sourceInfo</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Deep_Clone_Client_Overview_and_Program_Overviews</name>
        <label>Deep Clone Client Overview and Program Overviews</label>
        <locationX>1579</locationX>
        <locationY>180</locationY>
        <actionName>clientOverviewServices</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Current_Opportunity_with_Cloned_Client_Overview</targetReference>
        </connector>
        <inputParameters>
            <name>sourceInformation</name>
            <value>
                <elementReference>sourceInfo</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>clonedClientOverviewId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Count</name>
        <label>Add Count</label>
        <locationX>945</locationX>
        <locationY>227</locationY>
        <assignmentItems>
            <assignToReference>Found_Client_Overview_Size</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>existingClientOverviews</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_existing_Client_Overviews</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_List_of_Client_Overview_Hyperlinks</name>
        <label>Build List of Client Overview Hyperlinks</label>
        <locationX>770</locationX>
        <locationY>519</locationY>
        <assignmentItems>
            <assignToReference>FoundClientOverviewURLs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a href=&quot;{!orgBaseURL}{!currentFoundClientOverview.Id}&quot;&gt;{!currentFoundClientOverview.Name}&lt;/a&gt;&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughAllFoundClientOverviewBundles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Opp Source Info</description>
        <name>Set_OppSource_Info</name>
        <label>Set OppSource Info</label>
        <locationX>1171</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>sourceInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sourceInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>existingClientOverview.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sourceInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Whole Person Program Overview Transition</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_WP_Transition_POs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set OppSource Info</description>
        <name>Set_OppSource_Info1</name>
        <label>Set OppSource Info1</label>
        <locationX>1456</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>sourceInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sourceInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Active_COs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sourceInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Whole Person Program Overview Transition</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_WP_Transition_POs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Source_for_Blank_CO_and_PO</name>
        <label>Set Source for Blank CO and PO</label>
        <locationX>1032</locationX>
        <locationY>793</locationY>
        <assignmentItems>
            <assignToReference>sourceInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_CO_and_PO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Source_Information</name>
        <label>Set Source Information</label>
        <locationX>1164</locationX>
        <locationY>183</locationY>
        <assignmentItems>
            <assignToReference>sourceInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sourceInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Contract, Relationship__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sourceInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentClientOverview.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_single_Collection_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Source_Information_0</name>
        <label>Set Source Information</label>
        <locationX>1459</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>sourceInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sourceInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Contract, Relationship__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sourceInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Client_Overview_to_clone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deep_Clone_Client_Overview_and_Program_Overviews</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CreateNewBlankCObundle</name>
        <choiceText>Create Blank Client Overview Bundle</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create Blank Client Overview Bundle</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeepCloneCObundle</name>
        <choiceText>Clone Existing Client Overview Bundle</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Clone Existing Client Overview Bundle</stringValue>
        </value>
    </choices>
    <choices>
        <description>Whole Person Program Overview Transition</description>
        <name>WholePersonProgramOverviewTransition</name>
        <choiceText>Whole Person Program Overview Transition</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Whole Person Program Overview Transition</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_there_existing_Client_Overviews</name>
        <label>Are there existing Client Overviews?</label>
        <locationX>389</locationX>
        <locationY>509</locationY>
        <defaultConnector>
            <targetReference>LoopThroughAllFoundClientOverviewBundles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing active Client Overviews</defaultConnectorLabel>
        <rules>
            <name>No_active_Client_Overviews</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Found_Client_Overview_Size</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Source_for_Blank_CO_and_PO</targetReference>
            </connector>
            <label>No active Client Overviews</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Found_Client_Overview_Size</name>
        <label>Determine Found Client Overview Size</label>
        <locationX>1297</locationX>
        <locationY>574</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Single_Active_Client_Overview_Bundle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Found_Client_Overview_Size</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DeepCloneCObundle</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_single_Collection_Record</targetReference>
            </connector>
            <label>Single Active Client Overview Bundle - Deep Clone</label>
        </rules>
        <rules>
            <name>Multiple_Active_Client_Overviews_Deep_Clone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Found_Client_Overview_Size</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DeepCloneCObundle</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multiple_Active_Client_Overviews_Found</targetReference>
            </connector>
            <label>Multiple Active Client Overviews - Deep Clone</label>
        </rules>
        <rules>
            <name>Single_Active_CO_WP_Transition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Found_Client_Overview_Size</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WholePersonProgramOverviewTransition</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_single_CO</targetReference>
            </connector>
            <label>Single Active CO - WP Transition</label>
        </rules>
        <rules>
            <name>Multiple_Active_CO_WP_Transition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Found_Client_Overview_Size</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WholePersonProgramOverviewTransition</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multiple_Active_Client_Overviews_Found_WP</targetReference>
            </connector>
            <label>Multiple Active CO - WP Transition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_User_s_Choice</name>
        <label>Determine User&apos;s Choice</label>
        <locationX>1023</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Set_Source_for_Blank_CO_and_PO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Blank</defaultConnectorLabel>
        <rules>
            <name>Deep_Clone_Bundle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DeepCloneCObundle</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Found_Client_Overview_Size</targetReference>
            </connector>
            <label>Deep Clone Bundle</label>
        </rules>
        <rules>
            <name>Whole_Person_Program_Overview_Transition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WholePersonProgramOverviewTransition</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Found_Client_Overview_Size</targetReference>
            </connector>
            <label>Whole Person Program Overview Transition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Client_Overview_record_already_exist</name>
        <label>Does Client Overview record already exist?</label>
        <locationX>452</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>Find_existing_Client_Overview_Record_s</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Client overview does not exist</defaultConnectorLabel>
        <rules>
            <name>Client_Overview_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentOpportunity.ContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Overview_already_exists</targetReference>
            </connector>
            <label>Client Overview exists</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>All_Active_Client_Overviews</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentOpportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract_Path__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentOpportunity.Contract_Path__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>clientOverviewRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.Program_Agreement_Record_Type}</expression>
    </formulas>
    <formulas>
        <name>orgBaseURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <interviewLabel>Client Overview Creator Button - Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Overview Creator Button - Opportunity</label>
    <loops>
        <name>Loop_through_single_CO</name>
        <label>Loop through single CO</label>
        <locationX>1172</locationX>
        <locationY>721</locationY>
        <assignNextValueToReference>existingClientOverview</assignNextValueToReference>
        <collectionReference>existingClientOverviews</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_OppSource_Info</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_through_single_Collection_Record</name>
        <label>Loop through single Collection Record</label>
        <locationX>1164</locationX>
        <locationY>369</locationY>
        <assignNextValueToReference>currentClientOverview</assignNextValueToReference>
        <collectionReference>existingClientOverviews</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Source_Information</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Deep_Clone_Client_Overview_and_Program_Overviews</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughAllFoundClientOverviewBundles</name>
        <label>LoopThroughAllFoundClientOverviewBundles</label>
        <locationX>773</locationX>
        <locationY>375</locationY>
        <assignNextValueToReference>currentFoundClientOverview</assignNextValueToReference>
        <collectionReference>existingClientOverviews</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_List_of_Client_Overview_Hyperlinks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Multiple_Active_Client_Overviews_Found_screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_existing_Client_Overview_Record_s</name>
        <label>Find existing active Client Overview Record(s)</label>
        <locationX>770</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentOpportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract_Path__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentOpportunity.Contract_Path__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>clientOverviewRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>existingClientOverviews</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Opportunity</name>
        <label>Get Current Opportunity</label>
        <locationX>460</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Client_Overview_record_already_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>currentOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContractId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Contract_Path__c</queriedFields>
        <queriedFields>BillingPartner__c</queriedFields>
        <queriedFields>CIM__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_the_updated_Opp</name>
        <label>Get the updated Opp</label>
        <locationX>1323</locationX>
        <locationY>1071</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentOpportunity.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>clonedClientOverviewId</assignToReference>
            <field>ContractId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Opportunity_with_Cloned_Client_Overview</name>
        <label>Update Current Opportunity with Cloned Client Overview</label>
        <locationX>1588</locationX>
        <locationY>536</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>clonedClientOverviewId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Client_Overview_already_exists</name>
        <label>Client Overview already exists</label>
        <locationX>174</locationX>
        <locationY>225</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Alert_Message_Existing_Client_Overview</name>
            <fieldText>There is already an existing Client Overview associated with this Opportunity.

&lt;a href=&quot;{!orgBaseURL}{!currentOpportunity.ContractId}&quot;&gt;Click here to view Client Overview&lt;/a&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Multiple_Active_Client_Overviews_Found</name>
        <label>Multiple Active Client Overviews Found</label>
        <locationX>1459</locationX>
        <locationY>550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Source_Information_0</targetReference>
        </connector>
        <fields>
            <name>Select_Client_Overview_to_clone</name>
            <choiceReferences>All_Active_Client_Overviews</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Client Overview to clone</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Existing_Client_Overview_Bundles_URL</name>
            <fieldText>&lt;br/&gt;&lt;strong&gt;Existing Client Overview(s):&lt;/strong&gt;
{!FoundClientOverviewURLs}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Multiple_Active_Client_Overviews_Found_screen</name>
        <label>Multiple &apos;Active&apos; Client Overviews Found</label>
        <locationX>1032</locationX>
        <locationY>416</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Determine_User_s_Choice</targetReference>
        </connector>
        <fields>
            <name>Select_Action</name>
            <choiceReferences>CreateNewBlankCObundle</choiceReferences>
            <choiceReferences>DeepCloneCObundle</choiceReferences>
            <choiceReferences>WholePersonProgramOverviewTransition</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Action</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Existing_Client_Overview_Bundle_URL</name>
            <fieldText>&lt;br/&gt;&lt;strong&gt;Existing Client Overview(s):&lt;/strong&gt;
{!FoundClientOverviewURLs}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Multiple_Active_Client_Overviews_Found_WP</name>
        <label>Multiple Active Client Overviews Found - WP</label>
        <locationX>1454</locationX>
        <locationY>724</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_OppSource_Info1</targetReference>
        </connector>
        <fields>
            <name>Select_Active_COs</name>
            <choiceReferences>All_Active_Client_Overviews</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Active COs</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayExsistingCOsWP</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Existing Client Overview(s):&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!FoundClientOverviewURLs}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success!</label>
        <locationX>1588</locationX>
        <locationY>1071</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>Client Overview bundle successfully created.

&lt;a href=&quot;{!orgBaseURL}{!clonedClientOverviewId}&quot;&gt;Click here to view new Client Overview&lt;/a&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Current_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>clonedClientOverviewId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentClientOverview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>currentContractPathAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentFoundClientOverview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>currentOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>loop variable</description>
        <name>existingClientOverview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>existingClientOverviews</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>Found_Client_Overview_Size</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FoundClientOverviewURLs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sourceInfo</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
