src/flows/CMC_CMCA_Creation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Selected_POs</name>
        <label>Add Selected POs</label>
        <locationX>1971</locationX>
        <locationY>916</locationY>
        <assignmentItems>
            <assignToReference>SelectedPOs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Choose_Program_Overviews2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multiple_or_Single_CO_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_SelectedPO</name>
        <label>Add SelectedPO</label>
        <locationX>1767</locationX>
        <locationY>904</locationY>
        <assignmentItems>
            <assignToReference>SelectedPOs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Choose_Program_Overview_s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multiple_or_Single_CO_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_CMCA_List</name>
        <label>Add to CMCA List</label>
        <locationX>2774</locationX>
        <locationY>1578</locationY>
        <assignmentItems>
            <assignToReference>ListCMCAForInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ObjCMCA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Semi_Colon</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_CMCA_Partner_List</name>
        <label>Add to CMCA Partner List</label>
        <locationX>2080</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>ListCMCAForInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ObjCMCA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_semi_colon</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Selected_POs</name>
        <label>Add to Selected POs</label>
        <locationX>1783</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>SelectedPOs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;  {!Choose_Program_Overview_s}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multiple_or_Single_CO_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_SelectedPO</name>
        <label>Add to SelectedPO</label>
        <locationX>1944</locationX>
        <locationY>676</locationY>
        <assignmentItems>
            <assignToReference>SelectedPOs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;  {!Choose_Program_Overviews2}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multiple_or_Single_CO_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Client_Overview</name>
        <label>Assign Current Client Overview</label>
        <locationX>2141</locationX>
        <locationY>1509</locationY>
        <assignmentItems>
            <assignToReference>SelectedCO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_GetClientOverview.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_GetClientOverview</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_POSelected_Partner</name>
        <label>Assign POSelected_Partner</label>
        <locationX>1453</locationX>
        <locationY>1971</locationY>
        <assignmentItems>
            <assignToReference>SelectedPO_Partner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choose_Program_Overviews_partner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_Program_Overviews</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CMC_Association_Loop</name>
        <label>CMC Association - Loop</label>
        <locationX>2963</locationX>
        <locationY>1431</locationY>
        <assignmentItems>
            <assignToReference>ObjCMCA.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjCMCA.ProgramOverview__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentPOID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjCMCA.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CMCToProgramRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjCMCA.ClientMemberCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CMC_Codes_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_First_ID_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CMCA_Assignment</name>
        <label>CMCA Assignment</label>
        <locationX>2591</locationX>
        <locationY>1443</locationY>
        <assignmentItems>
            <assignToReference>ObjCMCA.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjCMCA.ProgramOverview__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedPOs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjCMCA.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CMCToProgramRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjCMCA.ClientMemberCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CMC_Codes_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPOs</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_CMCA_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CMCA_Assignment_Partner</name>
        <label>CMCA Assignment Partner</label>
        <locationX>1844</locationX>
        <locationY>2261</locationY>
        <assignmentItems>
            <assignToReference>ObjCMCA.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjCMCA.ProgramOverview__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedPO_Partner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjCMCA.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CMCToProgramRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjCMCA.ClientMemberCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_CMC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPO_Partner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_CMCA_Partner_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CMCA_Loop</name>
        <label>CMCA Partner Loop</label>
        <locationX>2275</locationX>
        <locationY>2136</locationY>
        <assignmentItems>
            <assignToReference>ObjCMCA.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjCMCA.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CMCToProgramRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjCMCA.ClientMemberCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_CMC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjCMCA.ProgramOverview__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentPOID_Partner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_1st_Selected_PO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountofCO</name>
        <label>CountofCO</label>
        <locationX>1244</locationX>
        <locationY>1369</locationY>
        <assignmentItems>
            <assignToReference>CountofCOs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetClientOverviews</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Client_Overviews</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decrease_Var</name>
        <label>Decrease Var and Reset Selected PO</label>
        <locationX>3399</locationX>
        <locationY>1330</locationY>
        <assignmentItems>
            <assignToReference>Var_JabberwockeeorCMC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_JabberwockeeMinus1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPOs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedPOs_Original</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListCMCAForInsert</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>ListCMCAForInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Create_2nd_CMC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Make_SelectedCO_Empty</name>
        <label>Make SelectedCO Empty</label>
        <locationX>2119</locationX>
        <locationY>919</locationY>
        <assignmentItems>
            <assignToReference>SelectedCO</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectedPOs_in_Empty_String</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Program_Name</name>
        <label>Program Name</label>
        <locationX>1841</locationX>
        <locationY>2125</locationY>
        <assignmentItems>
            <assignToReference>varProgram</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_PO.Program_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_PO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_1st_Selected_PO</name>
        <label>Remove 1st Selected PO</label>
        <locationX>2271</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>SelectedPO_Partner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrimSelectePOs_Partner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_CMCA_Partner_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_First_ID_Assignment</name>
        <label>Remove First ID Assignment</label>
        <locationX>2959</locationX>
        <locationY>1576</locationY>
        <assignmentItems>
            <assignToReference>SelectedPOs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrimSelectedPOs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_CMCA_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Selected_POs</name>
        <label>Reset Selected POs</label>
        <locationX>3659</locationX>
        <locationY>1618</locationY>
        <assignmentItems>
            <assignToReference>SelectedPOs_Original</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPOs</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_more_CMC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Selected_CO</name>
        <label>Selected CO</label>
        <locationX>1795</locationX>
        <locationY>1204</locationY>
        <assignmentItems>
            <assignToReference>SelectedCO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choose_Client_Overview_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multiple_or_Single_CO_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varJabberwokee</name>
        <label>Set varJabberwokee</label>
        <locationX>2123</locationX>
        <locationY>1203</locationY>
        <assignmentItems>
            <assignToReference>Var_JabberwockeeorCMC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jaborwockee_or_of_CMCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPOs_Original</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedPOs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_of_CMC_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Trim_Selected_CO</name>
        <label>Trim Selected CO</label>
        <locationX>1604</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>SelectedCO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrimSelectedCO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectedPO_values</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Downmarket</name>
        <choiceText>Downmarket</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Downmarket</stringValue>
        </value>
    </choices>
    <choices>
        <name>Eight</name>
        <choiceText>8 &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;CMCs&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Enterprise</name>
        <choiceText>Enterprise</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Enterprise</stringValue>
        </value>
    </choices>
    <choices>
        <name>Five</name>
        <choiceText>5 &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;CMCs&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Four</name>
        <choiceText>4 &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;CMCs&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Nine</name>
        <choiceText>9 &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;CMCs&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>One</name>
        <choiceText>1 CMC</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>SameAsRegCode</name>
        <choiceText>Same as Registration Code</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Seven</name>
        <choiceText>7 &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;CMCs&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Six</name>
        <choiceText>6 &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;CMCs&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Ten</name>
        <choiceText>10 &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;CMCs&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Three</name>
        <choiceText>3 &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;CMCs&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Two</name>
        <choiceText>2 CMCs</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Account_Record_Type</name>
        <label>Account Record Type</label>
        <locationX>951</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>GetClientOverviews</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Partner Account</defaultConnectorLabel>
        <rules>
            <name>Client_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetClientOverviews</targetReference>
            </connector>
            <label>Client Account</label>
        </rules>
        <rules>
            <name>Downmarket_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Downmarket Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PartnershipScreen</targetReference>
            </connector>
            <label>Downmarket Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_semi_colon</name>
        <label>Check for semi colon</label>
        <locationX>2071</locationX>
        <locationY>2135</locationY>
        <defaultConnector>
            <targetReference>Create_CMCA_Partners</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty String</defaultConnectorLabel>
        <rules>
            <name>Semi_Colon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedPO_Partner</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>;</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedPO_Partner</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CMCA_Loop</targetReference>
            </connector>
            <label>Semi Colon</label>
        </rules>
        <rules>
            <name>No_Semi_Colon2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedPO_Partner</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CMCA_Assignment_Partner</targetReference>
            </connector>
            <label>No Semi Colon</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Mulitple_CO</name>
        <label>Check if Mulitple CO</label>
        <locationX>3667</locationX>
        <locationY>1129</locationY>
        <defaultConnector>
            <targetReference>Repeat_Screen2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CO &gt; 2</defaultConnectorLabel>
        <rules>
            <name>Standard_Set_Up2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountofCOs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Screen</targetReference>
            </connector>
            <label>CO = 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PO_Decision</name>
        <label>Check PO Decision</label>
        <locationX>2758</locationX>
        <locationY>1126</locationY>
        <defaultConnector>
            <targetReference>Check_if_Mulitple_CO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_PO_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedPOs</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Semi_Colon</targetReference>
            </connector>
            <label>Check PO Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PO_Selected_Partner</name>
        <label>Check PO Selected_Partner</label>
        <locationX>2079</locationX>
        <locationY>1956</locationY>
        <defaultConnectorLabel>No More Selection</defaultConnectorLabel>
        <rules>
            <name>PO_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>POChoices_Partner</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_semi_colon</targetReference>
            </connector>
            <label>PO Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Semi_Colon</name>
        <label>Check For Semi Colon</label>
        <locationX>2764</locationX>
        <locationY>1336</locationY>
        <defaultConnector>
            <targetReference>Create_CMCAs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Semi_Colon2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedPOs</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedPOs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CMC_Association_Loop</targetReference>
            </connector>
            <label>Check Semi Colon</label>
        </rules>
        <rules>
            <name>No_Semi_Colon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedPOs</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CMCA_Assignment</targetReference>
            </connector>
            <label>No Semi Colon</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Viable_Programs</name>
        <label>Check Viable Programs</label>
        <locationX>3126</locationX>
        <locationY>1943</locationY>
        <defaultConnector>
            <targetReference>Create_CMC_To_Registration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Did_not_find_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SPA_Reg_Code</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DidnotfindRegCode</targetReference>
            </connector>
            <label>Did not find record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_of_Client_Overviews</name>
        <label>Count of Client Overviews</label>
        <locationX>1232</locationX>
        <locationY>1555</locationY>
        <defaultConnector>
            <targetReference>Enterprise_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>1+ Records</defaultConnectorLabel>
        <rules>
            <name>X0_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountofCOs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X0_Records_Screen</targetReference>
            </connector>
            <label>0 Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_more_CMC</name>
        <label>Create more CMC?</label>
        <locationX>3648</locationX>
        <locationY>1813</locationY>
        <defaultConnector>
            <targetReference>Final_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_create_more_CMCs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enterprise_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Create_2nd_CMC</name>
        <label>Decision_Create 2nd CMC</label>
        <locationX>3386</locationX>
        <locationY>1182</locationY>
        <defaultConnector>
            <targetReference>Check_if_Mulitple_CO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No more looping</defaultConnectorLabel>
        <rules>
            <name>of_CMC_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_JabberwockeeorCMC</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_PO_Decision</targetReference>
            </connector>
            <label>1+ CMC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Multiple_or_Single_CO_selected</name>
        <label>Multiple or Single CO selected</label>
        <locationX>1863</locationX>
        <locationY>1047</locationY>
        <defaultConnector>
            <targetReference>Set_varJabberwokee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Semi_Colon2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedCO</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>;</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedCO</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_POs_Current</targetReference>
            </connector>
            <label>Semi-Colon</label>
        </rules>
        <rules>
            <name>No_Semi_Colon3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedCO</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_POs</targetReference>
            </connector>
            <label>No Semi Colon</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Current_PO</name>
        <label>Selected = Current PO</label>
        <locationX>1634</locationX>
        <locationY>2283</locationY>
        <defaultConnector>
            <targetReference>Loop_All_PO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedPO_Partner</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_All_PO.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Program_Name</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>SelectedPO_values</name>
        <label>SelectedPO values</label>
        <locationX>1592</locationX>
        <locationY>677</locationY>
        <defaultConnector>
            <targetReference>Add_to_Selected_POs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Populated</defaultConnectorLabel>
        <rules>
            <name>Empty_String</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedPOs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_SelectedPO</targetReference>
            </connector>
            <label>Empty String</label>
        </rules>
    </decisions>
    <decisions>
        <name>SelectedPOs_in_Empty_String</name>
        <label>SelectedPOs in Empty String</label>
        <locationX>2111</locationX>
        <locationY>676</locationY>
        <defaultConnector>
            <targetReference>Add_to_SelectedPO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Populated</defaultConnectorLabel>
        <rules>
            <name>Empty_String2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedPOs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Selected_POs</targetReference>
            </connector>
            <label>Empty String</label>
        </rules>
    </decisions>
    <decisions>
        <name>Single_or_Multiple_COs</name>
        <label>Single or Multiple COs</label>
        <locationX>1779</locationX>
        <locationY>1517</locationY>
        <defaultConnector>
            <targetReference>MultipleCO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>2+ CO</defaultConnectorLabel>
        <rules>
            <name>X1_CO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountofCOs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Thru_GetClientOverview</targetReference>
            </connector>
            <label>1 CO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_CMC_Creation</name>
        <label>Type of CMC Creation</label>
        <locationX>2239</locationX>
        <locationY>1207</locationY>
        <defaultConnector>
            <targetReference>reg_Code_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reg Code != CMC</defaultConnectorLabel>
        <rules>
            <name>Non_Standard_Jabberwocky</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_JabberwockeeorCMC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_RegCode_Record</targetReference>
            </connector>
            <label>Same as Reg Code</label>
        </rules>
    </decisions>
    <decisions>
        <name>X10_CMC</name>
        <label>10 CMC</label>
        <locationX>2783</locationX>
        <locationY>488</locationY>
        <defaultConnector>
            <targetReference>Check_PO_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less Than 10</defaultConnectorLabel>
        <rules>
            <name>X10_CMC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_JabberwockeeorCMC</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_10th_CMC</targetReference>
            </connector>
            <label>10 CMC</label>
        </rules>
    </decisions>
    <decisions>
        <name>X2_CMC</name>
        <label>2+ CMC</label>
        <locationX>2244</locationX>
        <locationY>625</locationY>
        <defaultConnector>
            <targetReference>Check_PO_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less than 2 CMC</defaultConnectorLabel>
        <rules>
            <name>X2_CMC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_JabberwockeeorCMC</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_2nd_CMC</targetReference>
            </connector>
            <label>2+ CMC</label>
        </rules>
    </decisions>
    <decisions>
        <name>X3_CMC</name>
        <label>3+ CMC</label>
        <locationX>2249</locationX>
        <locationY>173</locationY>
        <defaultConnector>
            <targetReference>Check_PO_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less than 3 CMC</defaultConnectorLabel>
        <rules>
            <name>X3_CMC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_JabberwockeeorCMC</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_3rd_CMC</targetReference>
            </connector>
            <label>3+ CMC</label>
        </rules>
    </decisions>
    <decisions>
        <name>X4_CMC</name>
        <label>4+ CMC</label>
        <locationX>2405</locationX>
        <locationY>184</locationY>
        <defaultConnector>
            <targetReference>Check_PO_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less than 4 CMC</defaultConnectorLabel>
        <rules>
            <name>X4_CMC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_JabberwockeeorCMC</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_4th_CMC</targetReference>
            </connector>
            <label>4+ CMC</label>
        </rules>
    </decisions>
    <decisions>
        <name>X5_CMC</name>
        <label>5+ CMC</label>
        <locationX>2405</locationX>
        <locationY>633</locationY>
        <defaultConnector>
            <targetReference>Check_PO_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less than 5</defaultConnectorLabel>
        <rules>
            <name>X5_CMC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_JabberwockeeorCMC</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_5th_CMC</targetReference>
            </connector>
            <label>5+ CMC</label>
        </rules>
    </decisions>
    <decisions>
        <name>X6_CMC</name>
        <label>6+ CMC</label>
        <locationX>2388</locationX>
        <locationY>1084</locationY>
        <defaultConnector>
            <targetReference>Check_PO_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less Than 6</defaultConnectorLabel>
        <rules>
            <name>X6_CMC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_JabberwockeeorCMC</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_6th_CMC</targetReference>
            </connector>
            <label>6+ CMC</label>
        </rules>
    </decisions>
    <decisions>
        <name>X7_CMC</name>
        <label>7+ CMC</label>
        <locationX>2614</locationX>
        <locationY>759</locationY>
        <defaultConnector>
            <targetReference>Check_PO_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less than 7</defaultConnectorLabel>
        <rules>
            <name>X7_CMC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_JabberwockeeorCMC</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_7th_CMC</targetReference>
            </connector>
            <label>7+ CMC</label>
        </rules>
    </decisions>
    <decisions>
        <name>X8_CMC</name>
        <label>8+ CMC</label>
        <locationX>2599</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Check_PO_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less than 8</defaultConnectorLabel>
        <rules>
            <name>X8_CMC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_JabberwockeeorCMC</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_8th_CMC</targetReference>
            </connector>
            <label>8+ CMC</label>
        </rules>
    </decisions>
    <decisions>
        <name>X9_CMC</name>
        <label>9+ CMC</label>
        <locationX>2780</locationX>
        <locationY>41</locationY>
        <defaultConnector>
            <targetReference>Check_PO_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less than 9</defaultConnectorLabel>
        <rules>
            <name>X9_CMC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_JabberwockeeorCMC</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_9th_CMC</targetReference>
            </connector>
            <label>9+ CMC</label>
        </rules>
    </decisions>
    <description>Uses Custom Metadata Type to store SPA partnership data</description>
    <dynamicChoiceSets>
        <name>DownmarketRegCodeProgramAssociation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Downmarket_Reg_Code_Program_Associations__c</picklistField>
        <picklistObject>ClientMemberCode__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PartnerAccountRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_is_used_in_Downmarket_CMCs__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varCMCPrefix</assignToReference>
            <field>CMC_Prefix__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>POChoices</name>
        <dataType>String</dataType>
        <displayField>Program_Name_Contract_Path__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentCOID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <sortField>Program_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>POChoices_Current</name>
        <dataType>String</dataType>
        <displayField>Program_Name_Contract_Path__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentCOID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>POChoices_Partner</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PartnershipAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Actual_Launch_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>What_Cohort_Date_is_Client_Launching</elementReference>
            </value>
        </filters>
        <filters>
            <field>Client_Overview__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <sortField>Program_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_ClientOverviews</name>
        <dataType>String</dataType>
        <displayField>CO_Name_Number__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientOverviewID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_SPACMCPrefix</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SPA_CMC_Prefix__mdt</object>
        <outputAssignments>
            <assignToReference>var_PartnershipAccountID</assignToReference>
            <field>Account_Long_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCMCPrefix</assignToReference>
            <field>CMC_Prefix__c</field>
        </outputAssignments>
        <sortField>MasterLabel</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>ClientMemberCodeRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Label.ClientMemberCodeRecordTypeId}</expression>
    </formulas>
    <formulas>
        <name>ClientOverviewID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Program_Agreement_Record_Type}</expression>
    </formulas>
    <formulas>
        <name>CMC_Codes_Formula</name>
        <dataType>String</dataType>
        <expression>CASE( {!Var_JabberwockeeorCMC},
10,{!Create_10th_CMC},
9, {!Create_9th_CMC},
8, {!Create_8th_CMC},
7, {!Create_7th_CMC},
6, {!Create_6th_CMC},
5,{!Create_5th_CMC},
4, {!Create_4th_CMC},
3, {!Create_3rd_CMC},
2, {!Create_2nd_CMC},
1, {!Create_1st_CMC},
{!Create_RegCode_Record} )</expression>
    </formulas>
    <formulas>
        <name>CMCPrefixPlusAcctIdentifier</name>
        <dataType>String</dataType>
        <expression>{!varCMCPrefix} + {!Account_Identifier}</expression>
    </formulas>
    <formulas>
        <name>CMCToProgramRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Label.CMCToProgramRecordTypeID}</expression>
    </formulas>
    <formulas>
        <name>CMCToRegistrationRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Label.CMCToRegistrationRecordTypeID}</expression>
    </formulas>
    <formulas>
        <name>currentCOID</name>
        <dataType>String</dataType>
        <expression>LEFT(TRIM( {!SelectedCO} ), 18)</expression>
    </formulas>
    <formulas>
        <name>currentPOID</name>
        <dataType>String</dataType>
        <expression>LEFT(TRIM( {!SelectedPOs} ), 18)</expression>
    </formulas>
    <formulas>
        <name>currentPOID_Partner</name>
        <dataType>String</dataType>
        <expression>LEFT(TRIM( {!SelectedPO_Partner} ), 18)</expression>
    </formulas>
    <formulas>
        <name>orgBaseURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <formulas>
        <name>RegCode_Formula</name>
        <dataType>String</dataType>
        <expression> {!Enter_Registration_Code_Nonstandard}</expression>
    </formulas>
    <formulas>
        <name>RegCode_Partner</name>
        <dataType>String</dataType>
        <expression>{!Get_Partner_Registration_Only_Record.ClientMemberCode__c}</expression>
    </formulas>
    <formulas>
        <name>RegCodeAssociation_Formula</name>
        <dataType>String</dataType>
        <expression>CASE({!varProgram},
&quot;Diabetes&quot;, &quot;DM&quot;,
&quot;DiabetesHypertension&quot;, &quot;DM + HTN&quot;,
&quot;DiabetesPrediabetes&quot;, &quot;DM + DPP&quot;,
&quot;DiabetesHypertensionPrediabetes&quot;, &quot;DM + DPP + HTN&quot;,
&quot;Hypertension&quot;, &quot;HTN&quot;,
&quot;Prediabetes&quot;, &quot;DPP&quot;,
&quot;N/A&quot;)</expression>
    </formulas>
    <formulas>
        <name>RegistrationOnlyRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Label.RegistrationOnlyRecordTypeID}</expression>
    </formulas>
    <formulas>
        <name>TrimSelectedCO</name>
        <dataType>String</dataType>
        <expression>RIGHT (TRIM ({!SelectedCO} ), LEN( TRIM ({!SelectedCO} )) -19)</expression>
    </formulas>
    <formulas>
        <name>TrimSelectedPOs</name>
        <dataType>String</dataType>
        <expression>RIGHT (TRIM ({!SelectedPOs} ), LEN( TRIM ({!SelectedPOs} )) -19)</expression>
    </formulas>
    <formulas>
        <name>TrimSelectePOs_Partner</name>
        <dataType>String</dataType>
        <expression>RIGHT (TRIM ({!SelectedPO_Partner} ), LEN( TRIM ({!SelectedPO_Partner} )) -19)</expression>
    </formulas>
    <formulas>
        <name>Var_JabberwockeeMinus1</name>
        <dataType>Number</dataType>
        <expression>{!Var_JabberwockeeorCMC} - 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varWhatPartnership</name>
        <dataType>String</dataType>
        <expression>{!Get_Partner_Account.Id}</expression>
    </formulas>
    <interviewLabel>CMC/CMCA Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CMC/CMCA Creation v2.0</label>
    <loops>
        <name>Loop_All_PO</name>
        <label>Loop All PO</label>
        <locationX>1631</locationX>
        <locationY>2112</locationY>
        <collectionReference>Get_all_Program_Overviews</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Selected_Current_PO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_CMC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Thru_GetClientOverview</name>
        <label>Loop Thru GetClientOverview</label>
        <locationX>1948</locationX>
        <locationY>1511</locationY>
        <collectionReference>GetClientOverviews</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Current_Client_Overview</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Multiple_or_Single_CO_selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_10th_CMC</name>
        <label>Create 10th CMC</label>
        <locationX>2798</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Create_CMCAReg_10</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientMemberCode__c</field>
            <value>
                <elementReference>Enter_Client_Member_Code_10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ClientMemberCodeRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsedforRegistration__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ClientMemberCode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_1st_CMC</name>
        <label>Create 1st CMC</label>
        <locationX>2261</locationX>
        <locationY>893</locationY>
        <connector>
            <targetReference>Create_CMCAReg</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientMemberCode__c</field>
            <value>
                <elementReference>Enter_Client_Member_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ClientMemberCodeRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsedforRegistration__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ClientMemberCode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_2nd_CMC</name>
        <label>Create 2nd CMC</label>
        <locationX>2245</locationX>
        <locationY>486</locationY>
        <connector>
            <targetReference>Create_CMCAReg_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientMemberCode__c</field>
            <value>
                <elementReference>Enter_Client_Member_Code_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ClientMemberCodeRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsedforRegistration__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ClientMemberCode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_3rd_CMC</name>
        <label>Create 3rd CMC</label>
        <locationX>2263</locationX>
        <locationY>26</locationY>
        <connector>
            <targetReference>Create_CMCAReg_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientMemberCode__c</field>
            <value>
                <elementReference>Enter_Client_Member_Code_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ClientMemberCodeRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsedforRegistration__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ClientMemberCode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_4th_CMC</name>
        <label>Create 4th CMC</label>
        <locationX>2419</locationX>
        <locationY>339</locationY>
        <connector>
            <targetReference>Create_CMCAReg_4</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientMemberCode__c</field>
            <value>
                <elementReference>Enter_Client_Member_Code_4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ClientMemberCodeRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsedforRegistration__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ClientMemberCode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_5th_CMC</name>
        <label>Create 5th CMC</label>
        <locationX>2411</locationX>
        <locationY>770</locationY>
        <connector>
            <targetReference>Create_CMCAReg_5</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientMemberCode__c</field>
            <value>
                <elementReference>Enter_Client_Member_Code_5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ClientMemberCodeRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsedforRegistration__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ClientMemberCode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_6th_CMC</name>
        <label>Create 6th CMC</label>
        <locationX>2615</locationX>
        <locationY>1005</locationY>
        <connector>
            <targetReference>Create_CMCAReg_6</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientMemberCode__c</field>
            <value>
                <elementReference>Enter_Client_Member_Code_6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ClientMemberCodeRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsedforRegistration__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ClientMemberCode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_7th_CMC</name>
        <label>Create 7th CMC</label>
        <locationX>2616</locationX>
        <locationY>604</locationY>
        <connector>
            <targetReference>Create_CMCAReg_7</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientMemberCode__c</field>
            <value>
                <elementReference>Enter_Client_Member_Code_7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ClientMemberCodeRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsedforRegistration__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ClientMemberCode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_8th_CMC</name>
        <label>Create 8th CMC</label>
        <locationX>2608</locationX>
        <locationY>175</locationY>
        <connector>
            <targetReference>Create_CMCAReg_8</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientMemberCode__c</field>
            <value>
                <elementReference>Enter_Client_Member_Code_8</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ClientMemberCodeRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsedforRegistration__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ClientMemberCode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_9th_CMC</name>
        <label>Create 9th CMC</label>
        <locationX>2789</locationX>
        <locationY>195</locationY>
        <connector>
            <targetReference>Create_CMCAReg_9</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientMemberCode__c</field>
            <value>
                <elementReference>Enter_Client_Member_Code_9</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ClientMemberCodeRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsedforRegistration__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ClientMemberCode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CMC</name>
        <label>Create CMC</label>
        <locationX>1952</locationX>
        <locationY>1951</locationY>
        <connector>
            <targetReference>Check_PO_Selected_Partner</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientMemberCode__c</field>
            <value>
                <elementReference>CMCPrefixPlusAcctIdentifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ClientMemberCodeRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsedforRegistration__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ClientMemberCode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CMC_To_Registration</name>
        <label>Create CMC To Registration</label>
        <locationX>3560</locationX>
        <locationY>1938</locationY>
        <connector>
            <targetReference>Get_Partner_Registration_Only_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>var_PartnershipAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientMemberCode__c</field>
            <value>
                <elementReference>Create_CMC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CMCToRegistrationRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegistrationCode__c</field>
            <value>
                <elementReference>Get_SPA_Reg_Code.Registration_Code_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>CMCAssociation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CMCA_Partners</name>
        <label>Create CMCA Partners</label>
        <locationX>2353</locationX>
        <locationY>1938</locationY>
        <connector>
            <targetReference>Get_SPA_Reg_Code</targetReference>
        </connector>
        <inputReference>ListCMCAForInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_CMCAReg</name>
        <label>Create CMCAReg</label>
        <locationX>2253</locationX>
        <locationY>761</locationY>
        <connector>
            <targetReference>X2_CMC</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientMemberCode__c</field>
            <value>
                <elementReference>Create_1st_CMC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CMCToRegistrationRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegistrationCode__c</field>
            <value>
                <elementReference>reg_Code_Only</elementReference>
            </value>
        </inputAssignments>
        <object>CMCAssociation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CMCAReg_10</name>
        <label>Create CMCAReg_10</label>
        <locationX>2789</locationX>
        <locationY>873</locationY>
        <connector>
            <targetReference>Check_PO_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientMemberCode__c</field>
            <value>
                <elementReference>Create_10th_CMC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CMCToRegistrationRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegistrationCode__c</field>
            <value>
                <elementReference>reg_Code_Only</elementReference>
            </value>
        </inputAssignments>
        <object>CMCAssociation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CMCAReg_2</name>
        <label>Create CMCAReg_2</label>
        <locationX>2248</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>X3_CMC</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientMemberCode__c</field>
            <value>
                <elementReference>Create_2nd_CMC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CMCToRegistrationRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegistrationCode__c</field>
            <value>
                <elementReference>reg_Code_Only</elementReference>
            </value>
        </inputAssignments>
        <object>CMCAssociation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CMCAReg_3</name>
        <label>Create CMCAReg_3</label>
        <locationX>2419</locationX>
        <locationY>28</locationY>
        <connector>
            <targetReference>X4_CMC</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientMemberCode__c</field>
            <value>
                <elementReference>Create_3rd_CMC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CMCToRegistrationRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegistrationCode__c</field>
            <value>
                <elementReference>reg_Code_Only</elementReference>
            </value>
        </inputAssignments>
        <object>CMCAssociation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CMCAReg_4</name>
        <label>Create CMCAReg_4</label>
        <locationX>2419</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>X5_CMC</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientMemberCode__c</field>
            <value>
                <elementReference>Create_4th_CMC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CMCToRegistrationRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegistrationCode__c</field>
            <value>
                <elementReference>reg_Code_Only</elementReference>
            </value>
        </inputAssignments>
        <object>CMCAssociation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CMCAReg_5</name>
        <label>Create CMCAReg_5</label>
        <locationX>2409</locationX>
        <locationY>895</locationY>
        <connector>
            <targetReference>X6_CMC</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientMemberCode__c</field>
            <value>
                <elementReference>Create_5th_CMC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CMCToRegistrationRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegistrationCode__c</field>
            <value>
                <elementReference>reg_Code_Only</elementReference>
            </value>
        </inputAssignments>
        <object>CMCAssociation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CMCAReg_6</name>
        <label>Create CMCAReg_6</label>
        <locationX>2603</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>X7_CMC</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientMemberCode__c</field>
            <value>
                <elementReference>Create_6th_CMC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CMCToRegistrationRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegistrationCode__c</field>
            <value>
                <elementReference>reg_Code_Only</elementReference>
            </value>
        </inputAssignments>
        <object>CMCAssociation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CMCAReg_7</name>
        <label>Create CMCAReg_7</label>
        <locationX>2616</locationX>
        <locationY>480</locationY>
        <connector>
            <targetReference>X8_CMC</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientMemberCode__c</field>
            <value>
                <elementReference>Create_7th_CMC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CMCToRegistrationRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegistrationCode__c</field>
            <value>
                <elementReference>reg_Code_Only</elementReference>
            </value>
        </inputAssignments>
        <object>CMCAssociation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CMCAReg_8</name>
        <label>Create CMCAReg_8</label>
        <locationX>2598</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>X9_CMC</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientMemberCode__c</field>
            <value>
                <elementReference>Create_8th_CMC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CMCToRegistrationRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegistrationCode__c</field>
            <value>
                <elementReference>reg_Code_Only</elementReference>
            </value>
        </inputAssignments>
        <object>CMCAssociation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CMCAReg_9</name>
        <label>Create CMCAReg_9</label>
        <locationX>2783</locationX>
        <locationY>344</locationY>
        <connector>
            <targetReference>X10_CMC</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientMemberCode__c</field>
            <value>
                <elementReference>Create_9th_CMC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CMCToRegistrationRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegistrationCode__c</field>
            <value>
                <elementReference>reg_Code_Only</elementReference>
            </value>
        </inputAssignments>
        <object>CMCAssociation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CMCAs</name>
        <label>Create CMCAs</label>
        <locationX>3026</locationX>
        <locationY>1333</locationY>
        <connector>
            <targetReference>Decrease_Var</targetReference>
        </connector>
        <inputReference>ListCMCAForInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_RegCode_Record</name>
        <label>Create RegCode Record</label>
        <locationX>2516</locationX>
        <locationY>1199</locationY>
        <connector>
            <targetReference>Check_PO_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientMemberCode__c</field>
            <value>
                <elementReference>RegCode_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ClientMemberCodeRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsedforRegistration__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ClientMemberCode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>reg_Code_Only</name>
        <label>Reg Code Only</label>
        <locationX>2251</locationX>
        <locationY>1006</locationY>
        <connector>
            <targetReference>Create_1st_CMC</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientMemberCode__c</field>
            <value>
                <elementReference>Enter_Registration_Code_Nonstandard</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RegistrationOnlyRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsedforRegistration__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ClientMemberCode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>819</locationX>
        <locationY>1180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Program_Overviews</name>
        <label>Get all Program Overviews</label>
        <locationX>1630</locationX>
        <locationY>1966</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_PO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PartnershipAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Actual_Launch_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>What_Cohort_Date_is_Client_Launching</elementReference>
            </value>
        </filters>
        <filters>
            <field>Client_Overview__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <sortField>Program_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Account</name>
        <label>Get Partner Account</label>
        <locationX>1280</locationX>
        <locationY>1973</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_POSelected_Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PartnershipAccountID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Registration_Only_Record</name>
        <label>Get Partner Registration Only Record</label>
        <locationX>3695</locationX>
        <locationY>1938</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SPA_Reg_Code.Registration_Code_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ClientMemberCode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SPA_Reg_Code</name>
        <label>Get SPA Reg Code</label>
        <locationX>2954</locationX>
        <locationY>1936</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Viable_Programs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Programs__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RegCodeAssociation_Formula</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPA_CMC_Prefix__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>What_Partnership</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SPA_Reg_Codes__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetClientOverviews</name>
        <label>GetClientOverviews</label>
        <locationX>1243</locationX>
        <locationY>1199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountofCO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientOverviewID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Choose_POs</name>
        <label>Choose POs</label>
        <locationX>2119</locationX>
        <locationY>1065</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Make_SelectedCO_Empty</targetReference>
        </connector>
        <fields>
            <name>PO_display_nonsemicolon</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please select the Program Overview(s) to associate the Registration Code&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Enter_Registration_Code_Nonstandard} &lt;/b&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;with&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_Program_Overviews2</name>
            <choiceReferences>POChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Program Overviews</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MultiplePO_Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 6, 6);&quot;&gt;&lt;u&gt;Please ensure all information is correct before clicking Next. You will NOT be able to go backwards.&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DidnotfindRegCode</name>
        <label>DidnotfindRegCode</label>
        <locationX>3138</locationX>
        <locationY>2128</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoRegCodeAssociation_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The following CMC was created:&lt;/span&gt;&lt;a href=&quot;{!orgBaseURL}{!Create_CMC}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;b&gt;{!CMCPrefixPlusAcctIdentifier}&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt; &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Salesforce could not find a Registration Code associated with &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!What_Partnership} &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;and Programs: &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!varProgram} . &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please click the hyperlinks to verify the CMC, Reg Code, and associations were created correctly. If incorrect, delete the associations first, then the CMC.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(241, 9, 9);&quot;&gt;&lt;u&gt;&lt;/u&gt;&lt;/b&gt;&lt;u style=&quot;color: rgb(241, 9, 9);&quot;&gt;No CMC to Registration has been created. Please create it manually. &lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DownmarketScreen2</name>
        <label>DownmarketScreen2</label>
        <locationX>1131</locationX>
        <locationY>1957</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Partner_Account</targetReference>
        </connector>
        <fields>
            <name>CMCPrefix_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Based on the Partner Account selected, your Client Member Code Prefix will be:&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!varCMCPrefix}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&amp;nbsp;The Account Identifier is the characters/numbers that are added after the Client Member Code Prefix and vary by partnership.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Identifier</name>
            <dataType>String</dataType>
            <fieldText>Please provide the Account Identifier for the client (all letters in capitals).</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;For example, if the Partner Account was BCBSIL, the Client Member Code Prefix would be &quot;BCBSIL&quot;, and the Account Identifier would be the account number provided by the account executive. If the account number for this client was 123456, then you would type &quot;123456&quot; as the Account Identifier, which would create the Client Member Code &quot;BCBSIL-123456&quot;.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 14, 14);&quot;&gt;The Account Identifier must contain only UPPERCASE letters, numbers, and/or a dash&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX( {!Account_Identifier},&quot;^[0-9 A-Z -]*&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Choose_Program_Overviews_partner</name>
            <choiceReferences>POChoices_Partner</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Program Overview(s) for this client (i.e. which programs this client will be launching).</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;If the Program Overview(s) is not appearing, then a cohort has not been created yet for this Partner Account on (Cohort Launch Date). Please reach out to Sales Operations to create the new cohort. &lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>WarningText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(234, 6, 6);&quot;&gt;&lt;u&gt;Please ensure all information is correct before clicking Next. You will NOT be able to go backwards.&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enterprise_Screen</name>
        <label>Enterprise Screen</label>
        <locationX>1448</locationX>
        <locationY>1795</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Single_or_Multiple_COs</targetReference>
        </connector>
        <fields>
            <name>Enterprise_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Based on the Account Record Type, &lt;/span&gt;&lt;b style=&quot;font-size: 16px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Account.Name}, &lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;will be set up as an Enterprise Client. If this is a mistake, please reach out to Sales Operations to fix the Account Record Type before proceeding.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_Registration_Code_Nonstandard</name>
            <dataType>String</dataType>
            <fieldText>Please type in the Registration Code for your client (in all capital letters).</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Reg Code / CMC Rules:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 17.5px;&quot;&gt; (1)&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 17.5px;&quot;&gt; 32 character limit&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 17.5px;&quot;&gt; &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 17.5px;&quot;&gt;(2)&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 17.5px;&quot;&gt; All letters should be capitalized&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 17.5px;&quot;&gt; &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 17.5px;&quot;&gt;(3)&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 17.5px;&quot;&gt; No spaces&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 17.5px;&quot;&gt; &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 17.5px;&quot;&gt;(4)&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 17.5px;&quot;&gt; If characters need to be separated, a dash should be used&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 17.5px;&quot;&gt; &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 17.5px;&quot;&gt;(5)&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 17.5px;&quot;&gt; No other symbols should be used besides dashes (ONLY Letters and Numbers)&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 14, 14); font-family: Arial, Helvetica, sans-serif; font-size: 14.2px;&quot;&gt;The Registration Code must contain only UPPERCASE letters, numbers, and/or a dash&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX( {!Enter_Registration_Code_Nonstandard},&quot;^[0-9 A-Z -]*&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Jaborwockee_or_of_CMCs</name>
            <choiceReferences>SameAsRegCode</choiceReferences>
            <choiceReferences>One</choiceReferences>
            <choiceReferences>Two</choiceReferences>
            <choiceReferences>Three</choiceReferences>
            <choiceReferences>Four</choiceReferences>
            <choiceReferences>Five</choiceReferences>
            <choiceReferences>Six</choiceReferences>
            <choiceReferences>Seven</choiceReferences>
            <choiceReferences>Eight</choiceReferences>
            <choiceReferences>Nine</choiceReferences>
            <choiceReferences>Ten</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>If your Client Member Code is the same as your Registration Code, select this option in the drop-down list below (this is the case for most clients).</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Jabberwocky_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;If you have multiple Client Member Codes associated with this Registration Code, please select the number of CMCs from the drop-down list. You will need to type in each of the CMCs (in all capital letters).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_Client_Member_Code</name>
            <dataType>String</dataType>
            <fieldText>Enter Client Member Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 14, 14);&quot;&gt;The Client Member Code must contain only UPPERCASE letters, numbers, and/or a dash&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX( {!Enter_Client_Member_Code},&quot;^[0-9 A-Z -]*&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Jaborwockee_or_of_CMCs</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>One</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Client_Member_Code_2</name>
            <dataType>String</dataType>
            <fieldText>Enter Client Member Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 14, 14);&quot;&gt;The Client Member Code must contain only UPPERCASE letters, numbers, and/or a dash&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX( {!Enter_Client_Member_Code_2},&quot;^[0-9 A-Z -]*&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Jaborwockee_or_of_CMCs</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>Two</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Client_Member_Code_3</name>
            <dataType>String</dataType>
            <fieldText>Enter Client Member Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 14, 14);&quot;&gt;The Client Member Code must contain only UPPERCASE letters, numbers, and/or a dash&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX( {!Enter_Client_Member_Code_3},&quot;^[0-9 A-Z -]*&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Jaborwockee_or_of_CMCs</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>Three</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Client_Member_Code_4</name>
            <dataType>String</dataType>
            <fieldText>Enter Client Member Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 14, 14);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;The Client Member Code must contain only UPPERCASE letters, numbers, and/or a dash&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX( {!Enter_Client_Member_Code_4},&quot;^[0-9 A-Z -]*&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Jaborwockee_or_of_CMCs</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>Four</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Client_Member_Code_5</name>
            <dataType>String</dataType>
            <fieldText>Enter Client Member Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 14, 14);&quot;&gt;The Client Member Code must contain only UPPERCASE letters, numbers, and/or a dash&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX( {!Enter_Client_Member_Code_5},&quot;^[0-9 A-Z -]*&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Jaborwockee_or_of_CMCs</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>Five</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Client_Member_Code_6</name>
            <dataType>String</dataType>
            <fieldText>Enter Client Member Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 14, 14);&quot;&gt;The Client Member Code must contain only UPPERCASE letters, numbers, and/or a dash&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>
REGEX( {!Enter_Client_Member_Code_6},&quot;^[0-9 A-Z -]*&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Jaborwockee_or_of_CMCs</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>6.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Client_Member_Code_7</name>
            <dataType>String</dataType>
            <fieldText>Enter Client Member Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 14, 14);&quot;&gt;The Client Member Code must contain only UPPERCASE letters, numbers, and/or a dash&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX( {!Enter_Client_Member_Code_7},&quot;^[0-9 A-Z -]*&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Jaborwockee_or_of_CMCs</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>7.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Client_Member_Code_8</name>
            <dataType>String</dataType>
            <fieldText>Enter Client Member Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 14, 14);&quot;&gt;The Client Member Code must contain only UPPERCASE letters, numbers, and/or a dash&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX( {!Enter_Client_Member_Code_8},&quot;^[0-9 A-Z -]*&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Jaborwockee_or_of_CMCs</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>8.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Client_Member_Code_9</name>
            <dataType>String</dataType>
            <fieldText>Enter Client Member Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 14, 14);&quot;&gt;The Client Member Code must contain only UPPERCASE letters, numbers, and/or a dash&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX( {!Enter_Client_Member_Code_9},&quot;^[0-9 A-Z -]*&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Jaborwockee_or_of_CMCs</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>9.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Client_Member_Code_10</name>
            <dataType>String</dataType>
            <fieldText>Enter Client Member Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 14, 14);&quot;&gt;The Client Member Code must contain only UPPERCASE letters, numbers, and/or a dash&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX( {!Enter_Client_Member_Code_10},&quot;^[0-9 A-Z -]*&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Jaborwockee_or_of_CMCs</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>10.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MoreRegCodes_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(27, 26, 26);&quot;&gt;If you have multiple Registration Codes, you will have the option to create more as needed. Create the first Registration Code and its associations first, and you will be prompted to repeat this process for the additional Registration Codes.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final_Screen</label>
        <locationX>3899</locationX>
        <locationY>1928</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Final_Display_Standard</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The following Registration Code has been created: &lt;/span&gt;&lt;a href=&quot;{!orgBaseURL}{!reg_Code_Only}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;b&gt;{!Enter_Registration_Code_Nonstandard} &lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please click the hyperlink to verify the CMC(s) and associations were created correctly. If incorrect, delete the associations first, then the CMC(s).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Jaborwockee_or_of_CMCs</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CO1AndCMC2_display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The following Registration Code has been created: &lt;/span&gt;&lt;a href=&quot;{!orgBaseURL}{!Create_RegCode_Record}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;b&gt;{!Enter_Registration_Code_Nonstandard} &lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please click the hyperlink to verify the CMC(s) and associations were created correctly. If incorrect, delete the associations first, then the CMC(s).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Jaborwockee_or_of_CMCs</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Final_Enterprise</name>
            <fieldText>&lt;p&gt;Success! The Registration Code(s), CMC(s), and associations have been created for this client.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>CountofCOs</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Final_Downmarket</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The following CMC was created:&lt;/span&gt;&lt;a href=&quot;{!orgBaseURL}{!Create_CMC}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;b&gt;{!CMCPrefixPlusAcctIdentifier}&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt; &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This CMC has the registration code: &lt;/span&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; &lt;/span&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!RegCode_Partner}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please click the hyperlinks to verify the CMC, Reg Code, and associations were created correctly. If incorrect, delete the associations first, then the CMC.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Account.RecordType.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Downmarket Client</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MultipleCO</name>
        <label>MultipleCO</label>
        <locationX>1788</locationX>
        <locationY>1323</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_CO</targetReference>
        </connector>
        <fields>
            <name>ChooseCO_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please select the Client Overview(s) that contain the programs for the Registration Code &lt;/span&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!Enter_Registration_Code_Nonstandard}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_Client_Overview_2</name>
            <choiceReferences>RCS_ClientOverviews</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Client Overview</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PartnershipScreen</name>
        <label>PartnershipScreen</label>
        <locationX>949</locationX>
        <locationY>1951</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DownmarketScreen2</targetReference>
        </connector>
        <fields>
            <name>Downmarket_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Based on the Account Record Type,  &lt;/span&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!Get_Account.Name}, &lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;will be set up as an Select Partner Account Client. If this is a mistake, please reach out to Sales Operations to fix the Account Record Type before proceeding.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_Partnership</name>
            <choiceReferences>RCS_SPACMCPrefix</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What Partner Account is this client launching through?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_Cohort_Date_is_Client_Launching</name>
            <dataType>Date</dataType>
            <fieldText>What is the date of the cohort this client is launching in?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Repeat_Screen2</name>
        <label>Repeat_Screen</label>
        <locationX>3657</locationX>
        <locationY>1416</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reset_Selected_POs</targetReference>
        </connector>
        <fields>
            <name>Repeat_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The following Registration Code has been created: &lt;/span&gt;&lt;a href=&quot;{!orgBaseURL}{!reg_Code_Only}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;b&gt;{!Enter_Registration_Code_Nonstandard} &lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please click the hyperlink to verify the CMC(s) and associations were created correctly. If incorrect, delete the associations first, then the CMC(s).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Jaborwockee_or_of_CMCs</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MultiCO_SameAsRegCode</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The following Registration Code has been created: &lt;/span&gt;&lt;a href=&quot;{!orgBaseURL}{!Create_RegCode_Record}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;b&gt;{!Enter_Registration_Code_Nonstandard} &lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please click the hyperlink to verify the CMC(s) and associations were created correctly. If incorrect, delete the associations first, then the CMC(s).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Jaborwockee_or_of_CMCs</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Would_you_like_to_create_more_CMCs</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Would you like to create more Registration Codes?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_POs_Current</name>
        <label>Select POs  Current</label>
        <locationX>1600</locationX>
        <locationY>1039</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Trim_Selected_CO</targetReference>
        </connector>
        <fields>
            <name>PO_Display_Semicolon</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please select the Program Overview(s) to associate the Registration Code&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Enter_Registration_Code_Nonstandard} &lt;/b&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;with&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_Program_Overview_s</name>
            <choiceReferences>POChoices_Current</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Program Overview(s)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MulitplePO_Display2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;If you selected multiple Client Overviews, you will be able to select the remaining Program Overviews as well on the following page(s).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>X0_Records_Screen</name>
        <label>0 Records_Screen</label>
        <locationX>1076</locationX>
        <locationY>1559</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ZeroRecords_Display</name>
            <fieldText>&lt;p&gt;No Active or Draft Client Overviews were found. CMC creation cannot be continued at this moment, please work with Contract Ops to resolve first. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>444</locationX>
        <locationY>1157</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CountofCMC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountofCOs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CountofPartnerRegCode2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountofPO</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ListCMCAForInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CMCAssociation__c</objectType>
    </variables>
    <variables>
        <name>ListforCMCAReg</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMCAssociation__c</objectType>
    </variables>
    <variables>
        <name>ObjCMCA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMCAssociation__c</objectType>
    </variables>
    <variables>
        <name>ObjCMCA_Reg</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMCAssociation__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedCO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedPO_Partner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedPOs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedPOs_Original</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_JabberwockeeorCMC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_PartnershipAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCMCPrefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProgram</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
