src/flows/Create_TaskRay_Predecessor_Task_and_Dependency.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Predecessor_Task</name>
        <label>Create Predecessor Task</label>
        <locationX>337</locationX>
        <locationY>209</locationY>
        <actionName>TASKRAY__trCloneTask</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Dependency</targetReference>
        </connector>
        <inputParameters>
            <name>taskEndDate</name>
            <value>
                <elementReference>inputPredecessorTaskEndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>predecessorTaskRecord.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectId</name>
            <value>
                <elementReference>inputProjectRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taskStartDate</name>
            <value>
                <elementReference>TaskStartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTaskId</name>
            <value>
                <elementReference>inputPredecessorTaskTemplateId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>predecessorTaskRecord</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <formulas>
        <name>TaskStartDate</name>
        <dataType>Date</dataType>
        <expression>IF({!predecessorTaskRecord.TASKRAY__trBusinessHrsOverride__c} = TRUE,
{!inputPredecessorTaskEndDate} - {!predecessorTaskRecord.TASKRAY__trDuration__c},
{!inputPredecessorTaskEndDate} - {!predecessorTaskRecord.TASKRAY__trBusinessDuration__c}
) - 1</expression>
    </formulas>
    <interviewLabel>Create TaskRay Dependency {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create TaskRay Predecessor Task and Dependency</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Dependency</name>
        <label>Create Dependency</label>
        <locationX>508</locationX>
        <locationY>49</locationY>
        <inputAssignments>
            <field>TASKRAY__trDependencyType__c</field>
            <value>
                <stringValue>Finish-To-Start</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TASKRAY__trPredecessorTask__c</field>
            <value>
                <elementReference>predecessorTaskRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TASKRAY__trSuccessorTask__c</field>
            <value>
                <elementReference>inputSuccessorTaskRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>TASKRAY__trDependency__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Predecessor_Task</name>
        <label>Get Predecessor Task</label>
        <locationX>183</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Predecessor_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputPredecessorTaskTemplateId</elementReference>
            </value>
        </filters>
        <object>TASKRAY__Project_Task__c</object>
        <outputReference>predecessorTaskRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TASKRAY__trBusinessDuration__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>TASKRAY__trDuration__c</queriedFields>
        <queriedFields>TASKRAY__trBusinessHrsOverride__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Predecessor_Task</startElementReference>
    <status>Active</status>
    <variables>
        <name>inputPredecessorTaskEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputPredecessorTaskTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputProjectRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputSuccessorTaskRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>predecessorTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>successorTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
</Flow>
