src/flows/Create_Related_Client_Overview_and_Program_Overview_Records.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Program_Overview_to_Collection</name>
        <label>Add Program Overview to Collection</label>
        <locationX>631</locationX>
        <locationY>744</locationY>
        <assignmentItems>
            <assignToReference>allProgramOverviewsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentProgramOverview</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughAllRelatedOppPrograms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_HT900</name>
        <label>Assign HT900</label>
        <locationX>478</locationX>
        <locationY>893</locationY>
        <assignmentItems>
            <assignToReference>currentProgramOverview.New_Device_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HT900</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Program_Overview_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_HTAND</name>
        <label>Assign HTAND</label>
        <locationX>339</locationX>
        <locationY>735</locationY>
        <assignmentItems>
            <assignToReference>currentProgramOverview.New_Device_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HTAND</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Program_Overview_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_current_Program_Overview</name>
        <label>Assign values to current Program Overview</label>
        <locationX>898</locationX>
        <locationY>1071</locationY>
        <assignmentItems>
            <assignToReference>currentProgramOverview.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputAccId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentProgramOverview.Client_Overview__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientOverviewId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentProgramOverview.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>programOverviewRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentProgramOverview.Program_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProgramName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentProgramOverview.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updatedProgramOverviewName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentProgramOverview.Program_Implementation_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contracting</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Pricing_Structure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Client_Overview_Name_is_Account</name>
        <label>Client Overview Name is Account</label>
        <locationX>51</locationX>
        <locationY>558</locationY>
        <assignmentItems>
            <assignToReference>clientOverviewName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputAccName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>programOverviewName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!inputAccName} - &amp;&amp;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Client_Overview</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Client_Overview_Name_is_Formulated</name>
        <label>Client Overview Name is Formulated</label>
        <locationX>473</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>clientOverviewName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!inputAccName} - {!foundContractPath.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>programOverviewName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!inputAccName} - &amp;&amp; - {!foundContractPath.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Client_Overview</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Pricing_Structure</name>
        <label>Check Pricing Structure</label>
        <locationX>620</locationX>
        <locationY>1074</locationY>
        <defaultConnector>
            <targetReference>Add_Program_Overview_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentOpportunityProgram.Pricing_Structure__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Program_Overview_to_Collection</targetReference>
            </connector>
            <label>Null</label>
        </rules>
        <rules>
            <name>HTN_Bluetooth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentOpportunityProgram.Program_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hypertension</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentOpportunityProgram.Pricing_Structure__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bluetooth</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_HTAND</targetReference>
            </connector>
            <label>HTN Bluetooth</label>
        </rules>
        <rules>
            <name>HTN_Cellular</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentOpportunityProgram.Program_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hypertension</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentOpportunityProgram.Pricing_Structure__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cellular</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_HT900</targetReference>
            </connector>
            <label>HTN Cellular</label>
        </rules>
    </decisions>
    <decisions>
        <name>currentOppHasRelatedOpportunityPrograms</name>
        <label>currentOppHasRelatedOpportunityPrograms</label>
        <locationX>882</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>noFoundRelatedOpportunityPrograms</defaultConnectorLabel>
        <rules>
            <name>foundRelatedOpportunityPrograms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allRelatedOpportunityPrograms</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopThroughAllRelatedOppPrograms</targetReference>
            </connector>
            <label>foundRelatedOpportunityPrograms</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contract_Path_provided</name>
        <label>Is Contract Path provided?</label>
        <locationX>235</locationX>
        <locationY>356</locationY>
        <defaultConnector>
            <targetReference>Client_Overview_Name_is_Formulated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CP is Provided</defaultConnectorLabel>
        <rules>
            <name>CP_is_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>foundContractPath</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Overview_Name_is_Account</targetReference>
            </connector>
            <label>CP isn&apos;t Provided</label>
        </rules>
    </decisions>
    <formulas>
        <name>clientOverviewNameTrimmed</name>
        <dataType>String</dataType>
        <expression>Left({!clientOverviewName}, 80)</expression>
    </formulas>
    <formulas>
        <name>clientOverviewRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Program_Agreement_Record_Type}</expression>
    </formulas>
    <formulas>
        <name>ProgramName</name>
        <dataType>String</dataType>
        <expression>{!currentOpportunityProgram.Program_Family__c}</expression>
    </formulas>
    <formulas>
        <name>programOverviewRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Program_Schedule_Record_Type}</expression>
    </formulas>
    <formulas>
        <name>updatedProgramOverviewName</name>
        <dataType>String</dataType>
        <expression>LEFT(SUBSTITUTE({!programOverviewName},&apos;&amp;&amp;&apos;, {!currentOpportunityProgram.Program_Family__c}), 80)</expression>
    </formulas>
    <interviewLabel>Create Related Client Overview and Program Overview Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Related Client Overview and Program Overview Records</label>
    <loops>
        <name>loopThroughAllRelatedOppPrograms</name>
        <label>loopThroughAllRelatedOppPrograms</label>
        <locationX>893</locationX>
        <locationY>745</locationY>
        <assignNextValueToReference>currentOpportunityProgram</assignNextValueToReference>
        <collectionReference>allRelatedOpportunityPrograms</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_to_current_Program_Overview</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_all_new_Program_Overviews</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_all_new_Program_Overviews</name>
        <label>Add all new Program Overviews</label>
        <locationX>1145</locationX>
        <locationY>742</locationY>
        <inputReference>allProgramOverviewsToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Client_Overview</name>
        <label>Create Client Overview</label>
        <locationX>405</locationX>
        <locationY>556</locationY>
        <assignRecordIdToReference>clientOverviewId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_current_Opportunity_with_Client_Overview</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>inputAccId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPartner__c</field>
            <value>
                <elementReference>inputBillingPartnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIM__c</field>
            <value>
                <elementReference>inputCIM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Path__c</field>
            <value>
                <elementReference>inputContractPathAccId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>clientOverviewNameTrimmed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>clientOverviewRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordCreates>
    <recordLookups>
        <name>findRelatedOpportunityPrograms</name>
        <label>findRelatedOpportunityPrograms</label>
        <locationX>726</locationX>
        <locationY>549</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>currentOppHasRelatedOpportunityPrograms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputOppId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>allRelatedOpportunityPrograms</outputReference>
        <queriedFields>Program_Family__c</queriedFields>
        <queriedFields>Pricing_Structure__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_Path_Record</name>
        <label>Get Contract Path Record</label>
        <locationX>97</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Contract_Path_provided</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputContractPathAccId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>foundContractPath</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_current_Opportunity_with_Client_Overview</name>
        <label>Update current Opportunity with Client Overview</label>
        <locationX>573</locationX>
        <locationY>549</locationY>
        <connector>
            <targetReference>findRelatedOpportunityPrograms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>clientOverviewId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Contract_Path_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>allProgramOverviewsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>allRelatedOpportunityPrograms</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>clientOverviewId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>clientOverviewName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentOpportunityProgram</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>currentProgramOverview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>foundContractPath</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>inputAccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputAccName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputBillingPartnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputCIM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputContractPathAccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>programOverviewName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
