src/flows/Create_and_Manage_TaskRay_Master_Templates_and_Tasks.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_Template_Milestone</name>
        <label>Clone Template Milestone</label>
        <locationX>3612</locationX>
        <locationY>1174</locationY>
        <actionName>TASKRAY__trCloneTask</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Task_Successfully_Added</targetReference>
        </connector>
        <inputParameters>
            <name>taskEndDate</name>
            <value>
                <elementReference>projectLaunchDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taskStartDate</name>
            <value>
                <elementReference>TaskNewStartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTaskId</name>
            <value>
                <elementReference>selectedTaskTemplateId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Clone_Template_Task_into_Project</name>
        <label>Clone Template Task into Project</label>
        <locationX>3135</locationX>
        <locationY>1247</locationY>
        <actionName>TASKRAY__trCloneTask</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Task_Successfully_Added</targetReference>
        </connector>
        <inputParameters>
            <name>taskEndDate</name>
            <value>
                <elementReference>projectLaunchDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taskStartDate</name>
            <value>
                <elementReference>TaskNewStartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTaskId</name>
            <value>
                <elementReference>selectedTaskTemplateId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Clone_Template_Task_into_Project_0</name>
        <label>Clone Template Task into Project</label>
        <locationX>3338</locationX>
        <locationY>1162</locationY>
        <actionName>TASKRAY__trCloneTask</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Department_Request_with_Details</targetReference>
        </connector>
        <inputParameters>
            <name>taskEndDate</name>
            <value>
                <elementReference>projectLaunchDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taskStartDate</name>
            <value>
                <elementReference>TaskNewStartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taskName</name>
            <value>
                <elementReference>Request_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTaskId</name>
            <value>
                <elementReference>selectedTaskTemplateId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>DepartmentRequestTask</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Record_Id</name>
        <label>Assign Record Id</label>
        <locationX>1261</locationX>
        <locationY>1016</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choose_Project_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_TaskRay_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Created_Record_Id</name>
        <label>Set Created Record Id</label>
        <locationX>1472</locationX>
        <locationY>1184</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createdTemplateProjectId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_TaskRay_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Launch_Date</name>
        <label>Set Launch Date</label>
        <locationX>1623</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>projectLaunchDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentTaskRayProject.TaskRayLaunchDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedProjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentTaskRayProject.Project_Name_Wizard_Flow__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Name_follows_format</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ActiveProject</name>
        <choiceText>Active Project</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Active Project</stringValue>
        </value>
    </choices>
    <choices>
        <name>AdHoc</name>
        <choiceText>Ad Hoc Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create Ad Hoc Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_New_Choice</name>
        <choiceText>*** Create New ***</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create New</stringValue>
        </value>
    </choices>
    <choices>
        <name>Milestone</name>
        <choiceText>Milestone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Milestone</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProjectTemplate</name>
        <choiceText>Project Template</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Project Template</stringValue>
        </value>
    </choices>
    <choices>
        <name>Standard</name>
        <choiceText>Standard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Task</name>
        <choiceText>Task</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Task</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_new_Task</name>
        <label>Add new Task?</label>
        <locationX>2338</locationX>
        <locationY>1330</locationY>
        <defaultConnector>
            <targetReference>Process_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Finished</defaultConnectorLabel>
        <rules>
            <name>Add_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_another_task</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Activity_Type</targetReference>
            </connector>
            <label>Add Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Admin_Permission_Set</name>
        <label>Check for Admin Permission Set</label>
        <locationX>993</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>No_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Assigned Admin Permission Set</defaultConnectorLabel>
        <rules>
            <name>Admin_Permission_Set_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Management_Option</targetReference>
            </connector>
            <label>Assigned Admin Permission Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_new_Master_milestone_should_be_created</name>
        <label>Check if new Master milestone should be created</label>
        <locationX>3747</locationX>
        <locationY>733</locationY>
        <defaultConnector>
            <targetReference>Clone_Template_Milestone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not create milestone</defaultConnectorLabel>
        <rules>
            <name>Clone_Milestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Master_Milestones</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_New_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Milestone</targetReference>
            </connector>
            <label>Create Milestone - Valid</label>
        </rules>
        <rules>
            <name>Create_Milestone_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Master_Milestones</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_New_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Access_1</targetReference>
            </connector>
            <label>Create Milestone - Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_new_Master_task_should_be_created</name>
        <label>Check if new Master task should be created</label>
        <locationX>2957</locationX>
        <locationY>835</locationY>
        <defaultConnector>
            <targetReference>Decide_if_Task_is_Department_Request_and_Active_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Task selected</defaultConnectorLabel>
        <rules>
            <name>Create_new_Task_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Master_Tasks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_New_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_TaskRay_Project_Master_Task</targetReference>
            </connector>
            <label>Create new Task - Valid</label>
        </rules>
        <rules>
            <name>Create_new_Task_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Master_Tasks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_New_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Access_1</targetReference>
            </connector>
            <label>Create new Task - Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_New_or_Find_Existing</name>
        <label>Create New or Find Existing?</label>
        <locationX>1034</locationX>
        <locationY>1024</locationY>
        <defaultConnector>
            <targetReference>Assign_Record_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Find Existing</defaultConnectorLabel>
        <rules>
            <name>Create_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Project_Template</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_New_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Template_Project</targetReference>
            </connector>
            <label>Create New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_if_Task_is_Department_Request_and_Active_Project</name>
        <label>Decide if Task is Department Request and Active Project</label>
        <locationX>3151</locationX>
        <locationY>1000</locationY>
        <defaultConnector>
            <targetReference>Clone_Template_Task_into_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a Department Request or Project is Template</defaultConnectorLabel>
        <rules>
            <name>Task_Is_Department_Request</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>TaskGroupLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Operations Requests</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskGroupLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Science Requests</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_a_Project_you_own_or_a_Wizard_Template</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveProject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Department_Request_Details</targetReference>
            </connector>
            <label>Task Is Department Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Project_Type</name>
        <label>Determine Project Type</label>
        <locationX>816</locationX>
        <locationY>469</locationY>
        <defaultConnector>
            <targetReference>Check_for_Admin_Permission_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Wizard Template</defaultConnectorLabel>
        <rules>
            <name>Current_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_a_Project_you_own_or_a_Wizard_Template</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActiveProject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Active_Project</targetReference>
            </connector>
            <label>Current Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Task_Type</name>
        <label>Determine Task Type</label>
        <locationX>2926</locationX>
        <locationY>481</locationY>
        <defaultConnector>
            <targetReference>Choose_Template_Task_to_Clone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Task</defaultConnectorLabel>
        <rules>
            <name>Milestone_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_add_to_this_project</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Milestone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Milestone_to_Add</targetReference>
            </connector>
            <label>Milestone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Name_follows_format</name>
        <label>Name follows format</label>
        <locationX>1788</locationX>
        <locationY>1017</locationY>
        <defaultConnector>
            <targetReference>Update_Template_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Name does not follow format</defaultConnectorLabel>
        <rules>
            <name>Follows_format</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentTaskRayProject.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>[Template] Client Name - </stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Activity_Type</targetReference>
            </connector>
            <label>Follows format</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>All_Template_Milestone_Tasks</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TASKRAY__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskRayProjectMaster</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__trIsMilestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TASKRAY__Project_Task__c</object>
        <outputAssignments>
            <assignToReference>selectedTaskTemplateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedTaskTemplateName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedTaskBusinessDuration</assignToReference>
            <field>TASKRAY__trBusinessDuration__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectTaskOverrideBusinessHours</assignToReference>
            <field>TASKRAY__trBusinessHrsOverride__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedTaskDuration</assignToReference>
            <field>TASKRAY__trDuration__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>All_Template_Project_Master_Tasks</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>UniqueChecklistItemsTask</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__Archived__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskRayProjectMaster</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__trIsMilestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>TASKRAY__Project_Task__c</object>
        <outputAssignments>
            <assignToReference>DepartmentRequestDescription</assignToReference>
            <field>Department_Request_Details__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedTaskTemplateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedTaskTemplateName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedTaskBusinessDuration</assignToReference>
            <field>TASKRAY__trBusinessDuration__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectTaskOverrideBusinessHours</assignToReference>
            <field>TASKRAY__trBusinessHrsOverride__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedTaskDuration</assignToReference>
            <field>TASKRAY__trDuration__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TaskGroupLabel</assignToReference>
            <field>Task_Grouping_Label__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AllActiveProjects</name>
        <dataType>String</dataType>
        <displayField>Project_Name_Wizard_Flow__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__trTemplate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>TASKRAY__Project__c</object>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedProjectName</assignToReference>
            <field>Project_Name_Wizard_Flow__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>projectLaunchDate</assignToReference>
            <field>TaskRayLaunchDate__c</field>
        </outputAssignments>
        <sortField>TaskRay_Project_Number__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>allProjectTemplates</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TASKRAY__trTemplateSource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskRayProjectMaster</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__trTemplate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TASKRAY__Project__c</object>
        <outputAssignments>
            <assignToReference>projectLaunchDate</assignToReference>
            <field>TaskRayLaunchDate__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AllTaskRayUnassignedQueues</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Unassigned</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>selectedUnassignedQueueName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>allTasksNamesText</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>UniqueChecklistItemsTask</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskRayProjectMaster</elementReference>
            </value>
        </filters>
        <object>TASKRAY__Project_Task__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>EditedProjectName</name>
        <dataType>String</dataType>
        <expression>Left(&apos;[Template] Client Name - &apos; &amp; {!currentTaskRayProject.Name}, 80)</expression>
    </formulas>
    <formulas>
        <name>fixedTemplateProjectName</name>
        <dataType>String</dataType>
        <expression>&apos;[Template] Client Name - &apos; &amp; {!Template_Project_Name}</expression>
    </formulas>
    <formulas>
        <name>orgBaseURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <formulas>
        <name>TaskNewStartDate</name>
        <dataType>Date</dataType>
        <expression>IF({!selectTaskOverrideBusinessHours} = TRUE,
{!projectLaunchDate} - {!selectedTaskDuration},
{!projectLaunchDate} - {!selectedTaskBusinessDuration}
)</expression>
    </formulas>
    <formulas>
        <name>TaskRayAdminPermissionSetId</name>
        <dataType>String</dataType>
        <expression>{!$Label.TaskRay_Admin_Permission_Set_Id}</expression>
    </formulas>
    <formulas>
        <name>TaskRayProjectMaster</name>
        <dataType>String</dataType>
        <expression>{!$Label.TaskRay_Template_Master}</expression>
    </formulas>
    <formulas>
        <name>TaskRayUnassignedQueue</name>
        <dataType>String</dataType>
        <expression>{!$Label.TaskRay_Unassigned_Queue_Id}</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>UniqueChecklistItemsTask</name>
        <dataType>String</dataType>
        <expression>{!$Label.TaskRay_Unique_Checklist_Task_Id}</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Create and Manage TaskRay Master Templates and Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create and Manage TaskRay Projects and Templates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Milestone_on_current_Project</name>
        <label>Create Milestone on current Project</label>
        <locationX>3764</locationX>
        <locationY>1651</locationY>
        <connector>
            <targetReference>Task_Successfully_Added</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Milestone_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Task_Owner__c</field>
            <value>
                <elementReference>selectedUnassignedQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Milestone_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TASKRAY__Deadline__c</field>
            <value>
                <elementReference>projectLaunchDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TASKRAY__Project__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TASKRAY__trIsMilestone__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TASKRAY__trStartDate__c</field>
            <value>
                <elementReference>TaskNewStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TASKRAY__trTemplateSource__c</field>
            <value>
                <elementReference>newMilestoneId</elementReference>
            </value>
        </inputAssignments>
        <object>TASKRAY__Project_Task__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_new_Milestone_Template</name>
        <label>Create new Milestone Template</label>
        <locationX>3764</locationX>
        <locationY>1180</locationY>
        <assignRecordIdToReference>newMilestoneId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Milestone_on_current_Project</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Milestone_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Task_Owner__c</field>
            <value>
                <elementReference>selectedUnassignedQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Milestone_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TASKRAY__Project__c</field>
            <value>
                <elementReference>TaskRayProjectMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TASKRAY__trIsMilestone__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>TASKRAY__Project_Task__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_new_Task_on_TaskRay_Template_Master</name>
        <label>Create new Task on TaskRay Template Master</label>
        <locationX>2959</locationX>
        <locationY>1299</locationY>
        <assignRecordIdToReference>newTaskId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Task_on_current_Project</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Task_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Task_Owner__c</field>
            <value>
                <elementReference>selectedUnassignedQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Task_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TASKRAY__Project__c</field>
            <value>
                <elementReference>TaskRayProjectMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TASKRAY__trBusinessDuration__c</field>
            <value>
                <elementReference>Expected_Task_Duration_of_business_days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TASKRAY__trStartDate__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <object>TASKRAY__Project_Task__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_new_TaskRay_Master_Template_Project</name>
        <label>Create new TaskRay Master Template Project</label>
        <locationX>1246</locationX>
        <locationY>1189</locationY>
        <assignRecordIdToReference>createdTemplateProjectId</assignRecordIdToReference>
        <connector>
            <targetReference>Set_Created_Record_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fixedTemplateProjectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>TaskRayUnassignedQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TASKRAY__Project_End__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TASKRAY__Project_Start__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TASKRAY__Status__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TASKRAY__trTemplateSource__c</field>
            <value>
                <elementReference>TaskRayProjectMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TASKRAY__trTemplate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskRayLaunchDate__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <object>TASKRAY__Project__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_on_current_Project</name>
        <label>Create Task on current Project</label>
        <locationX>2962</locationX>
        <locationY>1482</locationY>
        <connector>
            <targetReference>Task_Successfully_Added</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Task_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Task_Owner__c</field>
            <value>
                <elementReference>selectedUnassignedQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Task_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TASKRAY__Deadline__c</field>
            <value>
                <elementReference>projectLaunchDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TASKRAY__Project__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TASKRAY__trBusinessDuration__c</field>
            <value>
                <elementReference>Expected_Task_Duration_of_business_days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TASKRAY__trStartDate__c</field>
            <value>
                <elementReference>TaskNewStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TASKRAY__trTemplateSource__c</field>
            <value>
                <elementReference>newTaskId</elementReference>
            </value>
        </inputAssignments>
        <object>TASKRAY__Project_Task__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_TaskRay_Project</name>
        <label>Get Current TaskRay Project</label>
        <locationX>1476</locationX>
        <locationY>1020</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Launch_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>TASKRAY__Project__c</object>
        <outputReference>currentTaskRayProject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TASKRAY__trTemplateSource__c</queriedFields>
        <queriedFields>TASKRAY__Project_Start__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>TaskRayLaunchDate__c</queriedFields>
        <queriedFields>TaskRay_Project_Number__c</queriedFields>
        <queriedFields>Project_Name_Wizard_Flow__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetUserAssignment</name>
        <label>GetUserAssignment</label>
        <locationX>534</locationX>
        <locationY>259</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Project_or_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskRayAdminPermissionSetId</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputReference>UserAssignment</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Department_Request_with_Details</name>
        <label>Update Department Request with Details</label>
        <locationX>3340</locationX>
        <locationY>1320</locationY>
        <connector>
            <targetReference>Task_Successfully_Added</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DepartmentRequestTask.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Department_Request_Details__c</field>
            <value>
                <elementReference>DepartmentRequestDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TASKRAY__Description__c</field>
            <value>
                <elementReference>Request_Description</elementReference>
            </value>
        </inputAssignments>
        <object>TASKRAY__Project_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Template_Name</name>
        <label>Update Template Name</label>
        <locationX>1795</locationX>
        <locationY>1198</locationY>
        <connector>
            <targetReference>Select_Activity_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentTaskRayProject.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>EditedProjectName</elementReference>
            </value>
        </inputAssignments>
        <object>TASKRAY__Project__c</object>
    </recordUpdates>
    <screens>
        <name>Choose_Active_Project</name>
        <label>Choose Active Project</label>
        <locationX>2334</locationX>
        <locationY>459</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Activity_Type</targetReference>
        </connector>
        <fields>
            <name>Active_Projects</name>
            <choiceReferences>AllActiveProjects</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Active Projects</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Project_or_Template</name>
        <label>Choose Project or Template</label>
        <locationX>532</locationX>
        <locationY>466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Determine_Project_Type</targetReference>
        </connector>
        <fields>
            <name>Update_a_Project_you_own_or_a_Wizard_Template</name>
            <choiceReferences>ActiveProject</choiceReferences>
            <choiceReferences>ProjectTemplate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Update an active project or a project template?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Template_Task_to_Clone</name>
        <label>Choose Template Task to Clone</label>
        <locationX>2729</locationX>
        <locationY>833</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_new_Master_task_should_be_created</targetReference>
        </connector>
        <fields>
            <name>Current_Project_Display_0</name>
            <fieldText>&lt;b&gt;Project:&lt;/b&gt; {!selectedProjectName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>All_Master_Tasks</name>
            <choiceReferences>Create_New_Choice</choiceReferences>
            <choiceReferences>All_Template_Project_Master_Tasks</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Create_New_Choice</defaultSelectedChoiceReference>
            <fieldText>Select a task to add to this project</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Milestone</name>
        <label>Create Milestone</label>
        <locationX>3760</locationX>
        <locationY>986</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_new_Milestone_Template</targetReference>
        </connector>
        <fields>
            <name>Milestone_Name</name>
            <dataType>String</dataType>
            <fieldText>Milestone Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Milestone_Owner</name>
            <choiceReferences>AllTaskRayUnassignedQueues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Milestone Owner</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_new_TaskRay_Project_Master_Task</name>
        <label>Create new TaskRay Project Master Task</label>
        <locationX>2960</locationX>
        <locationY>1084</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_new_Task_on_TaskRay_Template_Master</targetReference>
        </connector>
        <fields>
            <name>Task_Name</name>
            <dataType>String</dataType>
            <fieldText>Task Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expected_Task_Duration_of_business_days</name>
            <dataType>Number</dataType>
            <fieldText>Expected Task Duration (# of business days)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Business days are Monday - Friday. 5 business days represents a full week.</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Task_Owner</name>
            <choiceReferences>AllTaskRayUnassignedQueues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Task Owner</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Department_Request_Details</name>
        <label>Department Request Details</label>
        <locationX>3337</locationX>
        <locationY>1032</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Clone_Template_Task_into_Project_0</targetReference>
        </connector>
        <fields>
            <name>Request_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>selectedTaskTemplateName</elementReference>
            </defaultValue>
            <fieldText>Department Request Task Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DepartmentRequestDetails</name>
            <fieldText>&lt;p&gt;{!DepartmentRequestDescription}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Description</name>
            <fieldText>Department Request Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Fill out based on the request details above (if supplied)&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Management_Option</name>
        <label>Management Option</label>
        <locationX>772</locationX>
        <locationY>1022</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_or_Find_Existing</targetReference>
        </connector>
        <fields>
            <name>Choose_Project_Template</name>
            <choiceReferences>Create_New_Choice</choiceReferences>
            <choiceReferences>allProjectTemplates</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Create_New_Choice</defaultSelectedChoiceReference>
            <fieldText>Choose Project Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Template_Project</name>
        <label>New Template Project</label>
        <locationX>1044</locationX>
        <locationY>1188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_new_TaskRay_Master_Template_Project</targetReference>
        </connector>
        <fields>
            <name>Template_Project_Name</name>
            <dataType>String</dataType>
            <fieldText>Template Project Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Create_Jira_Ticket</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;---------- DISCLAIMER &lt;/b&gt;&lt;b style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;----------&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Once the project template is built, you will need to update the &quot;Project Type&quot; and/or &quot;Project Sub Type&quot; fields. If a value you need is not available, please make a request for the Salesforce Admin team to create the desired value(s) and someone will assist.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Projects are also automatically created as &quot;Archived.&quot; You will need to unarchive the template for it to become available in the Project Template Wizard tool.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Access</name>
        <label>No Access</label>
        <locationX>1321</locationX>
        <locationY>562</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Access_Notification_0</name>
            <fieldText>You currently do not have permission to access this feature.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Access_1</name>
        <label>No Access</label>
        <locationX>3273</locationX>
        <locationY>611</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Access_Notification_1</name>
            <fieldText>You currently do not have permission to access this feature.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Process_Complete</name>
        <label>Process Complete</label>
        <locationX>2345</locationX>
        <locationY>1602</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Record_Link</name>
            <fieldText>&lt;a href=&quot;{!orgBaseURL}{!recordId}&quot;&gt;Click to view Project&lt;/a&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Activity_Type</name>
        <label>Select Activity Type</label>
        <locationX>2349</locationX>
        <locationY>1028</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Determine_Task_Type</targetReference>
        </connector>
        <fields>
            <name>What_would_you_like_to_add_to_this_project</name>
            <choiceReferences>Task</choiceReferences>
            <choiceReferences>Milestone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What would you like to add to this project?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Milestone_to_Add</name>
        <label>Select Milestone to Add</label>
        <locationX>3753</locationX>
        <locationY>487</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_new_Master_milestone_should_be_created</targetReference>
        </connector>
        <fields>
            <name>Current_Project_Display_1</name>
            <fieldText>&lt;b&gt;Project:&lt;/b&gt; {!selectedProjectName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>All_Master_Milestones</name>
            <choiceReferences>Create_New_Choice</choiceReferences>
            <choiceReferences>All_Template_Milestone_Tasks</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Create_New_Choice</defaultSelectedChoiceReference>
            <fieldText>Select a milestone to add to this project</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Task_Successfully_Added</name>
        <label>Task Successfully Added</label>
        <locationX>3227</locationX>
        <locationY>1648</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_new_Task</targetReference>
        </connector>
        <fields>
            <name>Add_another_task</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Add another task?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>GetUserAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>createdTemplateProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentTaskRayProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <name>DepartmentRequestDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DepartmentRequestTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>newMilestoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>projectLaunchDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedProjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTaskBusinessDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>selectedTaskDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>selectedTaskTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTaskTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedUnassignedQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectTaskOverrideBusinessHours</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskGroupLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
</Flow>
