src/flows/CRM_Request_Screen_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Contact</name>
        <label>Add Contact</label>
        <locationX>891</locationX>
        <locationY>334</locationY>
        <assignmentItems>
            <assignToReference>ContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CRM_Request_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concatenate_all_New_Fields</name>
        <label>Concatenate all New Fields</label>
        <locationX>2014</locationX>
        <locationY>1581</locationY>
        <assignmentItems>
            <assignToReference>Var_ConcatenateNewFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_NewFieldDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_New_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Field_Description</name>
        <label>New Field Description</label>
        <locationX>2010</locationX>
        <locationY>1324</locationY>
        <assignmentItems>
            <assignToReference>Var_NewFieldDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewField_Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Concatenate_all_New_Fields</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Checkbox</name>
        <choiceText>Checkbox</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Checkbox</stringValue>
        </value>
    </choices>
    <choices>
        <name>Currency</name>
        <choiceText>Currency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Currency</stringValue>
        </value>
    </choices>
    <choices>
        <name>Date</name>
        <choiceText>Date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Date</stringValue>
        </value>
    </choices>
    <choices>
        <name>LongTextArea</name>
        <choiceText>Long Text Area</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Long Text Area</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medium</name>
        <choiceText>Medium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medium</stringValue>
        </value>
    </choices>
    <choices>
        <name>MultiSelectPicklist</name>
        <choiceText>Multi-Select Picklist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Multi-Select Picklist</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Number</name>
        <choiceText>Number</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Number</stringValue>
        </value>
    </choices>
    <choices>
        <name>Picklist</name>
        <choiceText>Picklist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Picklist</stringValue>
        </value>
    </choices>
    <choices>
        <name>Text</name>
        <choiceText>Text (up to 255 char)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Text</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Field_Type</name>
        <label>Field Type</label>
        <locationX>1321</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>New_Field_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Picklist_or_MultiSelect</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_field_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Picklist</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_type_of_field_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Multi-Select Picklist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Field_Information</targetReference>
            </connector>
            <label>Picklist or MultiSelect</label>
        </rules>
        <rules>
            <name>Currency_or_Number</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_field_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Currency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_type_of_field_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Number</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CurrencyNumber_Screen</targetReference>
            </connector>
            <label>Currency or Number</label>
        </rules>
        <rules>
            <name>Long_Text_Area</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_field_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Long Text Area</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LongTextArea_Screen</targetReference>
            </connector>
            <label>Long Text Area</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Contact</name>
        <label>Found Contact</label>
        <locationX>761</locationX>
        <locationY>540</locationY>
        <defaultConnector>
            <targetReference>CRM_Request_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact</defaultConnectorLabel>
        <rules>
            <name>Found_Contact2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Contact</targetReference>
            </connector>
            <label>Found Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_Fields</name>
        <label>More Fields?</label>
        <locationX>1185</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Create_New_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_More_Fields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_add_more_fields</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Field_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sub_Type</name>
        <label>Sub Type?</label>
        <locationX>1179</locationX>
        <locationY>888</locationY>
        <defaultConnector>
            <targetReference>Other_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>New_Picklist_Value_s</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseTypeSubType.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Dropdown Value</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Picklist_Value_Screen</targetReference>
            </connector>
            <label>New Dropdown Value</label>
        </rules>
        <rules>
            <name>New_Field_s</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseTypeSubType.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Field(s)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Field_Screen</targetReference>
            </connector>
            <label>New Field(s)</label>
        </rules>
        <rules>
            <name>Data_Load_Backfill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseTypeSubType.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Data Upload or Backfill</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_Load_Screen</targetReference>
            </connector>
            <label>Data Load &amp; Backfill</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type</name>
        <label>Type?</label>
        <locationX>1167</locationX>
        <locationY>548</locationY>
        <defaultConnector>
            <targetReference>Problem_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Troubleshoot Request</defaultConnectorLabel>
        <rules>
            <name>Feature_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseTypeSubType.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enhancement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sub_Type</targetReference>
            </connector>
            <label>Enhancement</label>
        </rules>
        <rules>
            <name>Question</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseTypeSubType.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Question</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Question_Screen</targetReference>
            </connector>
            <label>Question</label>
        </rules>
    </decisions>
    <description>Allow users to create a CRM Request case from within Salesforce</description>
    <dynamicChoiceSets>
        <name>CaseTeam</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Case_Team__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OtherTeamImpacted</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Other_Teams_Impacted__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Priority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Contact_InternalContactRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Contact_InternalContactRecordType}</expression>
    </formulas>
    <formulas>
        <name>CRMRequestCaseRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.CRMRequestCaseRecordTyp}</expression>
    </formulas>
    <formulas>
        <name>CurrentUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>Description_Formula</name>
        <dataType>String</dataType>
        <expression>IF ({!CaseTypeSubType.topValue} = &quot;Troubleshoot Request&quot;,
&quot;Who: &quot; + {!Who_is_having_the_problem} + BR() + 
&quot;Error Message: &quot; + {!Error_Message_if_applicable} + BR() + 
&quot;Steps to Reproduce: &quot; + {!Steps_to_Reproduce2} + BR() + 
&quot;URL: &quot; + {!URL_if_applicable},
IF ({!CaseTypeSubType.middleValue} = &quot;New Field(s)&quot;,
{!Var_ConcatenateNewFields},
IF ({!CaseTypeSubType.middleValue} = &quot;New Dropdown Value&quot;,
&quot;Page, Record Type &amp; Section: &quot; + {!Page_Section_Existing_Field_is_on} +BR() +  
&quot;New Picklist Values: &quot; + {!New_Picklist_Values}+BR() +  
&quot;Business Impact:&quot; + {!Business_Impact}+BR() +  
&quot;Extra Information: &quot; + {!Extra_Information3},
IF ({!CaseTypeSubType.middleValue} = &quot;New Data Upload or Backfill&quot;,
&quot;Instructions:&quot; + {!Instructions}+BR() +  
&quot;Description &amp; Business Impact: &quot; + {!Description_Business_Impact},
{!Extra_Information} + {!Extra_Information2} ))))</expression>
    </formulas>
    <formulas>
        <name>NewField_Description</name>
        <dataType>String</dataType>
        <expression>&quot;Field Name:&quot; +{!Name_of_New_Field_s}+ BR() + 
&quot;Type of Field: &quot; +{!What_type_of_field_2}+ BR() + 
&quot;Picklist values: &quot;+{!Pick_List_Values}+ BR() + 
&quot;Number Length: &quot;+{!How_many_digits_before_and_after_the_decimal_point}+ BR() + 
&quot;Long Text Length: &quot;+{!What_is_the_max_length_for_the_Long_Text_Area}+ BR() + 
&quot;Long Text Visible Lines: &quot;+{!How_many_lines_should_be_visible}+ BR() + 
&quot;Help Text: &quot; + {!Help_Text}  + BR() + 
&quot;Data Owner(s): &quot; + {!Which_Department_is_Responsible_for_Filling_out}  + BR() + 
&quot;Who can view this Field?: &quot; + {!Which_Departments_can_view_these_field_s}  + BR() + 
&quot;Page, Record Type &amp; Section: &quot; + {!What_Page_Section}+ BR() + 
&quot;Business Impact:&quot; + {!Business_Impact2}+ BR() + BR()</expression>
    </formulas>
    <formulas>
        <name>OrgBaseURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <formulas>
        <name>Subject_Formula</name>
        <dataType>String</dataType>
        <expression>IF ({!CaseTypeSubType.middleValue} = &quot;New Field(s)&quot;, &quot;New Field(s) Request&quot;,
{!What_is_the_Problem2} + {!What_is_the_Question2} + {!Short_Title} + {!Name_of_Existing_Field} + {!Purpose_of_the_Data_Load_Backfill})</expression>
    </formulas>
    <interviewLabel>CRM Request Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRM Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Case</name>
        <label>Create New Case</label>
        <locationX>2096</locationX>
        <locationY>531</locationY>
        <connector>
            <targetReference>File_Upload</targetReference>
        </connector>
        <inputAssignments>
            <field>Acceptance_Criteria__c</field>
            <value>
                <elementReference>Acceptable_Criteria</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Team__c</field>
            <value>
                <elementReference>CaseTeam</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_would_like_to__c</field>
            <value>
                <elementReference>I_would_like_to</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Teams_Impacted__c</field>
            <value>
                <elementReference>Other_Team_s_Impacted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CRMRequestCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>So_That__c</field>
            <value>
                <elementReference>So_that</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <elementReference>CaseTypeSubType.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>CaseTypeSubType.topValue</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>598</locationX>
        <locationY>535</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentUser.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_InternalContactRecordTypeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentUser</name>
        <label>GetCurrentUser</label>
        <locationX>451</locationX>
        <locationY>534</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Additional_Field_Information</name>
        <label>Additional Field Information</label>
        <locationX>1811</locationX>
        <locationY>1359</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Field_Description</targetReference>
        </connector>
        <fields>
            <name>Picklist_Instructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(105, 93, 70); font-family: &amp;quot;Open Sans&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Add all Picklist Values with a semi-colon separated e.g. &quot;Blue; Red; Green&quot;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pick_List_Values</name>
            <fieldText>Pick List Values:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CRM_Request_Form</name>
        <label>CRM Request Form</label>
        <locationX>996</locationX>
        <locationY>535</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
        <fields>
            <name>Priority2</name>
            <choiceReferences>Priority</choiceReferences>
            <choiceReferences>Medium</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Medium</defaultSelectedChoiceReference>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Department</name>
            <choiceReferences>CaseTeam</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Department</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CaseTypeSubType</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Sub_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Sub Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CurrencyNumber_Screen</name>
        <label>CurrencyNumber Screen</label>
        <locationX>1818</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Field_Description</targetReference>
        </connector>
        <fields>
            <name>How_many_digits_before_and_after_the_decimal_point</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>[Example] 16, 2</stringValue>
            </defaultValue>
            <fieldText>How many digits before and after the decimal point?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Data_Load_Screen</name>
        <label>Data Load Screen</label>
        <locationX>1607</locationX>
        <locationY>1080</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Case</targetReference>
        </connector>
        <fields>
            <name>Purpose_of_the_Data_Load_Backfill</name>
            <dataType>String</dataType>
            <fieldText>Purpose of the Data Load / Backfill?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Instructions</name>
            <fieldText>Instructions?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_Business_Impact</name>
            <fieldText>Description &amp; Business Impact?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>File_Upload</name>
        <label>File Upload</label>
        <locationX>2410</locationX>
        <locationY>535</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <fields>
            <name>FileUpload_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please upload any screenshots, data files to upload, data models, or extra information here. You may include multiple files.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>File Upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_New_Case</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>2648</locationX>
        <locationY>526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYouMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Thank you for opening a case within the CRM Team. Somebody will reach out to you within 3 business days to help address your issue based on other priorities. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LinktoCase</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!OrgBaseURL}{!Create_New_Case}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here to view your new Case&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LongTextArea_Screen</name>
        <label>LongTextArea Screen</label>
        <locationX>1805</locationX>
        <locationY>1241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Field_Description</targetReference>
        </connector>
        <fields>
            <name>What_is_the_max_length_for_the_Long_Text_Area</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>[Default] Up to 2,000 characters</stringValue>
            </defaultValue>
            <fieldText>What is the max length for the Long Text Area?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>How_many_lines_should_be_visible</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>[Default] 3 Lines</stringValue>
            </defaultValue>
            <fieldText>How many lines should be visible?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>More_New_Fields</name>
        <label>More New Fields</label>
        <locationX>1374</locationX>
        <locationY>1583</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>More_Fields</targetReference>
        </connector>
        <fields>
            <name>Would_you_like_to_add_more_fields</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Would you like to add more fields?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Field_Screen</name>
        <label>New Field Screen</label>
        <locationX>1189</locationX>
        <locationY>1245</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Field_Type</targetReference>
        </connector>
        <fields>
            <name>Name_of_New_Field_s</name>
            <dataType>String</dataType>
            <fieldText>Name of New Field</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_type_of_field_2</name>
            <choiceReferences>Checkbox</choiceReferences>
            <choiceReferences>Date</choiceReferences>
            <choiceReferences>LongTextArea</choiceReferences>
            <choiceReferences>MultiSelectPicklist</choiceReferences>
            <choiceReferences>Number</choiceReferences>
            <choiceReferences>Picklist</choiceReferences>
            <choiceReferences>Text</choiceReferences>
            <choiceReferences>Currency</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What type of field?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Help_Text</name>
            <dataType>String</dataType>
            <fieldText>Please provide some Help Text for a new user.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Which_Department_is_Responsible_for_Filling_out</name>
            <dataType>String</dataType>
            <fieldText>Which Department(s) is responsible for filling this out?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Which_Departments_can_view_these_field_s</name>
            <dataType>String</dataType>
            <fieldText>Which Department(s) can view this field?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_Page_Section</name>
            <dataType>String</dataType>
            <fieldText>What Page, Record Type &amp; Section?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Business_Impact2</name>
            <dataType>String</dataType>
            <fieldText>Business Impact</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;What business problem does adding this field solve?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Picklist_Value_Screen</name>
        <label>New Picklist Value Screen</label>
        <locationX>1607</locationX>
        <locationY>757</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Case</targetReference>
        </connector>
        <fields>
            <name>Name_of_Existing_Field</name>
            <dataType>String</dataType>
            <fieldText>Name of Existing Field</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Page_Section_Existing_Field_is_on</name>
            <dataType>String</dataType>
            <fieldText>Page, Record Type &amp; Section Existing Field is on</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Picklist_Values</name>
            <dataType>String</dataType>
            <fieldText>New Picklist Values</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Business_Impact</name>
            <dataType>String</dataType>
            <fieldText>Business Impact</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;What business problem does adding these values solve?&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Extra_Information3</name>
            <fieldText>Extra Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_Screen</name>
        <label>Other Screen</label>
        <locationX>1603</locationX>
        <locationY>872</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Case</targetReference>
        </connector>
        <fields>
            <name>InstructionsOther</name>
            <fieldText>&lt;p&gt;Please fill in the following information that best describes your request. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Short_Title</name>
            <dataType>String</dataType>
            <fieldText>Short Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other_Team_s_Impacted</name>
            <choiceReferences>OtherTeamImpacted</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Other Team(s) Impacted</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MultiSelectSelection</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(23, 11, 255); font-size: 12px;&quot;&gt;To select more than (1) Team, hold down CTRL and select all relevant options.  &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_would_like_to</name>
            <dataType>String</dataType>
            <fieldText>I would like to:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>So_that</name>
            <dataType>String</dataType>
            <fieldText>So that</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Acceptable_Criteria</name>
            <dataType>String</dataType>
            <fieldText>Acceptance Criteria</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; font-family: TTNormsPro-Regular, sans-serif; color: rgb(51, 51, 51);&quot;&gt;A set of predefined requirements that must be met in order to mark this story complete a.k.a. &quot; a definition of done&quot;&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Extra_Information</name>
            <fieldText>Description &amp; Business Impact</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;What business problem does this solve?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Problem_Screen</name>
        <label>Problem Screen</label>
        <locationX>1178</locationX>
        <locationY>352</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Case</targetReference>
        </connector>
        <fields>
            <name>What_is_the_Problem2</name>
            <dataType>String</dataType>
            <fieldText>What is the Problem?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Who_is_having_the_problem</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>[Default] Myself</stringValue>
            </defaultValue>
            <fieldText>Who is having the problem?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Error_Message_if_applicable</name>
            <dataType>String</dataType>
            <fieldText>Error Message (if applicable)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Steps_to_Reproduce2</name>
            <fieldText>Steps to Reproduce</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>URL_if_applicable</name>
            <dataType>String</dataType>
            <fieldText>URL (if applicable)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question_Screen</name>
        <label>Question Screen</label>
        <locationX>1388</locationX>
        <locationY>538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Case</targetReference>
        </connector>
        <fields>
            <name>What_is_the_Question2</name>
            <dataType>String</dataType>
            <fieldText>What is the Question?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Extra_Information2</name>
            <fieldText>Extra Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>520</locationY>
        <connector>
            <targetReference>GetCurrentUser</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllNewFields</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_ConcatenateNewFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_NewFieldDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
