src/flows/Deactivate_Matching_Relationship_Records_Client_Overview.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_record_to_updated_list</name>
        <label>Add record to updated list</label>
        <locationX>600</locationX>
        <locationY>246</locationY>
        <assignmentItems>
            <assignToReference>allUpdatedRelationships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updatedRelationship</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Active_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Relationship_End_Date</name>
        <label>Update Relationship End Date</label>
        <locationX>788</locationX>
        <locationY>251</locationY>
        <assignmentItems>
            <assignToReference>updatedRelationship.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>adjustedEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedRelationship.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentRelationship.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_record_to_updated_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_Active_Relationships</name>
        <label>Are there Active Relationships?</label>
        <locationX>393</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>No Active Relationships</defaultConnectorLabel>
        <rules>
            <name>Active_Relationships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>activeRelationships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_Active_Records</targetReference>
            </connector>
            <label>Active Relationships</label>
        </rules>
    </decisions>
    <formulas>
        <name>adjustedEndDate</name>
        <dataType>Date</dataType>
        <expression>{!inputStartDate}-1</expression>
    </formulas>
    <interviewLabel>Deactivate Matching Relationship Records - Client Overview {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deactivate Matching Relationship Records - Client Overview</label>
    <loops>
        <name>Loop_through_all_Active_Records</name>
        <label>Loop through all Active Records</label>
        <locationX>675</locationX>
        <locationY>48</locationY>
        <assignNextValueToReference>currentRelationship</assignNextValueToReference>
        <collectionReference>activeRelationships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Relationship_End_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_all_End_Dates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getActiveMatchingRelationships</name>
        <label>getActiveMatchingRelationships</label>
        <locationX>231</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_Active_Relationships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Partnership__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputClientOverviewId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelationshipType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputRelationshipType</elementReference>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputReference>activeRelationships</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_all_End_Dates</name>
        <label>Update all End Dates</label>
        <locationX>896</locationX>
        <locationY>48</locationY>
        <inputReference>allUpdatedRelationships</inputReference>
    </recordUpdates>
    <startElementReference>getActiveMatchingRelationships</startElementReference>
    <status>Active</status>
    <variables>
        <name>activeRelationships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>allUpdatedRelationships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>currentRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>inputClientOverviewId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputRelationshipType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updatedRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
</Flow>
