src/flows/Dynamically_Update_Project_Tasks_Durations.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_List_of_Updated_Dependencies</name>
        <label>Add to List of Updated Dependencies</label>
        <locationX>549</locationX>
        <locationY>181</locationY>
        <assignmentItems>
            <assignToReference>AllUpdatedDepenencyRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatedDependencyRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_all_Dependencies_Initial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_updated_Project_Task_to_list</name>
        <label>Add updated Project Task to list</label>
        <locationX>157</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>allUpdatedProjectTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updatedProjectTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_found_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Move_Stitched_In_Tasks_back_to_Launch_Date</name>
        <label>Move Stitched In Tasks back to Launch Date</label>
        <locationX>148</locationX>
        <locationY>1536</locationY>
        <assignmentItems>
            <assignToReference>updatedProjectTask.TASKRAY__trStartDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedProjectTask.TASKRAY__Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputProjectLaunchDueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_updated_Project_Task_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Business_Duration</name>
        <label>Update Business Duration</label>
        <locationX>743</locationX>
        <locationY>1469</locationY>
        <assignmentItems>
            <assignToReference>updatedProjectTask.TASKRAY__trBusinessDuration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskDuration_Updated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Task_was_Stitched_In</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Task_Give_new_start_date</name>
        <label>Update Task - Give new start date</label>
        <locationX>539</locationX>
        <locationY>1072</locationY>
        <assignmentItems>
            <assignToReference>updatedProjectTask.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentProjectTask.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedProjectTask.TASKRAY__trStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskStartDate_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedProjectTask.TASKRAY__Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskEndDate_Updated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Duration_is_Longer_or_Shorter_than_Expected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updated_Dependency_Record</name>
        <label>Updated Dependency Record</label>
        <locationX>172</locationX>
        <locationY>181</locationY>
        <assignmentItems>
            <assignToReference>UpdatedDependencyRecord.TASKRAY__trPredecessorTask__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentProjectDependency.TASKRAY__trPredecessorTask__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedDependencyRecord.TASKRAY__trSuccessorTask__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentProjectDependency.TASKRAY__trSuccessorTask__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedDependencyRecord.TASKRAY__trDependencyType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentProjectDependency.TASKRAY__trDependencyType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List_of_Updated_Dependencies</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_Dependencies</name>
        <label>Are there Dependencies?</label>
        <locationX>336</locationX>
        <locationY>606</locationY>
        <defaultConnector>
            <targetReference>Was_a_Prior_Launch_Date_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, there are no dependencies</defaultConnectorLabel>
        <rules>
            <name>Yes_there_are_dependencies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllProjectDependencies</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_all_Dependencies_Initial</targetReference>
            </connector>
            <label>Yes, there are dependencies</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Duration_is_Longer_or_Shorter_than_Expected</name>
        <label>Check if Duration is Longer or Shorter than Expected</label>
        <locationX>429</locationX>
        <locationY>1209</locationY>
        <defaultConnector>
            <targetReference>Update_Business_Duration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Duration is Shorter</defaultConnectorLabel>
        <rules>
            <name>Duration_is_Longer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputProjectDuration_Updated</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ProjectDuration_Template</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_updated_Project_Task_to_list</targetReference>
            </connector>
            <label>Duration is Longer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Task_was_Stitched_In</name>
        <label>Check if Task was Stitched In</label>
        <locationX>419</locationX>
        <locationY>1489</locationY>
        <defaultConnector>
            <targetReference>Add_updated_Project_Task_to_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Task wasn&apos;t stitched in</defaultConnectorLabel>
        <rules>
            <name>Task_was_stitched_in</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentProjectTask.Template_Source_Task_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskEndDate_Updated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>inputProjectLaunchDueDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Move_Stitched_In_Tasks_back_to_Launch_Date</targetReference>
            </connector>
            <label>Task was stitched in</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_there_are_dependencies</name>
        <label>Check if there are dependencies</label>
        <locationX>1016</locationX>
        <locationY>957</locationY>
        <defaultConnector>
            <targetReference>Insert_NEW_Dependencies</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dependencies are not null</defaultConnectorLabel>
        <rules>
            <name>Dependencies_are_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllUpdatedDepenencyRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Dependencies are null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_Prior_Launch_Date_Found</name>
        <label>Was a Prior Launch Date Found?</label>
        <locationX>536</locationX>
        <locationY>568</locationY>
        <defaultConnector>
            <targetReference>Get_All_Related_Open_Project_Tasks_Wizard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prior Date not Found</defaultConnectorLabel>
        <rules>
            <name>Prior_Date_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputProjectLaunchDueDate_Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Related_Open_Project_Tasks_Prior</targetReference>
            </connector>
            <label>Prior Date Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_any_Tasks_found</name>
        <label>Were any Tasks found?</label>
        <locationX>546</locationX>
        <locationY>841</locationY>
        <defaultConnectorLabel>Tasks not found</defaultConnectorLabel>
        <rules>
            <name>Tasks_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allProjectTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_found_Tasks</targetReference>
            </connector>
            <label>Tasks found</label>
        </rules>
    </decisions>
    <formulas>
        <name>DifferenceInUpdatedEndDateAndLaunch</name>
        <dataType>Number</dataType>
        <expression>({!inputProjectLaunchDueDate} - ({!TaskStartDate_Updated} + {!TaskDuration_Updated})) + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LaunchDueDateMilestoneId</name>
        <dataType>String</dataType>
        <expression>{!$Label.TaskRay_Client_Launch_Milestone_Id}</expression>
    </formulas>
    <formulas>
        <name>StitchedInStartDate</name>
        <dataType>Date</dataType>
        <expression>{!updatedProjectTask.TASKRAY__trStartDate__c} + {!DifferenceInUpdatedEndDateAndLaunch}</expression>
    </formulas>
    <formulas>
        <name>TaskDuration_Updated</name>
        <dataType>Number</dataType>
        <expression>((({!inputProjectDuration_Updated} - {!ProjectDuration_Template}) /{!ProjectDuration_Template} ) + 1) * {!currentProjectTask.TASKRAY__trBusinessDuration__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TaskEndDate_Updated</name>
        <dataType>Date</dataType>
        <expression> {!TaskStartDate_Updated} + {!currentProjectTask.TASKRAY__trDuration__c} - 1</expression>
    </formulas>
    <formulas>
        <name>TaskStartDate_Updated</name>
        <dataType>Date</dataType>
        <expression>IF( !ISBLANK({!currentProjectTask.Template_Source_Task_Start_Date__c}),
   ((({!currentProjectTask.Template_Source_Task_Start_Date__c} - {!ProjectStart_Template}) /  {!ProjectDuration_Template}) * {!inputProjectDuration_Updated}) + {!inputProjectStart_Updated},
IF({!currentProjectTask.TASKRAY__trStartDate__c} &lt;= {!inputProjectStart_Updated}, {!inputProjectStart_Updated},
IF(!ISBLANK({!inputProjectLaunchDueDate_Prior}) &amp;&amp; {!currentProjectTask.TASKRAY__trBusinessHrsOverride__c} = TRUE,
   (((({!currentProjectTask.Project_Source_Launch_Date__c} - {!currentProjectTask.TASKRAY__trDuration__c}) - {!ProjectStart_Template}) /  {!ProjectDuration_Template}) * 
         {!inputProjectDuration_Updated}) + {!inputProjectStart_Updated},
IF(!ISBLANK({!inputProjectLaunchDueDate_Prior}) &amp;&amp; {!currentProjectTask.TASKRAY__trBusinessHrsOverride__c} = FALSE,
   (((({!currentProjectTask.Project_Source_Launch_Date__c} - {!currentProjectTask.TASKRAY__trBusinessDuration__c}) - {!ProjectStart_Template}) /  {!ProjectDuration_Template}) * {!inputProjectDuration_Updated}) + {!inputProjectStart_Updated},
{!inputProjectLaunchDueDate} - {!currentProjectTask.TASKRAY__trDuration__c} + 1
))))</expression>
    </formulas>
    <interviewLabel>Dynamically Update Project Tasks Durations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dynamically Update Project Tasks Durations</label>
    <loops>
        <name>Loop_Through_all_Dependencies_Initial</name>
        <label>Loop Through all Dependencies - Initial</label>
        <locationX>351</locationX>
        <locationY>404</locationY>
        <assignNextValueToReference>CurrentProjectDependency</assignNextValueToReference>
        <collectionReference>AllProjectDependencies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Updated_Dependency_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_all_old_dependencies</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_found_Tasks</name>
        <label>Loop through all found Tasks</label>
        <locationX>243</locationX>
        <locationY>948</locationY>
        <assignNextValueToReference>currentProjectTask</assignNextValueToReference>
        <collectionReference>allProjectTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Task_Give_new_start_date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_all_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_NEW_Dependencies</name>
        <label>Insert NEW Dependencies</label>
        <locationX>1346</locationX>
        <locationY>967</locationY>
        <inputReference>AllUpdatedDepenencyRecords</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_all_old_dependencies</name>
        <label>Delete all old dependencies</label>
        <locationX>572</locationX>
        <locationY>406</locationY>
        <connector>
            <targetReference>Was_a_Prior_Launch_Date_Found</targetReference>
        </connector>
        <inputReference>AllProjectDependencies</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Dependencies_in_Project</name>
        <label>Get All Dependencies in Project</label>
        <locationX>191</locationX>
        <locationY>606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_Dependencies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TaskRay_Task_Predecessor_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TaskRay_Task_Successor_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>TASKRAY__trDependency__c</object>
        <outputReference>AllProjectDependencies</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TASKRAY__trLag__c</queriedFields>
        <queriedFields>TASKRAY__trPredecessorTask__c</queriedFields>
        <queriedFields>TASKRAY__trSuccessorTask__c</queriedFields>
        <queriedFields>TASKRAY__trDependencyType__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Related_Open_Project_Tasks_Prior</name>
        <label>Get All Related Open Project Tasks - Prior</label>
        <locationX>841</locationX>
        <locationY>729</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_any_Tasks_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TASKRAY__List__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__trLockDates__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__trStartDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>inputProjectLaunchDueDate_Prior</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__trTemplateSource__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>LaunchDueDateMilestoneId</elementReference>
            </value>
        </filters>
        <object>TASKRAY__Project_Task__c</object>
        <outputReference>allProjectTasks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TASKRAY__trStartDate__c</queriedFields>
        <queriedFields>TASKRAY__trBusinessDuration__c</queriedFields>
        <queriedFields>TASKRAY__Deadline__c</queriedFields>
        <queriedFields>TASKRAY__trDuration__c</queriedFields>
        <queriedFields>TASKRAY__trBusinessHrsOverride__c</queriedFields>
        <queriedFields>Template_Source_Task_Start_Date__c</queriedFields>
        <queriedFields>Project_Source_Launch_Date__c</queriedFields>
        <queriedFields>Source_Task_from_Template__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Related_Open_Project_Tasks_Wizard</name>
        <label>Get All Related Open Project Tasks - Wizard</label>
        <locationX>642</locationX>
        <locationY>727</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_any_Tasks_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TASKRAY__List__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__trLockDates__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__trStartDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>inputProjectLaunchDueDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__trTemplateSource__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>LaunchDueDateMilestoneId</elementReference>
            </value>
        </filters>
        <object>TASKRAY__Project_Task__c</object>
        <outputReference>allProjectTasks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TASKRAY__trStartDate__c</queriedFields>
        <queriedFields>TASKRAY__trBusinessDuration__c</queriedFields>
        <queriedFields>TASKRAY__Deadline__c</queriedFields>
        <queriedFields>TASKRAY__trDuration__c</queriedFields>
        <queriedFields>TASKRAY__trBusinessHrsOverride__c</queriedFields>
        <queriedFields>Template_Source_Task_Start_Date__c</queriedFields>
        <queriedFields>Project_Source_Launch_Date__c</queriedFields>
        <queriedFields>Source_Task_from_Template__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_all_Tasks</name>
        <label>Update all Tasks</label>
        <locationX>736</locationX>
        <locationY>953</locationY>
        <connector>
            <targetReference>Check_if_there_are_dependencies</targetReference>
        </connector>
        <inputReference>allUpdatedProjectTasks</inputReference>
    </recordUpdates>
    <startElementReference>Get_All_Dependencies_in_Project</startElementReference>
    <status>Active</status>
    <variables>
        <name>AllProjectDependencies</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trDependency__c</objectType>
    </variables>
    <variables>
        <name>allProjectTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>AllUpdatedDepenencyRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trDependency__c</objectType>
    </variables>
    <variables>
        <name>allUpdatedProjectTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>CurrentProjectDependency</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trDependency__c</objectType>
    </variables>
    <variables>
        <name>currentProjectTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>inputProjectDuration_Prior</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>inputProjectDuration_Updated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>inputProjectLaunchDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Prior Value of the Launch/Due Date when passed from Process Builder</description>
        <name>inputProjectLaunchDueDate_Prior</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputProjectStart_Updated</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputProjectStartDate_Prior</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputAllProjectTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>ProjectDuration_Template</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ProjectStart_Template</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedDependencyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trDependency__c</objectType>
    </variables>
    <variables>
        <name>updatedProjectTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
</Flow>
