src/flows/Manage_Data_Dependent_Project_Details.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Bulk_Clone_Task</name>
        <label>Bulk Clone Task</label>
        <locationX>1865</locationX>
        <locationY>1924</locationY>
        <actionName>taskRayTaskServices</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Cloned_Tasks_to_Parent_Tasks</targetReference>
        </connector>
        <inputParameters>
            <name>sourceInfo</name>
            <value>
                <elementReference>bulkCloneSourceInfo</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>bulkCloneTaskTemplateIds</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_BM_to_List</name>
        <label>Add BM to List</label>
        <locationX>1184</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>allFoundChecklistItems</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>allFoundChecklistItemsBM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_Checklist_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Checklist_Template_Source</name>
        <label>Add Checklist Template Source</label>
        <locationX>1863</locationX>
        <locationY>1199</locationY>
        <assignmentItems>
            <assignToReference>allProjectChecklistItemSources</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentProjectChecklistItem.TASKRAY__trTemplateSource__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Checklist_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Cloned_Tasks_to_Parent_Tasks</name>
        <label>Add Cloned Tasks to Parent Tasks</label>
        <locationX>1684</locationX>
        <locationY>1793</locationY>
        <assignmentItems>
            <assignToReference>allParentTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>bulkCloneTaskTemplateIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_to_Loop_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CM_to_List</name>
        <label>Add CM to List</label>
        <locationX>629</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>allFoundChecklistItems</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>allFoundChecklistItemsCM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Grab_All_Template_Checklist_Items_Clinical_Referrals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CR_to_List</name>
        <label>Add CR to List</label>
        <locationX>874</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>allFoundChecklistItems</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>allFoundChecklistItemsCR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Grab_All_Template_Checklist_Items_Billing_Method</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_EVM_to_List</name>
        <label>Add EVM to List</label>
        <locationX>363</locationX>
        <locationY>195</locationY>
        <assignmentItems>
            <assignToReference>allFoundChecklistItems</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>allFoundChecklistItemsEVM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Grab_All_Template_Checklist_Items_Clinical_Model</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_new_Checklist_Item_to_collection</name>
        <label>Add new Checklist Item to collection</label>
        <locationX>1408</locationX>
        <locationY>1992</locationY>
        <assignmentItems>
            <assignToReference>allNewChecklistItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newChecklistItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_found_Checklist_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Parent_Task_to_List</name>
        <label>Add Parent Task to List</label>
        <locationX>51</locationX>
        <locationY>2142</locationY>
        <assignmentItems>
            <assignToReference>missingParentTasksList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentChecklistItem.Parent_Template_Task__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Lists_for_Bulk_Clone_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Template_Source_ID_to_Parent_Task_List</name>
        <label>Add Template Source ID to Parent Task List</label>
        <locationX>1416</locationX>
        <locationY>564</locationY>
        <assignmentItems>
            <assignToReference>allParentTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskSourceWithId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Project_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Checklist_Source_List</name>
        <label>Add to Checklist Source List</label>
        <locationX>936</locationX>
        <locationY>1567</locationY>
        <assignmentItems>
            <assignToReference>allProjectChecklistItemSources</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentChecklistItem.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Placeholder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Lists_for_Bulk_Clone_Tasks</name>
        <label>Add to Lists for Bulk Clone Tasks</label>
        <locationX>1524</locationX>
        <locationY>2144</locationY>
        <assignmentItems>
            <assignToReference>bulkCloneSourceInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentChecklistItem.Parent_Template_Task__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_found_Checklist_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Source_Info</name>
        <label>Build Source Info</label>
        <locationX>1867</locationX>
        <locationY>1777</locationY>
        <assignmentItems>
            <assignToReference>bulkCloneSourceInfo</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>currentTaskRayProject.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bulkCloneSourceInfo</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>ProjectLaunchDateText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bulk_Clone_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_new_Checklist_Item</name>
        <label>Create new Checklist Item</label>
        <locationX>934</locationX>
        <locationY>1990</locationY>
        <assignmentItems>
            <assignToReference>newChecklistItem.TASKRAY__trLongName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentChecklistItem.TASKRAY__trLongName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newChecklistItem.TASKRAY__trTemplateSource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentChecklistItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newChecklistItem.TASKRAY__Project_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaParentTaskId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_new_Checklist_Item_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Start_Missing_Task_List</name>
        <label>Start Missing Task List</label>
        <locationX>1415</locationX>
        <locationY>1192</locationY>
        <assignmentItems>
            <assignToReference>missingParentTasksList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_found_Checklist_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_to_Loop_2</name>
        <label>Update to Loop 2</label>
        <locationX>1528</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>LoopNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_found_Checklist_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_Checklist_Items</name>
        <label>Are there Checklist Items?</label>
        <locationX>1175</locationX>
        <locationY>568</locationY>
        <defaultConnectorLabel>There are no found Checklist Items</defaultConnectorLabel>
        <rules>
            <name>There_are_found_Checklist_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allFoundChecklistItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_Project_Tasks</targetReference>
            </connector>
            <label>There are found Checklist Items</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Bulk_Clone</name>
        <label>Check for Bulk Clone</label>
        <locationX>1845</locationX>
        <locationY>1577</locationY>
        <defaultConnector>
            <targetReference>Update_to_Loop_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Bulk Clone</defaultConnectorLabel>
        <rules>
            <name>Bulk_Clone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bulkCloneSourceInfo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Source_Info</targetReference>
            </connector>
            <label>Bulk Clone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Checklist_Items</name>
        <label>Check for Checklist Items</label>
        <locationX>1608</locationX>
        <locationY>1003</locationY>
        <defaultConnector>
            <targetReference>Start_Missing_Task_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has no Checklist Items</defaultConnectorLabel>
        <rules>
            <name>Has_Checklist_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allProjectChecklistItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_Checklist_Items</targetReference>
            </connector>
            <label>Has Checklist Items</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Found_BM_CLI</name>
        <label>Check for Found BM CLI</label>
        <locationX>1118</locationX>
        <locationY>355</locationY>
        <defaultConnector>
            <targetReference>Are_there_Checklist_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No BM CLI</defaultConnectorLabel>
        <rules>
            <name>Found_BM_CLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allFoundChecklistItemsBM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_BM_to_List</targetReference>
            </connector>
            <label>Found BM CLI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Found_CM_CLI</name>
        <label>Check for Found CM CLI</label>
        <locationX>631</locationX>
        <locationY>357</locationY>
        <defaultConnector>
            <targetReference>Grab_All_Template_Checklist_Items_Clinical_Referrals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No CM CLI</defaultConnectorLabel>
        <rules>
            <name>Found_CM_CLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allFoundChecklistItemsCM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_CM_to_List</targetReference>
            </connector>
            <label>Found CM CLI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Found_CR_CLI</name>
        <label>Check for Found CR CLI</label>
        <locationX>868</locationX>
        <locationY>353</locationY>
        <defaultConnector>
            <targetReference>Grab_All_Template_Checklist_Items_Billing_Method</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No CR CLI</defaultConnectorLabel>
        <rules>
            <name>Found_CR_CLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allFoundChecklistItemsCR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_CR_to_List</targetReference>
            </connector>
            <label>Found CR CLI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Found_EVM_CLI</name>
        <label>Check for Found EVM CLI</label>
        <locationX>351</locationX>
        <locationY>355</locationY>
        <defaultConnector>
            <targetReference>Grab_All_Template_Checklist_Items_Clinical_Model</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No EVM CLI</defaultConnectorLabel>
        <rules>
            <name>Found_EVM_CLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allFoundChecklistItemsEVM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_EVM_to_List</targetReference>
            </connector>
            <label>Found EVM CLI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Placeholder</name>
        <label>Check if Placeholder</label>
        <locationX>926</locationX>
        <locationY>1749</locationY>
        <defaultConnector>
            <targetReference>Create_new_Checklist_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Checklist Item isn&apos;t Placeholder</defaultConnectorLabel>
        <rules>
            <name>Checklist_Item_is_Placeholder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentChecklistItem.Placeholder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_found_Checklist_Items</targetReference>
            </connector>
            <label>Checklist Item is Placeholder</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_there_are_Checklist_Items_to_add</name>
        <label>Check if there are Checklist Items to add</label>
        <locationX>1811</locationX>
        <locationY>1398</locationY>
        <defaultConnectorLabel>There are no Checklist Items to add</defaultConnectorLabel>
        <rules>
            <name>There_are_Checklist_Items_to_add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allNewChecklistItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_all_New_Checklist_Items</targetReference>
            </connector>
            <label>There are Checklist Items to add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_there_are_Tasks</name>
        <label>Check if there are Tasks</label>
        <locationX>1295</locationX>
        <locationY>957</locationY>
        <defaultConnector>
            <targetReference>Start_Missing_Task_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has no Tasks</defaultConnectorLabel>
        <rules>
            <name>Has_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allProjectTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_Project_Tasks</targetReference>
            </connector>
            <label>Has Tasks</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Loop_Number</name>
        <label>Check Loop Number</label>
        <locationX>1573</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>Check_if_there_are_Checklist_Items_to_add</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Loop 2</defaultConnectorLabel>
        <rules>
            <name>Loop_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Bulk_Clone</targetReference>
            </connector>
            <label>Loop 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Population_Data_Sources</name>
        <label>Check Population Data Sources</label>
        <locationX>604</locationX>
        <locationY>1042</locationY>
        <defaultConnector>
            <targetReference>Contains_Standard_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Population Data Sources is not updated</defaultConnectorLabel>
        <rules>
            <name>Population_Data_Sources_is_updated</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12)</conditionLogic>
            <conditions>
                <leftValueReference>Changed_Fields_Population_Data_Sources</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>convertedPopulationDataSources</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>PDS1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>convertedPopulationDataSources</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>PDS2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>convertedPopulationDataSources</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>PDS3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>convertedPopulationDataSources</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>PDS4</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>convertedPopulationDataSources</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>PDS5</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>convertedPopulationDataSources</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>PDS6</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>convertedPopulationDataSources</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>PDS7</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>convertedPopulationDataSources</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>PDS8</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>convertedPopulationDataSources</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>PDS9</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>convertedPopulationDataSources</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>PDS10</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>convertedPopulationDataSources</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>PDS11</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Parent_List_Contain_this_Task</targetReference>
            </connector>
            <label>Population Data Sources is updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Standard_Value</name>
        <label>Contains Standard Value</label>
        <locationX>804</locationX>
        <locationY>1270</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_found_Checklist_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&apos;t contain value</defaultConnectorLabel>
        <rules>
            <name>Contains_value</name>
            <conditionLogic>(1 AND 2 AND 9) OR (3 AND 4 AND 10) OR (5 AND 6 AND 11) OR (7 AND 8 AND 12)</conditionLogic>
            <conditions>
                <leftValueReference>currentTaskRayProject.Billing_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>currentChecklistItem.Billing_Method__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Changed_Fields_Billing_Method</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentTaskRayProject.Clinical_Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>currentChecklistItem.Clinical_Model__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Changed_Fields_Clinical_Model</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Changed_Fields_Clinical_Referrals</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentTaskRayProject.Clinical_Referrals__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>currentChecklistItem.Clinical_Referrals__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Changed_Fields_Eligibility_Verification_Method</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentTaskRayProject.Eligibility_Verification_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>currentChecklistItem.Eligibility_Verification_Method__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentTaskRayProject.Billing_Method__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentTaskRayProject.Clinical_Model__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentTaskRayProject.Clinical_Referrals__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentTaskRayProject.Eligibility_Verification_Method__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Parent_List_Contain_this_Task</targetReference>
            </connector>
            <label>Contains value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Parent_List_Contain_this_Task</name>
        <label>Does Parent List Contain this Task?</label>
        <locationX>46</locationX>
        <locationY>1457</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_found_Checklist_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fault</defaultConnectorLabel>
        <rules>
            <name>Does_not_Contain_Task_Loop_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContainsParentTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContainsMissingParentTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Parent_Task_to_List</targetReference>
            </connector>
            <label>Does not Contain Task (Loop 1)</label>
        </rules>
        <rules>
            <name>Loop_2_Contains_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContainsParentTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Project_Contain_Checklist_Item</targetReference>
            </connector>
            <label>Loop 2 Contains Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Project_Contain_Checklist_Item</name>
        <label>Does Project Contain Checklist Item?</label>
        <locationX>588</locationX>
        <locationY>1510</locationY>
        <defaultConnector>
            <targetReference>Add_to_Checklist_Source_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Contain Checklist Item</defaultConnectorLabel>
        <rules>
            <name>Contains_Checklist_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allProjectChecklistItemSources</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>currentChecklistItem.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_found_Checklist_Items</targetReference>
            </connector>
            <label>Contains Checklist Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Parent_Template_Task_Null</name>
        <label>Is Parent Template Task Null?</label>
        <locationX>998</locationX>
        <locationY>1038</locationY>
        <defaultConnector>
            <targetReference>Check_Population_Data_Sources</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parent Template Task is not Null</defaultConnectorLabel>
        <rules>
            <name>Parent_Template_Task_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentChecklistItem.Parent_Template_Task__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_found_Checklist_Items</targetReference>
            </connector>
            <label>Parent Template Task is Null</label>
        </rules>
    </decisions>
    <description>Will stitch in new tasks or update existing tasks based on field updates on the TaskRay Project record.</description>
    <formulas>
        <description>Billing Method</description>
        <name>Changed_Fields_Billing_Method</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!inputChangedFields}, &apos;Billing_Method__c&apos;) || CONTAINS({!inputChangedFields}, &apos;All&apos;)</expression>
    </formulas>
    <formulas>
        <description>Clinical Model</description>
        <name>Changed_Fields_Clinical_Model</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!inputChangedFields}, &apos;Clinical_Model__c&apos;) || CONTAINS({!inputChangedFields}, &apos;All&apos;)</expression>
    </formulas>
    <formulas>
        <name>Changed_Fields_Clinical_Referrals</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!inputChangedFields}, &apos;Clinical_Referrals__c&apos;) || CONTAINS({!inputChangedFields}, &apos;All&apos;)</expression>
    </formulas>
    <formulas>
        <description>Eligibility Verification Method</description>
        <name>Changed_Fields_Eligibility_Verification_Method</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!inputChangedFields}, &apos;Eligibility_Verification_Method__c&apos;) || CONTAINS({!inputChangedFields}, &apos;All&apos;)</expression>
    </formulas>
    <formulas>
        <name>Changed_Fields_Population_Data_Sources</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!inputChangedFields}, &apos;Population_Data_Sources__c&apos;) || CONTAINS({!inputChangedFields}, &apos;All&apos;)</expression>
    </formulas>
    <formulas>
        <name>ContainsMissingParentTask</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!missingParentTasksList}, {!currentChecklistItem.Parent_Template_Task__c})</expression>
    </formulas>
    <formulas>
        <name>ContainsParentTask</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!allParentTasks},{!currentChecklistItem.Parent_Template_Task__c})</expression>
    </formulas>
    <formulas>
        <name>convertedPopulationDataSources</name>
        <dataType>String</dataType>
        <expression>IF( INCLUDES( {!currentTaskRayProject.Population_Data_Sources__c}, &apos;Email&apos;), &apos;Email,&apos;, NULL) +
IF( INCLUDES( {!currentTaskRayProject.Population_Data_Sources__c}, &apos;Medical Claims&apos;), &apos;Medical Claims,&apos;, NULL) +
IF( INCLUDES( {!currentTaskRayProject.Population_Data_Sources__c}, &apos;Pharmacy Claims&apos;), &apos;Pharmacy Claims,&apos;, NULL) +
IF( INCLUDES( {!currentTaskRayProject.Population_Data_Sources__c}, &apos;Eligibility File&apos;), &apos;Eligibility File,&apos;, NULL) +
IF( INCLUDES( {!currentTaskRayProject.Population_Data_Sources__c}, &apos;Predefined List from Pharmacy Claims&apos;), &apos;Predefined List from Pharmacy Claims,&apos;, NULL) +
IF( INCLUDES( {!currentTaskRayProject.Population_Data_Sources__c}, &apos;Predefined List from Medical Claims&apos;), &apos;Predefined List from Medical Claims,&apos;, NULL) +
IF( INCLUDES( {!currentTaskRayProject.Population_Data_Sources__c}, &apos;Predefined List from HRA&apos;), &apos;Predefined List from HRA,&apos;, NULL) +
IF( INCLUDES( {!currentTaskRayProject.Population_Data_Sources__c}, &apos;Predefined List from Biometric&apos;), &apos;Predefined List from Biometric,&apos;, NULL) +
IF( INCLUDES( {!currentTaskRayProject.Population_Data_Sources__c}, &apos;Predefined List from EMR&apos;), &apos;Predefined List from EMR,&apos;, NULL) +
IF( INCLUDES( {!currentTaskRayProject.Population_Data_Sources__c}, &apos;N/A - No Livongo Marketing&apos;), &apos;N/A - No Livongo Marketing,&apos;, NULL) +
IF( INCLUDES( {!currentTaskRayProject.Population_Data_Sources__c}, &apos;Other&apos;), &apos;Other,&apos;, NULL)</expression>
    </formulas>
    <formulas>
        <name>formulaParentTaskId</name>
        <dataType>String</dataType>
        <expression>MID({!allParentTasks}, {!startingPositionOfSource} + 19, 18)</expression>
    </formulas>
    <formulas>
        <name>PDS1</name>
        <dataType>String</dataType>
        <expression>IF( INCLUDES( {!currentChecklistItem.Population_Data_Sources__c}, &apos;Email&apos;), &apos;Email,&apos;, NULL)</expression>
    </formulas>
    <formulas>
        <name>PDS10</name>
        <dataType>String</dataType>
        <expression>IF( INCLUDES( {!currentChecklistItem.Population_Data_Sources__c}, &apos;N/A - No Livongo Marketing&apos;), &apos;N/A - No Livongo Marketing,&apos;, NULL)</expression>
    </formulas>
    <formulas>
        <name>PDS11</name>
        <dataType>String</dataType>
        <expression>IF( INCLUDES( {!currentChecklistItem.Population_Data_Sources__c}, &apos;Other&apos;), &apos;Other,&apos;, NULL)</expression>
    </formulas>
    <formulas>
        <name>PDS2</name>
        <dataType>String</dataType>
        <expression>IF( INCLUDES( {!currentChecklistItem.Population_Data_Sources__c}, &apos;Medical Claims&apos;), &apos;Medical Claims,&apos;, NULL)</expression>
    </formulas>
    <formulas>
        <name>PDS3</name>
        <dataType>String</dataType>
        <expression>IF( INCLUDES( {!currentChecklistItem.Population_Data_Sources__c}, &apos;Pharmacy Claims&apos;), &apos;Pharmacy Claims,&apos;, NULL)</expression>
    </formulas>
    <formulas>
        <name>PDS4</name>
        <dataType>String</dataType>
        <expression>IF( INCLUDES( {!currentChecklistItem.Population_Data_Sources__c}, &apos;Eligibility File&apos;), &apos;Eligibility File,&apos;, NULL)</expression>
    </formulas>
    <formulas>
        <name>PDS5</name>
        <dataType>String</dataType>
        <expression>IF( INCLUDES( {!currentChecklistItem.Population_Data_Sources__c}, &apos;Predefined List from Pharmacy Claims&apos;), &apos;Predefined List from Pharmacy Claims,&apos;, NULL)</expression>
    </formulas>
    <formulas>
        <name>PDS6</name>
        <dataType>String</dataType>
        <expression>IF( INCLUDES( {!currentChecklistItem.Population_Data_Sources__c}, &apos;Predefined List from Medical Claims&apos;), &apos;Predefined List from Medical Claims,&apos;, NULL)</expression>
    </formulas>
    <formulas>
        <name>PDS7</name>
        <dataType>String</dataType>
        <expression>IF( INCLUDES( {!currentChecklistItem.Population_Data_Sources__c}, &apos;Predefined List from HRA&apos;), &apos;Predefined List from HRA,&apos;, NULL)</expression>
    </formulas>
    <formulas>
        <name>PDS8</name>
        <dataType>String</dataType>
        <expression>IF( INCLUDES( {!currentChecklistItem.Population_Data_Sources__c}, &apos;Predefined List from Biometric&apos;), &apos;Predefined List from Biometric,&apos;, NULL)</expression>
    </formulas>
    <formulas>
        <name>PDS9</name>
        <dataType>String</dataType>
        <expression>IF( INCLUDES( {!currentChecklistItem.Population_Data_Sources__c}, &apos;Predefined List from EMR&apos;), &apos;Predefined List from EMR,&apos;, NULL)</expression>
    </formulas>
    <formulas>
        <name>ProjectLaunchDateText</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!currentTaskRayProject.TaskRayLaunchDate__c}),
TEXT(TODAY()),
TEXT({!currentTaskRayProject.TaskRayLaunchDate__c})
)</expression>
    </formulas>
    <formulas>
        <name>startingPositionOfSource</name>
        <dataType>Number</dataType>
        <expression>FIND({!currentChecklistItem.Parent_Template_Task__c},{!allParentTasks})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TaskRayUnassignedQueue</name>
        <dataType>String</dataType>
        <expression>{!$Label.TaskRay_Unassigned_Queue_Id}</expression>
    </formulas>
    <formulas>
        <name>TaskSourceWithId</name>
        <dataType>String</dataType>
        <expression>{!currentProjectTask.TASKRAY__trTemplateSource__c} &amp; &apos;:&apos; &amp; {!currentProjectTask.Id}</expression>
    </formulas>
    <interviewLabel>Manage Data Dependent Project Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Data Dependent Project Details</label>
    <loops>
        <name>Loop_through_all_Checklist_Items</name>
        <label>Loop through all Checklist Items</label>
        <locationX>1623</locationX>
        <locationY>1199</locationY>
        <assignNextValueToReference>currentProjectChecklistItem</assignNextValueToReference>
        <collectionReference>allProjectChecklistItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Checklist_Template_Source</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Start_Missing_Task_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_found_Checklist_Items</name>
        <label>Loop through all found Checklist Items</label>
        <locationX>1419</locationX>
        <locationY>1404</locationY>
        <assignNextValueToReference>currentChecklistItem</assignNextValueToReference>
        <collectionReference>allFoundChecklistItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Parent_Template_Task_Null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Loop_Number</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_Project_Tasks</name>
        <label>Loop through all Project Tasks</label>
        <locationX>1415</locationX>
        <locationY>817</locationY>
        <assignNextValueToReference>currentProjectTask</assignNextValueToReference>
        <collectionReference>allProjectTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Template_Source_ID_to_Parent_Task_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_all_Project_Checklist_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_all_New_Checklist_Items</name>
        <label>Insert all New Checklist Items</label>
        <locationX>2083</locationX>
        <locationY>1395</locationY>
        <inputReference>allNewChecklistItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Data_Fields</name>
        <label>Get All Data Fields</label>
        <locationX>49</locationX>
        <locationY>474</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Grab_All_Template_Checklist_Items_Eligibility_Verification_Method</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>TASKRAY__Project__c</object>
        <outputReference>currentTaskRayProject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Population_Data_Sources__c</queriedFields>
        <queriedFields>Clinical_Model__c</queriedFields>
        <queriedFields>Billing_Method__c</queriedFields>
        <queriedFields>Eligibility_Verification_Method__c</queriedFields>
        <queriedFields>Clinical_Referrals__c</queriedFields>
        <queriedFields>TASKRAY__Project_Start__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>TASKRAY__Project_End__c</queriedFields>
        <queriedFields>TaskRayLaunchDate__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Project_Checklist_Items</name>
        <label>Get all Project Checklist Items</label>
        <locationX>1656</locationX>
        <locationY>820</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Checklist_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TASKRAY__trProjectId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>TASKRAY__trChecklistItem__c</object>
        <outputReference>allProjectChecklistItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TASKRAY__trTemplateSource__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Project_Tasks</name>
        <label>Get all Project Tasks</label>
        <locationX>1183</locationX>
        <locationY>818</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_there_are_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TASKRAY__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>TASKRAY__Project_Task__c</object>
        <outputReference>allProjectTasks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>TASKRAY__trTemplateSource__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Grab_All_Template_Checklist_Items_Billing_Method</name>
        <label>Grab All Template Checklist Items - Billing Method</label>
        <locationX>986</locationX>
        <locationY>470</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Found_BM_CLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Billing_Method__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentTaskRayProject.Billing_Method__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_Method__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Template_Task__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TASKRAY__trChecklistItem__c</object>
        <outputReference>allFoundChecklistItemsBM</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>TASKRAY__trTemplateSource__c</queriedFields>
        <queriedFields>Billing_Method__c</queriedFields>
        <queriedFields>Clinical_Model__c</queriedFields>
        <queriedFields>Clinical_Referrals__c</queriedFields>
        <queriedFields>Eligibility_Verification_Method__c</queriedFields>
        <queriedFields>Population_Data_Sources__c</queriedFields>
        <queriedFields>Parent_Template_Task__c</queriedFields>
        <queriedFields>Placeholder__c</queriedFields>
        <queriedFields>Parent_Task_Name__c</queriedFields>
        <queriedFields>TASKRAY__trLongName__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Grab_All_Template_Checklist_Items_Clinical_Model</name>
        <label>Grab All Template Checklist Items - Clinical Model</label>
        <locationX>499</locationX>
        <locationY>470</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Found_CM_CLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Clinical_Model__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentTaskRayProject.Clinical_Model__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Clinical_Model__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Template_Task__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TASKRAY__trChecklistItem__c</object>
        <outputReference>allFoundChecklistItemsCM</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>TASKRAY__trTemplateSource__c</queriedFields>
        <queriedFields>Billing_Method__c</queriedFields>
        <queriedFields>Clinical_Model__c</queriedFields>
        <queriedFields>Clinical_Referrals__c</queriedFields>
        <queriedFields>Eligibility_Verification_Method__c</queriedFields>
        <queriedFields>Population_Data_Sources__c</queriedFields>
        <queriedFields>Parent_Template_Task__c</queriedFields>
        <queriedFields>Placeholder__c</queriedFields>
        <queriedFields>Parent_Task_Name__c</queriedFields>
        <queriedFields>TASKRAY__trLongName__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Grab_All_Template_Checklist_Items_Clinical_Referrals</name>
        <label>Grab All Template Checklist Items - Clinical Referrals</label>
        <locationX>758</locationX>
        <locationY>472</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Found_CR_CLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Clinical_Referrals__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentTaskRayProject.Clinical_Referrals__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Clinical_Referrals__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Template_Task__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TASKRAY__trChecklistItem__c</object>
        <outputReference>allFoundChecklistItemsCR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>TASKRAY__trTemplateSource__c</queriedFields>
        <queriedFields>Billing_Method__c</queriedFields>
        <queriedFields>Clinical_Model__c</queriedFields>
        <queriedFields>Clinical_Referrals__c</queriedFields>
        <queriedFields>Eligibility_Verification_Method__c</queriedFields>
        <queriedFields>Population_Data_Sources__c</queriedFields>
        <queriedFields>Parent_Template_Task__c</queriedFields>
        <queriedFields>Placeholder__c</queriedFields>
        <queriedFields>Parent_Task_Name__c</queriedFields>
        <queriedFields>TASKRAY__trLongName__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Grab_All_Template_Checklist_Items_Eligibility_Verification_Method</name>
        <label>Grab All Template Checklist Items - Eligibility Verification Method</label>
        <locationX>233</locationX>
        <locationY>467</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Found_EVM_CLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Eligibility_Verification_Method__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentTaskRayProject.Eligibility_Verification_Method__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Eligibility_Verification_Method__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Template_Task__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TASKRAY__trChecklistItem__c</object>
        <outputReference>allFoundChecklistItemsEVM</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>TASKRAY__trTemplateSource__c</queriedFields>
        <queriedFields>Billing_Method__c</queriedFields>
        <queriedFields>Clinical_Model__c</queriedFields>
        <queriedFields>Clinical_Referrals__c</queriedFields>
        <queriedFields>Eligibility_Verification_Method__c</queriedFields>
        <queriedFields>Population_Data_Sources__c</queriedFields>
        <queriedFields>Parent_Template_Task__c</queriedFields>
        <queriedFields>Placeholder__c</queriedFields>
        <queriedFields>Parent_Task_Name__c</queriedFields>
        <queriedFields>TASKRAY__trLongName__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_All_Data_Fields</startElementReference>
    <status>Active</status>
    <variables>
        <name>allFoundChecklistItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trChecklistItem__c</objectType>
    </variables>
    <variables>
        <name>allFoundChecklistItemsBM</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trChecklistItem__c</objectType>
    </variables>
    <variables>
        <name>allFoundChecklistItemsCM</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trChecklistItem__c</objectType>
    </variables>
    <variables>
        <name>allFoundChecklistItemsCR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trChecklistItem__c</objectType>
    </variables>
    <variables>
        <name>allFoundChecklistItemsEVM</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trChecklistItem__c</objectType>
    </variables>
    <variables>
        <name>allNewChecklistItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trChecklistItem__c</objectType>
    </variables>
    <variables>
        <name>allParentTasks</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allParentTasksToCheck</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allProjectChecklistItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trChecklistItem__c</objectType>
    </variables>
    <variables>
        <name>allProjectChecklistItemSources</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allProjectTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>bulkCloneEndDates</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bulkCloneIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>bulkCloneOwnerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bulkCloneProjectId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bulkCloneSourceInfo</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bulkCloneStartDates</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bulkCloneTaskNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bulkCloneTaskTemplateIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentChecklistItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trChecklistItem__c</objectType>
    </variables>
    <variables>
        <name>currentFieldValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentProjectChecklistItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trChecklistItem__c</objectType>
    </variables>
    <variables>
        <name>currentProjectTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>currentTaskRayProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <name>foundDuplicateChecklistItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trChecklistItem__c</objectType>
    </variables>
    <variables>
        <name>inputChangedFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>From the Process Builder, when a project is created &apos;inputIsNew&apos; is set to TRUE. Otherwise, set to FALSE</description>
        <name>inputIsNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LoopNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>missingParentTasksList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newChecklistItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trChecklistItem__c</objectType>
    </variables>
    <variables>
        <name>parentTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>projectFieldValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
