src/flows/Manage_Opportunity_Programs.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Cloned_Opp_Programs_to_List</name>
        <label>Add Cloned Opp Programs to List</label>
        <locationX>778</locationX>
        <locationY>2873</locationY>
        <assignmentItems>
            <assignToReference>ListOfClonedOpportunityProgramRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ClonedOpportunityProgram</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_List_of_Pricebook_Entry_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_List_of_Available_Programs</name>
        <label>Add List of Available Programs</label>
        <locationX>2273</locationX>
        <locationY>1192</locationY>
        <assignmentItems>
            <assignToReference>AllProgramsInPriceBook</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!CurrentPriceBookEntry.Name} &lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_all_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_final_list_of_Cloned_Opportunity_Programs</name>
        <label>Add to final list of Cloned Opportunity Programs</label>
        <locationX>3621</locationX>
        <locationY>1697</locationY>
        <assignmentItems>
            <assignToReference>ListOfClonedOpportunityProgramRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ClonedOpportunityProgram</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Opportunity_Programs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_List_of_Clone_Opp_Programs</name>
        <label>Add to List of Clone Opp Programs</label>
        <locationX>3220</locationX>
        <locationY>217</locationY>
        <assignmentItems>
            <assignToReference>ListOfClonedOpportunityProgramRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ClonedOpportunityProgram</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_all_Price_Book_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Counts</name>
        <label>Assign Counts</label>
        <locationX>1928</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>CountOfPBEInPriceBook</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AllPBEonCurrentPriceBook</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountOfOppProgramsOnOpp</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AllOppProgramsOnOpp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_if_Counts_are_Equal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clone_current_Opportunity_Program_record</name>
        <label>Clone current Opportunity Program record</label>
        <locationX>3619</locationX>
        <locationY>2017</locationY>
        <assignmentItems>
            <assignToReference>ClonedOpportunityProgram.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentOpportunityProgram.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedOpportunityProgram.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchingPriceBookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedOpportunityProgram.Product_Participants__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentOpportunityProgram.Product_Participants__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedOpportunityProgram.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentOpportunityProgram.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedOpportunityProgram.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchingPriceBookEntry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedOpportunityProgram.Price_Book_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_to_a_different_Price_Book</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedOpportunityProgram.Program_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchingPriceBookEntry.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedOpportunityProgram.OpportunityProductName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchingPriceBookEntry.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_final_list_of_Cloned_Opportunity_Programs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_new_Opp_Program</name>
        <label>Create new Opp Program</label>
        <locationX>2925</locationX>
        <locationY>216</locationY>
        <assignmentItems>
            <assignToReference>ClonedOpportunityProgram.Program_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPriceBookEntry.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedOpportunityProgram.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPriceBookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedOpportunityProgram.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedOpportunityProgram.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedOpportunityProgram.Price_Book_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPriceBookEntry.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedOpportunityProgram.Product_Participants__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedOpportunityProgram.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedOpportunityProgram.OpportunityProductName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPriceBookEntry.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List_of_Clone_Opp_Programs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Opp_Programs</name>
        <label>Create New Opp Programs</label>
        <locationX>778</locationX>
        <locationY>2682</locationY>
        <assignmentItems>
            <assignToReference>ClonedOpportunityProgram.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedOpportunityProgram.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPriceBookEntryID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedOpportunityProgram.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedOpportunityProgram.Product_Participants__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedOpportunityProgram.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedOpportunityProgram.Price_Book_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Price_Book_to_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Cloned_Opp_Programs_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Values</name>
        <label>Get Values</label>
        <locationX>982</locationX>
        <locationY>2268</locationY>
        <assignmentItems>
            <assignToReference>CurrentValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetFirstValueFromList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfPriceBookEntries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetFirstValueFromList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Element_from_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Element_from_List</name>
        <label>Remove Element from List</label>
        <locationX>1193</locationX>
        <locationY>2267</locationY>
        <assignmentItems>
            <assignToReference>ConcatenatedListOfOppProgIDs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedConcatenedListOfIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Values_Remain</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Concatenated_Value_of_Selected_Choices</name>
        <label>Set Concatenated Value of Selected Choices</label>
        <locationX>842</locationX>
        <locationY>2381</locationY>
        <assignmentItems>
            <assignToReference>ConcatenatedListOfOppProgIDs</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Add_Opportunity_Programs}; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Programs_Were_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contract_Path</name>
        <label>Set Contract Path</label>
        <locationX>362</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>PreContractingPaperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentOpportunity.Pre_Contracting_Contract_Paper__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Price_Book_was_Found_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contract_Path_0</name>
        <label>Set Contract Path</label>
        <locationX>396</locationX>
        <locationY>945</locationY>
        <assignmentItems>
            <assignToReference>PreContractingPaperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>[Field not filled on Opportunity]</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Price_Book_was_Found_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ID_of_Current_Price_Book_Entry</name>
        <label>Set ID of Current Price Book Entry</label>
        <locationX>2383</locationX>
        <locationY>209</locationY>
        <assignmentItems>
            <assignToReference>ListOfPriceBookEntries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentOppProgramOnOpp.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_All_Found_Opp_Programs</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AddPrograms_choice</name>
        <choiceText>Add Programs to this Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Programs to this Opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <name>SwitchPriceBooks_choice</name>
        <choiceText>Update Opportunity to a different Price Book</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update Opportunity to a different Price Book</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_There_Price_Book_Entries_and_Opp_Programs</name>
        <label>Are There Price Book Entries and Opp Programs?</label>
        <locationX>2567</locationX>
        <locationY>2433</locationY>
        <defaultConnectorLabel>END FLOW</defaultConnectorLabel>
        <rules>
            <name>Price_Book_Entries_and_Opp_Programs_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundPriceBookEntries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AllRelatedOpportunityPrograms</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Cloned_Opportunity_Programs</targetReference>
            </connector>
            <label>Price Book Entries and Opp Programs Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Programs_Were_Selected</name>
        <label>Check if Programs Were Selected</label>
        <locationX>838</locationX>
        <locationY>2529</locationY>
        <defaultConnector>
            <targetReference>Check_if_Values_Remain</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Programs Selected</defaultConnectorLabel>
        <rules>
            <name>No_Programs_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConcatenatedListOfOppProgIDs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Programs Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Values_Remain</name>
        <label>Check if Values Remain</label>
        <locationX>1082</locationX>
        <locationY>2525</locationY>
        <defaultConnector>
            <targetReference>Get_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Values Remain</defaultConnectorLabel>
        <rules>
            <name>No_Values_Remain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConcatenatedListOfOppProgIDs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_List_of_Pricebook_Entry_IDs</targetReference>
            </connector>
            <label>No Values Remain</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if opp covered lives is blank</description>
        <name>Check_Opportunity_Covered_Lives</name>
        <label>Check Opportunity Covered Lives</label>
        <locationX>50</locationX>
        <locationY>893</locationY>
        <defaultConnector>
            <targetReference>Determine_if_Contract_Path_Was_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blank</defaultConnectorLabel>
        <rules>
            <name>Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.Opportunity_Covered_Lives__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Covered_Lives</targetReference>
            </connector>
            <label>Is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_that_Price_Book_Entries_were_Selected</name>
        <label>Check that Price Book Entries were Selected</label>
        <locationX>2845</locationX>
        <locationY>437</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_all_Price_Book_Entries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Entries Selected</defaultConnectorLabel>
        <rules>
            <name>No_Entries_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedPriceBookEntries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Entries Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_if_Contract_Path_Was_Set</name>
        <label>Determine if Contract Path Was Set</label>
        <locationX>358</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Set_Contract_Path_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contract Path Not Set</defaultConnectorLabel>
        <rules>
            <name>Contract_Path_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.Pre_Contracting_Contract_Paper__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contract_Path</targetReference>
            </connector>
            <label>Contract Path Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_if_Counts_are_Equal</name>
        <label>Determine if Counts are Equal</label>
        <locationX>2118</locationX>
        <locationY>439</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_All_Found_Opp_Programs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Counts Are Different</defaultConnectorLabel>
        <rules>
            <name>Counts_are_equal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfOppProgramsOnOpp</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CountOfPBEInPriceBook</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AllPBEOnOppScreen</targetReference>
            </connector>
            <label>Counts are equal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_if_Price_Book_Entry_was_found</name>
        <label>Determine if Price Book Entry was found</label>
        <locationX>3339</locationX>
        <locationY>1866</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_Opportunity_Programs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Price Book Entries Found</defaultConnectorLabel>
        <rules>
            <name>Found_Price_Book_Entry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchingPriceBookEntry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_current_Opportunity_Program_record</targetReference>
            </connector>
            <label>Found Price Book Entry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Price_Book_was_Found_0</name>
        <label>Determine Price Book was Found</label>
        <locationX>700</locationX>
        <locationY>713</locationY>
        <defaultConnector>
            <targetReference>AddNewPriceBook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Price Book isn&apos;t Found</defaultConnectorLabel>
        <rules>
            <name>Price_Book_is_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Price_Book_Name</targetReference>
            </connector>
            <label>Price Book is Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Selected_Action</name>
        <label>User Selected Action</label>
        <locationX>1556</locationX>
        <locationY>723</locationY>
        <defaultConnector>
            <targetReference>Get_all_Current_Opp_Programs_on_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add Programs</defaultConnectorLabel>
        <rules>
            <name>Switch_Price_Books</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SwitchPriceBooks_choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Available_Price_Book</targetReference>
            </connector>
            <label>Switch Price Books</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Opportunity_Programs_found</name>
        <label>Were Opportunity Programs found?</label>
        <locationX>2925</locationX>
        <locationY>1455</locationY>
        <defaultConnector>
            <targetReference>Update_Price_Book_on_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunity Programs were not found</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Programs_were_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllRelatedOpportunityPrograms</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_Opportunity_Programs</targetReference>
            </connector>
            <label>Opportunity Programs were found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Price_Book_Entries_Found</name>
        <label>Were Price Book Entries Found?</label>
        <locationX>1975</locationX>
        <locationY>1468</locationY>
        <defaultConnector>
            <targetReference>Delete_all_Existing_Opportunity_Program_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Price Book Entries Found</defaultConnectorLabel>
        <rules>
            <name>Price_Book_Entries_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundPriceBookEntries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_all_Entries</targetReference>
            </connector>
            <label>Price Book Entries Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Price_Book_Entries_Found_0</name>
        <label>Were Price Book Entries Found?</label>
        <locationX>698</locationX>
        <locationY>2145</locationY>
        <defaultConnectorLabel>No Price Book Entries Found</defaultConnectorLabel>
        <rules>
            <name>Price_Book_Entries_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundPriceBookEntries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOpportunityPrograms</targetReference>
            </connector>
            <label>Price Book Entries Found</label>
        </rules>
    </decisions>
    <description>Price Book guidance tool for Sales Users on Opportunities</description>
    <dynamicChoiceSets>
        <name>AllPriceBookEntries</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Add_Price_Book_to_Opportunity</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AvailablePriceBooks</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>CurrentOpportunity.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>SelectedPriceBookName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>GetFirstValueFromList</name>
        <dataType>String</dataType>
        <expression>LEFT({!ConcatenatedListOfOppProgIDs}, 18)</expression>
    </formulas>
    <formulas>
        <name>UpdatedConcatenedListOfIds</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!ConcatenatedListOfOppProgIDs}, {!CurrentValue} &amp; &quot;; &quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Manage Opportunity Programs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Opportunity Programs</label>
    <loops>
        <name>Loop_Through_all_Entries</name>
        <label>Loop Through all Entries</label>
        <locationX>2276</locationX>
        <locationY>1462</locationY>
        <assignNextValueToReference>CurrentPriceBookEntry</assignNextValueToReference>
        <collectionReference>FoundPriceBookEntries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_List_of_Available_Programs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Warning_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_All_Found_Opp_Programs</name>
        <label>Loop Through All Found Opp Programs</label>
        <locationX>2376</locationX>
        <locationY>435</locationY>
        <assignNextValueToReference>CurrentOppProgramOnOpp</assignNextValueToReference>
        <collectionReference>AllOppProgramsOnOpp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_ID_of_Current_Price_Book_Entry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_Available_Price_Book_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_Opportunity_Programs</name>
        <label>Loop through all Opportunity Programs</label>
        <locationX>3075</locationX>
        <locationY>1708</locationY>
        <assignNextValueToReference>CurrentOpportunityProgram</assignNextValueToReference>
        <collectionReference>AllRelatedOpportunityPrograms</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Attempt_to_Find_Matching_Price_Book_Entry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_all_Existing_Opportunity_Program_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_all_Price_Book_Entries</name>
        <label>Loop Through all Price Book Entries</label>
        <locationX>3065</locationX>
        <locationY>433</locationY>
        <assignNextValueToReference>CurrentPriceBookEntry</assignNextValueToReference>
        <collectionReference>SelectedPriceBookEntries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_new_Opp_Program</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Cloned_Opportunity_Programs_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_List_of_Pricebook_Entry_IDs</name>
        <label>Loop Through List of Pricebook Entry IDs</label>
        <locationX>1089</locationX>
        <locationY>2764</locationY>
        <assignNextValueToReference>CurrentPriceBookEntryID</assignNextValueToReference>
        <collectionReference>ListOfPriceBookEntries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Price_Book_Entry_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Cloned_Opportunity_Programs_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Cloned_Opportunity_Programs</name>
        <label>Insert Cloned Opportunity Programs</label>
        <locationX>2575</locationX>
        <locationY>2639</locationY>
        <connector>
            <targetReference>Bypass_Validation_Errors_0</targetReference>
        </connector>
        <inputReference>ListOfClonedOpportunityProgramRecords</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Cloned_Opportunity_Programs_0</name>
        <label>Insert Cloned Opportunity Programs</label>
        <locationX>1083</locationX>
        <locationY>2970</locationY>
        <connector>
            <targetReference>Choose_Pricing_Structures_for_each_Opportunity_Program_2</targetReference>
        </connector>
        <inputReference>ListOfClonedOpportunityProgramRecords</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Cloned_Opportunity_Programs_0_0</name>
        <label>Insert Cloned Opportunity Programs</label>
        <locationX>3355</locationX>
        <locationY>435</locationY>
        <connector>
            <targetReference>Choose_Pricing_Structures_for_each_Opportunity_Program_1</targetReference>
        </connector>
        <inputReference>ListOfClonedOpportunityProgramRecords</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_all_Existing_Opportunity_Program_records</name>
        <label>Delete all Existing Opportunity Program records</label>
        <locationX>2300</locationX>
        <locationY>1712</locationY>
        <connector>
            <targetReference>Update_Price_Book_on_Opportunity</targetReference>
        </connector>
        <inputReference>AllRelatedOpportunityPrograms</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Attempt_to_Find_Matching_Price_Book_Entry</name>
        <label>Attempt to Find Matching Price Book Entry</label>
        <locationX>3073</locationX>
        <locationY>2019</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_if_Price_Book_Entry_was_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Update_to_a_different_Price_Book</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOpportunityProgram.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOpportunityProgram.ProductRecordType__c</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>MatchingPriceBookEntry</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Current_Opp_Programs_on_Opp</name>
        <label>Get all Current Opp Programs on Opp</label>
        <locationX>1560</locationX>
        <locationY>437</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_PBE_on_Price_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>AllOppProgramsOnOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Opportunity_Programs_on_Current_Opportunity</name>
        <label>Get All Opportunity Programs on Current Opportunity</label>
        <locationX>2733</locationX>
        <locationY>1456</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_Opportunity_Programs_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>AllRelatedOpportunityPrograms</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Product_Participants__c</queriedFields>
        <queriedFields>Program_Family__c</queriedFields>
        <queriedFields>ProductRecordType__c</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_PBE_on_Price_Book</name>
        <label>Get All PBE on Price Book</label>
        <locationX>1767</locationX>
        <locationY>437</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Counts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOpportunity.Pricebook2Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>AllPBEonCurrentPriceBook</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_list_of_Programs_on_New_Price_Book</name>
        <label>Get list of Programs on New Price Book</label>
        <locationX>1980</locationX>
        <locationY>1284</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bypass_Validation_Errors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Update_to_a_different_Price_Book</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>FoundPriceBookEntries</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_list_of_Programs_on_New_Price_Book_0</name>
        <label>Get list of Programs on New Price Book</label>
        <locationX>709</locationX>
        <locationY>2023</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_Price_Book_Entries_Found_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Add_Price_Book_to_Opportunity</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>FoundPriceBookEntries</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>118</locationX>
        <locationY>717</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opportunity_Covered_Lives</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>CurrentOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>Pre_Contracting_Contract_Paper__c</queriedFields>
        <queriedFields>Opportunity_Covered_Lives__c</queriedFields>
        <queriedFields>Type</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_Entry_Record</name>
        <label>Get Price Book Entry Record</label>
        <locationX>938</locationX>
        <locationY>2684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Opp_Programs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentPriceBookEntryID</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>ClonedOpportunityProgram.OpportunityProductName__c</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ClonedOpportunityProgram.Program_ID__c</assignToReference>
            <field>Product2Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_Name</name>
        <label>Get Price Book Name</label>
        <locationX>1035</locationX>
        <locationY>722</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_User_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOpportunity.Pricebook2Id</elementReference>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>PriceBookName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Bypass_Validation_Errors</name>
        <label>Bypass Validation Errors</label>
        <locationX>1786</locationX>
        <locationY>1381</locationY>
        <connector>
            <targetReference>Were_Price_Book_Entries_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bypass_Product_Requirement__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Bypass_Validation_Errors_0</name>
        <label>Bypass Validation Errors</label>
        <locationX>2864</locationX>
        <locationY>2655</locationY>
        <connector>
            <targetReference>Choose_Pricing_Structures_for_each_Opportunity_Program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bypass_Product_Requirement__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Price_Book_on_Opportunity</name>
        <label>Update Price Book on Opportunity</label>
        <locationX>2570</locationX>
        <locationY>2215</locationY>
        <connector>
            <targetReference>Are_There_Price_Book_Entries_and_Opp_Programs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Update_to_a_different_Price_Book</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Price_Book_on_Opportunity_0</name>
        <label>Update Price Book on Opportunity</label>
        <locationX>708</locationX>
        <locationY>1897</locationY>
        <connector>
            <targetReference>Get_list_of_Programs_on_New_Price_Book_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Add_Price_Book_to_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpportunityCoveredLives</name>
        <label>UpdateOpportunityCoveredLives</label>
        <locationX>262</locationX>
        <locationY>1123</locationY>
        <connector>
            <targetReference>Determine_if_Contract_Path_Was_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_Covered_Lives__c</field>
            <value>
                <elementReference>Opportunity_Covered_Lives</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>AddNewPriceBook</name>
        <label>Add New Price Book</label>
        <locationX>708</locationX>
        <locationY>1642</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Price_Book_on_Opportunity_0</targetReference>
        </connector>
        <fields>
            <name>HelpText_1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 22px;&quot;&gt;Choose Price Book&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select a price book below to add to this opportunity. Price books often reflect the &quot;Pre-Contracting Contract Paper&quot; of an opportunity and help set the prices for programs added. Select the &quot;Livongo&quot; Price Book if you are unsure of any pricing influences. The price book can be updated later.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Pre-Contracting Contract Paper: &lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!PreContractingPaperName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Price_Book_to_Opportunity</name>
            <choiceReferences>AvailablePriceBooks</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add Price Book to Opportunity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AddOpportunityPrograms</name>
        <label>AddOpportunityPrograms</label>
        <locationX>699</locationX>
        <locationY>2377</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Concatenated_Value_of_Selected_Choices</targetReference>
        </connector>
        <fields>
            <name>HelpText_2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 22px;&quot;&gt;Choose Opportunity Programs&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select the programs you&apos;re selling from the list below to add to this opportunity. All programs will be added with their default pricing, unless there are several pricing structures. If there are several pricing structures for a program, you will be able to choose which pricing applies.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Selected Price Book: &lt;b&gt;{!SelectedPriceBookName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Opportunity_Programs</name>
            <choiceReferences>AllPriceBookEntries</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add Opportunity Programs</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AllPBEOnOppScreen</name>
        <label>AllPBEOnOppScreen</label>
        <locationX>2128</locationX>
        <locationY>180</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AllAvailablePBEonOpp</name>
            <fieldText>&lt;p&gt;All available programs for this price book have been added to this opportunity.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you are attempting to sell a program not listed in this price book, please create a separate opportunity with a different price book.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Current Price Book: &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!PriceBookName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Available_Price_Book</name>
        <label>Select Available Price Book</label>
        <locationX>1982</locationX>
        <locationY>1007</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_list_of_Programs_on_New_Price_Book</targetReference>
        </connector>
        <fields>
            <name>Current_Price_Book_Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 22px;&quot;&gt;Choose Price Book&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Select a price book below, which will update this opportunity. Price books often reflect the &quot;Pre-Contracting Contract Paper&quot; of an opportunity and help set the prices for programs.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current Price Book: &lt;b&gt;{!PriceBookName}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Pre-Contracting Contract Paper: &lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!PreContractingPaperName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Warning_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;NOTICE: Existing prices will be overwritten when switching Price Books on an Opportunity&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Update_to_a_different_Price_Book</name>
            <choiceReferences>AvailablePriceBooks</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Update Opportunity to a different Price Book</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Available_Price_Book_0_0</name>
        <label>Select Available Price Book</label>
        <locationX>2643</locationX>
        <locationY>433</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_that_Price_Book_Entries_were_Selected</targetReference>
        </connector>
        <fields>
            <name>HelpText_4</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 22px; background-color: rgb(255, 255, 255);&quot;&gt;Choose Opportunity Programs&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Select the programs you&apos;re selling from the list below to add to this opportunity. All programs will be added with their default pricing, unless there are several pricing structures. If there are several pricing structures for a program, you will be able to choose which pricing applies.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Current Price Book: &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!PriceBookName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RemainingPriceBookEntries</name>
            <extensionName>c:PricebookEntrySelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>PricebookId</name>
                <value>
                    <elementReference>CurrentOpportunity.Pricebook2Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ExistingPricebookEntryIds</name>
                <value>
                    <elementReference>ListOfPriceBookEntries</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedPriceBookEntries</assignToReference>
                <name>PricebookEntryCollection</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_User_Action</name>
        <label>Select User Action</label>
        <locationX>1315</locationX>
        <locationY>720</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>User_Selected_Action</targetReference>
        </connector>
        <fields>
            <name>PriceBookNameDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 22px;&quot;&gt;Opportunity Program Management Options&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please select an option to either add programs using the current price book, listed below, or to switch the price book. The &quot;Pre-Contracting Contract Paper&quot; for this opportunity has also been provided below, in the event that it is driving the pricing for this opportunity.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Current Price Book: &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!PriceBookName}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Pre-Contracting Contract Paper: &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!PreContractingPaperName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_would_you_like_to_do</name>
            <choiceReferences>AddPrograms_choice</choiceReferences>
            <choiceReferences>SwitchPriceBooks_choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What would you like to do?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Opportunity_Covered_Lives</name>
        <label>Update Opportunity Covered Lives</label>
        <locationX>61</locationX>
        <locationY>1124</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateOpportunityCoveredLives</targetReference>
        </connector>
        <fields>
            <name>Update_Opportunity_Covered_Lives_Screens</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please update the Opportunity Covered Lives&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_Covered_Lives</name>
            <dataType>Number</dataType>
            <fieldText>Opportunity Covered Lives</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning_Screen</name>
        <label>Warning_Screen</label>
        <locationX>2517</locationX>
        <locationY>1457</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_All_Opportunity_Programs_on_Current_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Notice_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Selected Price Book: &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!SelectedPriceBookName}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;The price book selected contains the following programs:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!AllProgramsInPriceBook}&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;NOTICE: If your opportunity contains programs outside of this list, they WILL be removed. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;If you are attempting to sell a program not listed in this price book, please create a separate opportunity with a different price book.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Press &quot;Next&quot; below to continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>118</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Choose_Pricing_Structures_for_each_Opportunity_Program</name>
        <label>Choose Pricing Structures for each Opportunity Program</label>
        <locationX>2580</locationX>
        <locationY>2883</locationY>
        <flowName>Opportunity_Program_Pricing_Structure_Manager</flowName>
        <inputAssignments>
            <name>inputAction</name>
            <value>
                <stringValue>Update Price Book</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputListOfNewOpportunityPrograms</name>
            <value>
                <elementReference>ListOfClonedOpportunityProgramRecords</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputPriceBook</name>
            <value>
                <elementReference>Update_to_a_different_Price_Book</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Choose_Pricing_Structures_for_each_Opportunity_Program_1</name>
        <label>Choose Pricing Structures for each Opportunity Program</label>
        <locationX>3831</locationX>
        <locationY>435</locationY>
        <flowName>Opportunity_Program_Pricing_Structure_Manager</flowName>
        <inputAssignments>
            <name>inputAction</name>
            <value>
                <stringValue>Add Price Book</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputListOfNewOpportunityPrograms</name>
            <value>
                <elementReference>ListOfClonedOpportunityProgramRecords</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputPriceBook</name>
            <value>
                <elementReference>CurrentOpportunity.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Choose_Pricing_Structures_for_each_Opportunity_Program_2</name>
        <label>Choose Pricing Structures for each Opportunity Program</label>
        <locationX>1078</locationX>
        <locationY>3160</locationY>
        <flowName>Opportunity_Program_Pricing_Structure_Manager</flowName>
        <inputAssignments>
            <name>inputAction</name>
            <value>
                <stringValue>Add Price Book</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputListOfNewOpportunityPrograms</name>
            <value>
                <elementReference>ListOfClonedOpportunityProgramRecords</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputPriceBook</name>
            <value>
                <elementReference>Add_Price_Book_to_Opportunity</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AllOppProgramsOnOpp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>AllPBEonCurrentPriceBook</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>AllProgramsInPriceBook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllRelatedOpportunityPrograms</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ClonedOpportunityProgram</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ConcatenatedListOfOppProgIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountOfOppProgramsOnOpp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountOfPBEInPriceBook</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CurrentOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>CurrentOpportunityProgram</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>CurrentOppProgramOnOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>CurrentPriceBookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>CurrentPriceBookEntryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FoundPriceBookEntries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>ListOfClonedOpportunityProgramRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ListOfPriceBookEntries</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MatchingPriceBookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>PreContractingPaperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PriceBookName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedPriceBookEntries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>SelectedPriceBookName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
