src/flows/Meeting_Notes_Router_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Discovery</name>
        <choiceText>Discovery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Discovery</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proposal</name>
        <choiceText>Proposal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proposal</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Which_Object_is_being_used</name>
        <label>Which Object is being used</label>
        <locationX>290</locationX>
        <locationY>171</locationY>
        <defaultConnector>
            <targetReference>Under_Construction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Use_Account_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Meeting_Notes_Account</targetReference>
            </connector>
            <label>Use Account Flow</label>
        </rules>
    </decisions>
    <description>A flow to route which type of notes to show</description>
    <formulas>
        <name>ResponseOutputs</name>
        <dataType>String</dataType>
        <expression>&quot;Here is a summay of your Discovery notes:&quot;
&amp; BR() &amp; &quot;Total # Employees: &quot;&amp;TEXT({!MyAccount.NumberOfEmployees})
&amp; BR() &amp; &quot;Total # Covered Lives: &quot;&amp;TEXT({!MyAccount.Covered_Lives__c})</expression>
    </formulas>
    <interviewLabel>Meeting Notes Router Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Guided Meeting Notes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Under_Construction</name>
        <label>Under Construction</label>
        <locationX>592</locationX>
        <locationY>264</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ComeBackLater</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Sorry!  This flow is not yet completed.  &lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Livongo is very busy adding this soon.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Which_Object_is_being_used</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Create_Meeting_Notes_Account</name>
        <label>Create Meeting Notes - Account</label>
        <locationX>592</locationX>
        <locationY>128</locationY>
        <flowName>Create_Meeting_Notes_Account</flowName>
        <inputAssignments>
            <name>MyAccount</name>
            <value>
                <elementReference>MyAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>MyAccount</assignToReference>
            <name>MyAccount</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>FormattedNote</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Here&amp;apos;s a summary of your notes for today, {!$Flow.CurrentDate}:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Total # Employees:&lt;/B&gt;  &lt;FONT KERNING=&quot;1&quot;&gt;{!MyAccount.NumberOfEmployees}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Total # Covered Lives:&lt;/B&gt;  {!MyAccount.Covered_Lives__c}&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>testtexttemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Here is the summary of your notes taken today, {!$Flow.CurrentDate}:&lt;/p&gt;
&lt;p&gt;&lt;b&gt;Total # Employees: &lt;/b&gt;&lt;/p&gt;
&lt;p&gt;&lt;b&gt;Total # Covered Lives: &lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MyAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NewContentDocLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>NewNote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentNote</objectType>
    </variables>
    <variables>
        <name>ObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
