src/flows/Opportunity_Update_Client_Overview_Status.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Do_other_Opps_Exist</name>
        <label>Do other Opps Exist?</label>
        <locationX>428</locationX>
        <locationY>130</locationY>
        <defaultConnector>
            <targetReference>Update_Client_Overview_to_Implementation_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OppsDontExist</defaultConnectorLabel>
        <rules>
            <name>OppsExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allRelatedOpps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_related_Opps</targetReference>
            </connector>
            <label>OppsExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opp_Closed_Won</name>
        <label>Is Opp Closed Won?</label>
        <locationX>751</locationX>
        <locationY>294</locationY>
        <defaultConnectorLabel>OppIsntClosedWon</defaultConnectorLabel>
        <rules>
            <name>OppIsClosedWon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentOpp.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_related_Opps</targetReference>
            </connector>
            <label>OppIsClosedWon</label>
        </rules>
    </decisions>
    <description>When an Opportunity is moved to &apos;Closed Won&apos; check any related Opps to the associated Client Overview and move the Client Overview into &apos;Implementation&apos; status if ALL Opps are &apos;Closed Won&apos;</description>
    <interviewLabel>Opportunity - Update Client Overview Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Update Client Overview Status</label>
    <loops>
        <name>Loop_through_all_related_Opps</name>
        <label>Loop through all related Opps</label>
        <locationX>428</locationX>
        <locationY>296</locationY>
        <assignNextValueToReference>currentOpp</assignNextValueToReference>
        <collectionReference>allRelatedOpps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Opp_Closed_Won</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Client_Overview_to_Implementation_status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_All_Other_Opportunities_on_Client_Overview</name>
        <label>Find All Other Opportunities on Client Overview</label>
        <locationX>124</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_other_Opps_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputClientOverviewId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>inputOppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>allRelatedOpps</outputReference>
        <queriedFields>StageName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Client_Overview_to_Implementation_status</name>
        <label>Update Client Overview to &apos;Implementation&apos; status</label>
        <locationX>746</locationX>
        <locationY>135</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputClientOverviewId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Implementation_Status__c</field>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <startElementReference>Find_All_Other_Opportunities_on_Client_Overview</startElementReference>
    <status>Draft</status>
    <variables>
        <name>allRelatedOpps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>inputClientOverviewId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inputOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
