src/flows/Opportunity_Manage_CIM.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>224</locationX>
        <locationY>688</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Deactivate_Prior_CIM_Account_Team_Records</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!Get_PriorCIM.Client_Implementation_Manager__c}] - You have been removed as the CIM from this account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>inputAccountID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_0</name>
        <label>Post To Chatter</label>
        <locationX>1048</locationX>
        <locationY>276</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Create_new_CIM_Account_Team_Record</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!inputCIM}] - you have been assigned to this account. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>inputAccountID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter_00</name>
        <label>Post to Chatter</label>
        <locationX>875</locationX>
        <locationY>157</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Deactivate_Prior_CIM_Account_Team_Records_0</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!Get_PriorCIM.Client_Implementation_Manager__c}] – you have been removed as the CIM from this account.  @[{!inputCIM}] - you have been assigned to this account. Please reach out to the former CIM within 2 days to begin discussions.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>inputAccountID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Collection_CO</name>
        <label>Add to Collection CO</label>
        <locationX>1363</locationX>
        <locationY>871</locationY>
        <assignmentItems>
            <assignToReference>COsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentCO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_COs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_CO_Null</name>
        <label>Add to Collection CO Null</label>
        <locationX>62</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>COsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentCO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_COs_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_PO</name>
        <label>Add to Collection PO</label>
        <locationX>1720</locationX>
        <locationY>172</locationY>
        <assignmentItems>
            <assignToReference>POsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentPO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_POs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CIM_to_PO</name>
        <label>Assign CIM to PO</label>
        <locationX>1720</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>CurrentPO.CIM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCIM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_PO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CIM_to_null</name>
        <label>Set CIM to null</label>
        <locationX>50</locationX>
        <locationY>1016</locationY>
        <assignmentItems>
            <assignToReference>CurrentCO.CIM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_CO_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CIM_on_CO</name>
        <label>Update CIM on CO</label>
        <locationX>1205</locationX>
        <locationY>872</locationY>
        <assignmentItems>
            <assignToReference>CurrentCO.CIM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCIM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_CO</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CIM_is_blank</name>
        <label>CIM is blank?</label>
        <locationX>360</locationX>
        <locationY>481</locationY>
        <defaultConnector>
            <targetReference>Account_CIM_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Blank</defaultConnectorLabel>
        <rules>
            <name>CIM_is_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputCIM</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PriorCIM</targetReference>
            </connector>
            <label>CIM is populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_there_a_Prior_CIM</name>
        <label>Was there a Prior CIM?</label>
        <locationX>858</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PriorCIM = Same CIM</defaultConnectorLabel>
        <rules>
            <name>PriorCIM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PriorCIM.Client_Implementation_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PriorCIM.Client_Implementation_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>inputCIM</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_to_Chatter_00</targetReference>
            </connector>
            <label>PriorCIM</label>
        </rules>
        <rules>
            <name>NoPriorCIM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PriorCIM.Client_Implementation_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_To_Chatter_0</targetReference>
            </connector>
            <label>NoPriorCIM</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity - Manage CIM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Manage CIM</label>
    <loops>
        <name>Loop_Thru_COs</name>
        <label>Loop Thru COs</label>
        <locationX>1310</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>CurrentCO</assignNextValueToReference>
        <collectionReference>Get_Client_Overviews</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_CIM_on_CO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_CIM_on_all_COs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Thru_COs_null</name>
        <label>Loop Thru COs Null</label>
        <locationX>230</locationX>
        <locationY>1014</locationY>
        <assignNextValueToReference>CurrentCO</assignNextValueToReference>
        <collectionReference>Look_up_CO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_CIM_to_null</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Thru_OLI</name>
        <label>Loop Thru OLI</label>
        <locationX>1585</locationX>
        <locationY>320</locationY>
        <assignNextValueToReference>CurrentOLI</assignNextValueToReference>
        <collectionReference>Get_Opportunity_Programs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_POs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_POs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Thru_POs</name>
        <label>Loop Thru POs</label>
        <locationX>1428</locationX>
        <locationY>56</locationY>
        <assignNextValueToReference>CurrentPO</assignNextValueToReference>
        <collectionReference>Get_POs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_CIM_to_PO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Thru_OLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_CIM_Account_Team_Record</name>
        <label>Create new CIM Account Team Record</label>
        <locationX>1201</locationX>
        <locationY>166</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>inputAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Client Implementation Manager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>inputCIM</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Client_Overviews</name>
        <label>Get Client Overviews</label>
        <locationX>1205</locationX>
        <locationY>564</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_COs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Client_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Contract.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>1206</locationX>
        <locationY>433</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Client_Overviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputOpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Programs</name>
        <label>Get Opportunity Programs</label>
        <locationX>1587</locationX>
        <locationY>464</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_OLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputOpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_POs</name>
        <label>Get POs</label>
        <locationX>1418</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_POs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Program_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Client_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOLI.Opportunity.Contract.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOLI.Program_Family__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PriorCIM</name>
        <label>Get PriorCIM</label>
        <locationX>578</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_CIM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_ID_Long__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_up_CO</name>
        <label>Look up CO</label>
        <locationX>376</locationX>
        <locationY>1014</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_COs_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Client_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Account_CIM</name>
        <label>Account CIM</label>
        <locationX>721</locationX>
        <locationY>477</locationY>
        <connector>
            <targetReference>Was_there_a_Prior_CIM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Implementation_Manager__c</field>
            <value>
                <elementReference>inputCIM</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Account_CIM_Null</name>
        <label>Account CIM_Null</label>
        <locationX>372</locationX>
        <locationY>688</locationY>
        <connector>
            <targetReference>Post_to_Chatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Implementation_Manager__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Deactivate_Prior_CIM_Account_Team_Records</name>
        <label>Deactivate Prior CIM Account Team Records</label>
        <locationX>374</locationX>
        <locationY>876</locationY>
        <connector>
            <targetReference>Look_up_CO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Implementation Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>inputCIM</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Client Implementation - Archived</stringValue>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Deactivate_Prior_CIM_Account_Team_Records_0</name>
        <label>Deactivate Prior CIM Account Team Records</label>
        <locationX>1021</locationX>
        <locationY>156</locationY>
        <connector>
            <targetReference>Create_new_CIM_Account_Team_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Implementation Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>inputCIM</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Client Implementation - Archived</stringValue>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CIM_on_all_COs</name>
        <label>Update CIM on all COs</label>
        <locationX>1445</locationX>
        <locationY>463</locationY>
        <connector>
            <targetReference>Get_Opportunity_Programs</targetReference>
        </connector>
        <inputReference>COsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_POs</name>
        <label>Update POs</label>
        <locationX>1838</locationX>
        <locationY>462</locationY>
        <inputReference>POsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>232</locationX>
        <locationY>481</locationY>
        <connector>
            <targetReference>CIM_is_blank</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>COsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>CurrentCO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>CurrentOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>CurrentPO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>inputAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputCIM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>POsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
