src/flows/Opportunity_Program_Pricing_Structure_Manager.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calling the apex method ( OpportunityLineItemService.calculateProgramParticipants) to get the program participant based on the opportunity covered lives and participant meta data type</description>
        <name>Calculate_Program_Participant</name>
        <label>Calculate Program Participant</label>
        <locationX>530</locationX>
        <locationY>68</locationY>
        <actionName>OpportunityLineItemService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Through_All_Opportunity_Programs</targetReference>
        </connector>
        <inputParameters>
            <name>oliList</name>
            <value>
                <elementReference>inputListOfNewOpportunityPrograms</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CalculatedParticipantOLIList</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Updated_Opp_Program_to_List</name>
        <label>Add Updated Opp Program to List</label>
        <locationX>1443</locationX>
        <locationY>160</locationY>
        <assignmentItems>
            <assignToReference>ListOfUpdatedOppPrograms</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewOliToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_All_Opportunity_Programs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Number_of_Records_Found</name>
        <label>Assign Number of Records Found</label>
        <locationX>531</locationX>
        <locationY>642</locationY>
        <assignmentItems>
            <assignToReference>NumberOfPricingStructures</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AllStructuresForCurrentOppProgram</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_number_of_Program_Pricing_Structures</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selection</name>
        <label>Assign Selection</label>
        <locationX>1563</locationX>
        <locationY>440</locationY>
        <assignmentItems>
            <assignToReference>NewOliToCreate.Pricing_Structure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedPricingStructure.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOliToCreate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentOppProgram.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Opp_Program_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selection_0</name>
        <label>Assign Selection</label>
        <locationX>1511</locationX>
        <locationY>896</locationY>
        <assignmentItems>
            <assignToReference>NewOliToCreate.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program_Term</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOliToCreate.Pricing_Structure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedPricingStructure.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOliToCreate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentOppProgram.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOliToCreate.Product_Participants__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentOppProgram.Product_Participants__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Opp_Program_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selection_0_0</name>
        <label>Assign Selection</label>
        <locationX>1432</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>NewOliToCreate.Pricing_Structure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedPricingStructure.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOliToCreate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentOppProgram.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Opp_Program_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selection_0_0_0</name>
        <label>Assign Selection</label>
        <locationX>1287</locationX>
        <locationY>259</locationY>
        <assignmentItems>
            <assignToReference>NewOliToCreate.Pricing_Structure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedPricingStructure.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOliToCreate.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program_Term_Multi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOliToCreate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentOppProgram.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOliToCreate.Product_Participants__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentOppProgram.Product_Participants__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Opp_Program_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WP_Program_Checkbox</name>
        <label>Assign WP Program Checkbox</label>
        <locationX>288</locationX>
        <locationY>624</locationY>
        <assignmentItems>
            <assignToReference>vWP_Solution_Exists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentOppProgram.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Pricing_Structures</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Pricing_Structure_Values</name>
        <label>Set Pricing Structure Values</label>
        <locationX>820</locationX>
        <locationY>874</locationY>
        <assignmentItems>
            <assignToReference>SelectedPricingStructure.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPricingStructure.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPricingStructure.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPricingStructure.Program__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPricingStructure.List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPricingStructure.List_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPricingStructure.Estimated_At_Risk_PPPM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPricingStructure.Estimated_At_Risk_PPPM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPricingStructure.Estimated_Partner_Admin_Fees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPricingStructure.Estimated_Partner_Admin_Fees__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPricingStructure.Up_Front_Per_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPricingStructure.Up_Front_Per_Member__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPricingStructure.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPricingStructure.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPricingStructure.Pricing_Stipulations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPricingStructure.Pricing_Stipulations__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPricingStructure.PMPM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPricingStructure.PMPM__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Single_Record_Values</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DoNotChangePricing</name>
        <choiceText>--- Keep Standard Pricing ---</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>--- Keep Standard Pricing ---</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Action_is_Add_Price_Book</name>
        <label>Action is &quot;Add Price Book&quot;</label>
        <locationX>1037</locationX>
        <locationY>660</locationY>
        <defaultConnector>
            <targetReference>Assign_Selection_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Price Book Updated</defaultConnectorLabel>
        <rules>
            <name>Price_Book_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Price Book</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pricing_Variation_Screen_0_0</targetReference>
            </connector>
            <label>Price Book Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Action_is_Add_Price_Book_0</name>
        <label>Action is &quot;Add Price Book&quot;</label>
        <locationX>1069</locationX>
        <locationY>445</locationY>
        <defaultConnector>
            <targetReference>Pricing_Variation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Price Book Updated</defaultConnectorLabel>
        <rules>
            <name>Price_Book_Added_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Price Book</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pricing_Variation_Screen_0</targetReference>
            </connector>
            <label>Price Book Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_OLIs_contain_WP_Programs</name>
        <label>Check if OLIs contain WP Programs</label>
        <locationX>281</locationX>
        <locationY>418</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Pricing_Structures</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a WP Program</defaultConnectorLabel>
        <rules>
            <name>Contains_WP_Program</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOppProgram.Product2.Whole_Person_Solution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WP_Program_Checkbox</targetReference>
            </connector>
            <label>WP Program</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_WP_Solution_Exists</name>
        <label>Check if WP Solution Exists</label>
        <locationX>20</locationX>
        <locationY>393</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WP_Solution_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vWP_Solution_Exists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disable_BH_Screen</targetReference>
            </connector>
            <label>WP Solution Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_number_of_Program_Pricing_Structures</name>
        <label>Check number of Program Pricing Structures</label>
        <locationX>810</locationX>
        <locationY>443</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_All_Opportunity_Programs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Program has NO Pricing Structure</defaultConnectorLabel>
        <rules>
            <name>Program_has_1_Pricing_Structure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfPricingStructures</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Single_Record_Values</targetReference>
            </connector>
            <label>Program has 1 Pricing Structure</label>
        </rules>
        <rules>
            <name>Program_has_multiple_Pricing_Structures</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfPricingStructures</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_is_Add_Price_Book_0</targetReference>
            </connector>
            <label>Program has multiple Pricing Structures</label>
        </rules>
    </decisions>
    <description>Allows end users to select between multiple &quot;Pricing Structure&quot; options for Opportunity Programs within a Price Book. Called from the &quot;Manage Opportunity Programs&quot; flow</description>
    <dynamicChoiceSets>
        <name>AllFoundPricingStructures</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Price_Book__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOppProgram.Price_Book_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOppProgram.Program_ID__c</elementReference>
            </value>
        </filters>
        <object>Pricing_Structure__c</object>
        <outputAssignments>
            <assignToReference>VarianceID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StandardPricingValue</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOpportunity.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOppProgram.Product2Id</elementReference>
            </value>
        </filters>
        <limit>1</limit>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>StandardPrice</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Opportunity Program Pricing Structure Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Program Pricing Structure Manager</label>
    <loops>
        <name>Get_Single_Record_Values</name>
        <label>Get Single Record Values</label>
        <locationX>820</locationX>
        <locationY>657</locationY>
        <assignNextValueToReference>CurrentPricingStructure</assignNextValueToReference>
        <collectionReference>AllStructuresForCurrentOppProgram</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Pricing_Structure_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Action_is_Add_Price_Book</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_All_Opportunity_Programs</name>
        <label>Loop Through All Opportunity Programs</label>
        <locationX>531</locationX>
        <locationY>235</locationY>
        <assignNextValueToReference>CurrentOppProgram</assignNextValueToReference>
        <collectionReference>CalculatedParticipantOLIList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_OLIs_contain_WP_Programs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opp_Programs_with_Pricing_Variances</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Related_Pricing_Structures</name>
        <label>Get Related Pricing Structures</label>
        <locationX>531</locationX>
        <locationY>424</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Number_of_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Price_Book__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputPriceBook</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOppProgram.Program_ID__c</elementReference>
            </value>
        </filters>
        <object>Pricing_Structure__c</object>
        <outputReference>AllStructuresForCurrentOppProgram</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Program__c</queriedFields>
        <queriedFields>List_Price__c</queriedFields>
        <queriedFields>Estimated_At_Risk_PPPM__c</queriedFields>
        <queriedFields>Estimated_Partner_Admin_Fees__c</queriedFields>
        <queriedFields>Up_Front_Per_Member__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Pricing_Stipulations__c</queriedFields>
        <queriedFields>IsActive__c</queriedFields>
        <queriedFields>PMPM__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_Programs_with_Pricing_Variances</name>
        <label>Update Opp Programs with Pricing Variances</label>
        <locationX>28</locationX>
        <locationY>225</locationY>
        <connector>
            <targetReference>Check_if_WP_Solution_Exists</targetReference>
        </connector>
        <inputReference>ListOfUpdatedOppPrograms</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Record</name>
        <label>Update Opportunity Record</label>
        <locationX>26</locationX>
        <locationY>761</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Disable_BH__c</field>
            <value>
                <elementReference>Disable_BH</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Disable_BH_Screen</name>
        <label>Disable BH Screen</label>
        <locationX>26</locationX>
        <locationY>592</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Opportunity_Record</targetReference>
        </connector>
        <fields>
            <name>Disable_BH_Help_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;There are one or more WP Solutions in your selection. Please check the checkbox below if you want to &apos;Disable BH&apos; for the WP Solutions.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Disable_BH</name>
            <dataType>Boolean</dataType>
            <fieldText>Disable BH</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Checking this checkbox will not create a BH Program Overview under the Client Overview when this Opportunity is moved to Contracting.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pricing_Variation_Screen</name>
        <label>Pricing Variation Screen</label>
        <locationX>1282</locationX>
        <locationY>441</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Selection</targetReference>
        </connector>
        <fields>
            <name>CurrentProgram</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Select Pricing Structure for &quot;{!CurrentOppProgram.OpportunityProductName__c}&quot;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HelpText_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Below is the list of pricing structure options available for the program listed above. Please select an option to proceed. You can always update the pricing structure in the opportunity program later.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PricingStructureOpts</name>
            <extensionName>c:PricingStructureSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pricingStructures</name>
                <value>
                    <elementReference>AllStructuresForCurrentOppProgram</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedPricingStructure</assignToReference>
                <name>selectedPricingStructure</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pricing_Variation_Screen_0</name>
        <label>Pricing Variation Screen</label>
        <locationX>1079</locationX>
        <locationY>260</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Selection_0_0_0</targetReference>
        </connector>
        <fields>
            <name>CurrentProgram_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 22px;&quot;&gt;Provide Program Term and Participants&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Price Book: &lt;/b&gt;{!CurrentOppProgram.Price_Book_ID__r.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Program:&lt;/b&gt; {!CurrentOppProgram.OpportunityProductName__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Program_Term_Multi</name>
            <dataType>Number</dataType>
            <fieldText>Program Term (months)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>DisplayCalculatedProgramParticipantsMulti</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Program Participants&lt;/b&gt;:{!CurrentOppProgram.Product_Participants__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HelpText_2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Below is the list of pricing structure options available for the program listed above. Please select an option to proceed. You can always update the pricing structure in the opportunity program later.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PricingStructureOpts_0</name>
            <extensionName>c:PricingStructureSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pricingStructures</name>
                <value>
                    <elementReference>AllStructuresForCurrentOppProgram</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedPricingStructure</assignToReference>
                <name>selectedPricingStructure</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pricing_Variation_Screen_0_0</name>
        <label>Pricing Variation Screen</label>
        <locationX>1047</locationX>
        <locationY>898</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Selection_0</targetReference>
        </connector>
        <fields>
            <name>CurrentProgram_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Provide Program Term and Participants for &quot;{!CurrentOppProgram.OpportunityProductName__c}&quot;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Default Pricing Structure:&lt;/b&gt; {!SelectedPricingStructure.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Default Program Price: $&lt;/b&gt;{!SelectedPricingStructure.List_Price__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Pricing Stipulations (if applicable): &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SelectedPricingStructure.Pricing_Stipulations__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Program_Term</name>
            <dataType>Number</dataType>
            <fieldText>Program Term (months)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>DisplayProgramParticipant</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Program Participants&lt;/b&gt;:  {!CurrentOppProgram.Product_Participants__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Calculate_Program_Participant</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllOpportunityPrograms</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>AllStructuresForCurrentOppProgram</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricing_Structure__c</objectType>
    </variables>
    <variables>
        <name>CalculatedParticipantOLIList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>CalculatedProgramParticipants</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CurrentOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>CurrentOppProgram</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>CurrentPricingStructure</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricing_Structure__c</objectType>
    </variables>
    <variables>
        <name>inputAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputListOfNewOpportunityPrograms</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>inputPriceBook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOfPrograms</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOfUpdatedOppPrograms</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>NewOliToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>NumberOfPricingStructures</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SelectedPricingStructure</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricing_Structure__c</objectType>
    </variables>
    <variables>
        <name>StandardPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TestListPricingStructures</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Pricing_Structure__c</objectType>
    </variables>
    <variables>
        <name>UpdatedOppProgramWithPricingVariance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>VarianceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarianceSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VariationEstimatedAtRisk</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VariationEstimatedFees</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VariationSalesPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VariationUpFront</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vWP_Solution_Exists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
