src/flows/Partner_Agreement_Wizard.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_new_Client_Project_to_List</name>
        <label>Add new Client Project to List</label>
        <locationX>1469</locationX>
        <locationY>873</locationY>
        <assignmentItems>
            <assignToReference>AllnewClientProjects</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewClientProject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_all_Selected_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_New_Task_to_List</name>
        <label>Add New Task to List</label>
        <locationX>2305</locationX>
        <locationY>976</locationY>
        <assignmentItems>
            <assignToReference>AllNewClientProjectTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewClientProjectTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_All_New_Client_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Updated_Client_Project</name>
        <label>Add Updated Client Project</label>
        <locationX>2047</locationX>
        <locationY>1146</locationY>
        <assignmentItems>
            <assignToReference>UpdatedClientProjectsWithOwners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentClientProject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Task_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Updated_Client_Project_0</name>
        <label>Add Updated Client Project</label>
        <locationX>2148</locationX>
        <locationY>800</locationY>
        <assignmentItems>
            <assignToReference>UpdatedClientProjectsWithOwners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentClientProject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Task_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_new_Client_Project</name>
        <label>Create new Client Project</label>
        <locationX>1469</locationX>
        <locationY>1148</locationY>
        <assignmentItems>
            <assignToReference>NewClientProject.TASKRAY__trAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentSelectedRelationship.Master_Client_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClientProject.Client_Overview__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClientProject.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientProjectName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClientProject.TASKRAY__Project_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClientProject.TaskRayLaunchDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClientProject.TASKRAY__Project_Parent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreatedProjectID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_new_Client_Project_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Client_Task</name>
        <label>Create New Client Task</label>
        <locationX>1650</locationX>
        <locationY>1146</locationY>
        <assignmentItems>
            <assignToReference>NewClientProjectTask.TASKRAY__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentClientProject.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClientProjectTask.TASKRAY__trAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentClientProject.TASKRAY__trAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClientProjectTask.TASKRAY__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentClientProject.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentClientProject.Account_CSM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClientProjectTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentClientProject.Account_CSM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClientProjectTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedTaskName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClientProjectTask.Department_Request_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DepartmentDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Client_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Client_Task_0</name>
        <label>Create New Client Task</label>
        <locationX>1998</locationX>
        <locationY>1052</locationY>
        <assignmentItems>
            <assignToReference>NewClientProjectTask.TASKRAY__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentClientProject.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClientProjectTask.TASKRAY__trAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentClientProject.TASKRAY__trAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClientProjectTask.TASKRAY__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClientProjectTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedTaskName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClientProjectTask.Department_Request_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DepartmentDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Task_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Client_Task_0_0</name>
        <label>Create New Client Task</label>
        <locationX>1985</locationX>
        <locationY>802</locationY>
        <assignmentItems>
            <assignToReference>NewClientProjectTask.TASKRAY__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentClientProject.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClientProjectTask.TASKRAY__trAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentClientProject.TASKRAY__trAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClientProjectTask.TASKRAY__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentClientProject.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CIMUserID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClientProjectTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CIMUserID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClientProjectTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedTaskName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClientProjectTask.Department_Request_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DepartmentDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Client_Project_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Details_and_Add_ID</name>
        <label>Set Account Details and Add ID</label>
        <locationX>1337</locationX>
        <locationY>1148</locationY>
        <assignmentItems>
            <assignToReference>AffectedAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!CurrentSelectedRelationship.Master_Client_Account__r.Name}&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfAccountIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentSelectedRelationship.Master_Client_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_Client_Project</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Duplicate_Account_IDs</name>
        <label>Check for Duplicate Account IDs</label>
        <locationX>1328</locationX>
        <locationY>942</locationY>
        <defaultConnector>
            <targetReference>Set_Account_Details_and_Add_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unique Account ID</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Account_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListOfAccountIDs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>CurrentSelectedRelationship.Master_Client_Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_all_Selected_Account</targetReference>
            </connector>
            <label>Duplicate Account ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_any_Client_Projects_were_Updated</name>
        <label>Check If any Client Projects were Updated</label>
        <locationX>2426</locationX>
        <locationY>487</locationY>
        <defaultConnector>
            <targetReference>Create_New_Client_Project_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Projects to Update</defaultConnectorLabel>
        <rules>
            <name>Updated_Client_Projects</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdatedClientProjectsWithOwners</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Client_Projects_with_New_Owners</targetReference>
            </connector>
            <label>Updated Client Projects</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Relationships_were_Found</name>
        <label>Check if Relationships were Found</label>
        <locationX>469</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>No_Found_Relationships_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Did Not Find Relationships</defaultConnectorLabel>
        <rules>
            <name>Found_Relationships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllExistingAccountRelationships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Agreement_Wizard</targetReference>
            </connector>
            <label>Found Relationships</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_CIM_Found</name>
        <label>Is CIM Found?</label>
        <locationX>1869</locationX>
        <locationY>963</locationY>
        <defaultConnector>
            <targetReference>Create_New_Client_Task_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CIM is not Found</defaultConnectorLabel>
        <rules>
            <name>CIM_is_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CIMUserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Client_Task_0_0</targetReference>
            </connector>
            <label>CIM is Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_CSM_supplied_on_Account</name>
        <label>Is CSM supplied on Account?</label>
        <locationX>1640</locationX>
        <locationY>675</locationY>
        <defaultConnector>
            <targetReference>Try_To_Find_CIM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No CSM provided</defaultConnectorLabel>
        <rules>
            <name>CSM_is_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentClientProject.Account_CSM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Client_Task</targetReference>
            </connector>
            <label>CSM is Valid</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AllDOPSTasksNoPopRefresh</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>PopRefreshTaskID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Task_Grouping_Label__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data Operations Requests</stringValue>
            </value>
        </filters>
        <object>TASKRAY__Project_Task__c</object>
        <outputAssignments>
            <assignToReference>DepartmentDescription</assignToReference>
            <field>Department_Request_Details__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedTaskName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContractRelationshipTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RelationshipType__c</picklistField>
        <picklistObject>Relationship__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CustomReportTask</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomReportTaskID</elementReference>
            </value>
        </filters>
        <object>TASKRAY__Project_Task__c</object>
        <outputAssignments>
            <assignToReference>DepartmentDescription</assignToReference>
            <field>Department_Request_Details__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedTaskName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StandardReportTask</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StandardReportTaskID</elementReference>
            </value>
        </filters>
        <object>TASKRAY__Project_Task__c</object>
        <outputAssignments>
            <assignToReference>DepartmentDescription</assignToReference>
            <field>Department_Request_Details__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedTaskName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>ClientProjectName</name>
        <dataType>String</dataType>
        <expression>LEFT(LEFT({!CurrentSelectedRelationship.Master_Client_Account_Name__c},50) &amp; &quot; - &quot; &amp; {!SelectedTaskName} &amp; &quot; - (&quot; &amp; TEXT({!Due_Date}) &amp; &quot;)&quot;, 80)</expression>
    </formulas>
    <formulas>
        <name>CurrentUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>CustomReportTaskID</name>
        <dataType>String</dataType>
        <expression>{!$Label.TaskRay_Custom_Report_Task_Id}</expression>
    </formulas>
    <formulas>
        <name>ORGBaseURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <formulas>
        <name>ParentProjectName</name>
        <dataType>String</dataType>
        <expression>LEFT(LEFT({!CurrentPartnerAgreement.Account.Name},50) &amp; &quot; - &quot; &amp; {!SelectedTaskName} &amp; &quot; - (&quot; &amp; TEXT({!Due_Date}) &amp; &quot;)&quot;, 80)</expression>
    </formulas>
    <formulas>
        <name>PopRefreshTaskID</name>
        <dataType>String</dataType>
        <expression>{!$Label.TaskRay_Population_Data_Refresh_Task_ID}</expression>
    </formulas>
    <formulas>
        <name>StandardReportTaskID</name>
        <dataType>String</dataType>
        <expression>{!$Label.TaskRay_Standard_Report_Task_Id}</expression>
    </formulas>
    <interviewLabel>Partner Agreement Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Agreement Wizard</label>
    <loops>
        <name>Loop_Through_All_New_Client_Accounts</name>
        <label>Loop Through All New Client Accounts</label>
        <locationX>2050</locationX>
        <locationY>485</locationY>
        <assignNextValueToReference>CurrentClientProject</assignNextValueToReference>
        <collectionReference>AllInsertedClientProjects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_CSM_supplied_on_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_any_Client_Projects_were_Updated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_all_Selected_Account</name>
        <label>Loop Through all Selected Account</label>
        <locationX>1339</locationX>
        <locationY>686</locationY>
        <assignNextValueToReference>CurrentSelectedRelationship</assignNextValueToReference>
        <collectionReference>SelectedRelationships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Duplicate_Account_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_All_Client_Projects</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_All_Client_Projects</name>
        <label>Create All Client Projects</label>
        <locationX>1340</locationX>
        <locationY>473</locationY>
        <connector>
            <targetReference>Get_All_New_Client_Projects</targetReference>
        </connector>
        <inputReference>AllnewClientProjects</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Client_Project_Tasks</name>
        <label>Create New Client Project Tasks</label>
        <locationX>2787</locationX>
        <locationY>482</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>AllNewClientProjectTasks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Partner_Project_Record</name>
        <label>Create Partner Project Record</label>
        <locationX>1168</locationX>
        <locationY>685</locationY>
        <assignRecordIdToReference>CreatedProjectID</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Through_all_Selected_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Overview__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ParentProjectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TASKRAY__Project_End__c</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskRayLaunchDate__c</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <object>TASKRAY__Project__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Contract_Level_Partnerships</name>
        <label>Get All Contract-Level Partnerships</label>
        <locationX>478</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Relationships_were_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Master_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentPartnerAgreement.AccountId</elementReference>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputReference>AllExistingAccountRelationships</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RelationshipType__c</queriedFields>
        <queriedFields>Master_Client_Account_Name__c</queriedFields>
        <queriedFields>Master_Client_Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_New_Client_Projects</name>
        <label>Get All New Client Projects</label>
        <locationX>1522</locationX>
        <locationY>476</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_All_New_Client_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TASKRAY__Project_Parent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedProjectID</elementReference>
            </value>
        </filters>
        <object>TASKRAY__Project__c</object>
        <outputReference>AllInsertedClientProjects</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_CSM__c</queriedFields>
        <queriedFields>TASKRAY__trAccount__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Partner_Agreement_Record</name>
        <label>Get Current Partner Agreement Record</label>
        <locationX>477</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Contract_Level_Partnerships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>CurrentPartnerAgreement</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Try_To_Find_CIM</name>
        <label>Try To Find CIM</label>
        <locationX>1879</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_CIM_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentClientProject.TASKRAY__trAccount__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Implementation Manager</stringValue>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputAssignments>
            <assignToReference>CIMUserID</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Client_Projects_with_New_Owners</name>
        <label>Update Client Projects with New Owners</label>
        <locationX>2434</locationX>
        <locationY>212</locationY>
        <connector>
            <targetReference>Create_New_Client_Project_Tasks</targetReference>
        </connector>
        <inputReference>UpdatedClientProjectsWithOwners</inputReference>
    </recordUpdates>
    <screens>
        <name>Department_Screen</name>
        <label>Department Screen</label>
        <locationX>874</locationX>
        <locationY>685</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Related_Client_Accounts</targetReference>
        </connector>
        <fields>
            <name>DepartmentTotalDetails</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Request Name: &lt;/b&gt;{!SelectedTaskName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!DepartmentDescription}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Details</name>
            <fieldText>Request Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Warning_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Note: The details above will be displayed in all subsequent created projects&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Found_Relationships_Message</name>
        <label>No Found Relationships Message</label>
        <locationX>180</locationX>
        <locationY>683</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Warning_Message_1</name>
            <fieldText>&lt;p&gt;This Partner does not currently have any Contract-Level relationships. You will not be able to create a project for this Account without establishing any relationships.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Partner_Agreement_Wizard</name>
        <label>Partner Agreement Wizard</label>
        <locationX>710</locationX>
        <locationY>683</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Department_Screen</targetReference>
        </connector>
        <fields>
            <name>Select_Project_Request</name>
            <choiceReferences>CustomReportTask</choiceReferences>
            <choiceReferences>StandardReportTask</choiceReferences>
            <choiceReferences>AllDOPSTasksNoPopRefresh</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Project Request</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Due_Date</name>
            <dataType>Date</dataType>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Related_Client_Accounts</name>
        <label>Related Client Accounts</label>
        <locationX>1033</locationX>
        <locationY>685</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Partner_Project_Record</targetReference>
        </connector>
        <fields>
            <name>Selection_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Choose the Client Accounts related to this Partner Project. Each selected Client Account will create a separate project, related to a single parent project. NOTE: If duplicate Accounts are selected, ONLY ONE PROJECT WILL BE CREATED.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ClientAccountSelector</name>
            <extensionName>c:RelatedClientAccountSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>InputRelationshipsCollection</name>
                <value>
                    <elementReference>AllExistingAccountRelationships</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedRelationships</assignToReference>
                <name>OutputRelationshipsCollection</name>
            </outputParameters>
        </fields>
        <fields>
            <name>WarningMessage</name>
            <fieldText>&lt;br/&gt;&lt;br/&gt;&lt;p align=&quot;center&quot; style=&quot;color:white;background-color:darkred&quot;&gt;&lt;/b&gt;Please confirm your inputs - you will NOT be able to return to this screen after selecting &quot;Next&quot;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>3021</locationX>
        <locationY>480</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>Your project has been created.

&lt;u&gt;&lt;a href={!ORGBaseURL}{!CreatedProjectID}&gt;Click to view Project&lt;/a&gt;&lt;/u&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Current_Partner_Agreement_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AffectedAccounts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>List of Affected Accounts: &lt;br/&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>AllExistingAccountRelationships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>AllInsertedClientProjects</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <name>AllnewClientProjects</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <name>AllNewClientProjectTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>CIMUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedClientProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentClientProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <name>CurrentPartnerAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>currentSelectedAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CurrentSelectedRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>DepartmentDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOfAccountIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewClientProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <name>NewClientProjectTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>NewTaskRayProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <name>NewTaskRayTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedRelationships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>SelectedTaskName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedClientProjectsWithOwners</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
</Flow>
