src/flows/Project_Template_Wizard.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Clone_Department_Request_Task</name>
        <label>Clone Department Request Task</label>
        <locationX>2698</locationX>
        <locationY>345</locationY>
        <actionName>TASKRAY__trCloneTask</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Ad_Hoc_Data_Fields</targetReference>
        </connector>
        <inputParameters>
            <name>taskEndDate</name>
            <value>
                <elementReference>Launch_Due_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectId</name>
            <value>
                <elementReference>foundProject.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taskName</name>
            <value>
                <elementReference>Request_Title_Formula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTaskId</name>
            <value>
                <elementReference>SelectedDepartmentRequestTaskId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>DepartmentRequestTask</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Clone_New_TaskRay_Project_Found_Milestone</name>
        <label>Clone New TaskRay Project - Found Milestone</label>
        <locationX>1063</locationX>
        <locationY>1643</locationY>
        <actionName>TASKRAY__trCloneProject</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Find_TaskRay_Project</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Find_TaskRay_Project</targetReference>
        </faultConnector>
        <inputParameters>
            <name>optionalParam3DrivingMilestoneDate</name>
            <value>
                <elementReference>Launch_Due_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>optionalParam3DrivingMilestoneId</name>
            <value>
                <elementReference>clientLaunchMilestoneId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>optionalParam1</name>
            <value>
                <elementReference>newProjectName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateProjectId</name>
            <value>
                <elementReference>TemplateProjectRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Clone_New_TaskRay_Project_No_Found_Milestone</name>
        <label>Clone New TaskRay Project - No Found Milestone</label>
        <locationX>752</locationX>
        <locationY>1641</locationY>
        <actionName>TASKRAY__trCloneProject</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Find_TaskRay_Project</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Find_TaskRay_Project</targetReference>
        </faultConnector>
        <inputParameters>
            <name>optionalParam3</name>
            <value>
                <elementReference>Launch_Due_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>optionalParam1</name>
            <value>
                <elementReference>newProjectName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateProjectId</name>
            <value>
                <elementReference>TemplateProjectRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Assigned_Task_to_List</name>
        <label>Add Assigned Task to List</label>
        <locationX>4974</locationX>
        <locationY>1912</locationY>
        <assignmentItems>
            <assignToReference>allAssignedTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assignedTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_all_CS_Unassigned_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_List_with_Break</name>
        <label>Add to List with Break</label>
        <locationX>1805</locationX>
        <locationY>1589</locationY>
        <assignmentItems>
            <assignToReference>TaskNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!currentTask.Name} &lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Project_Task_Name_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ad_Hoc_Data_Fields</name>
        <label>Assign Ad Hoc Data Fields</label>
        <locationX>3005</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>foundProject.Billing_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Client_Overview.Billing_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>foundProject.Clinical_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Client_Overview.Clinical_Model__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>foundProject.Clinical_Referrals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Client_Overview.Clinical_Referrals__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>foundProject.Eligibility_Verification_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Client_Overview.Eligibility_Verification_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>foundProject.Population_Data_Sources__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Client_Overview.Population_Data_Sources__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>foundProject.Population_of_Coverage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Client_Overview.Population_of_Coverage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>foundProject.TASKRAY__trOpportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Link_a_related_Opportunitys</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>foundProject.TaskRayLaunchDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Launch_Due_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Request_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Unassigned_Task</name>
        <label>Assign Current Unassigned Task</label>
        <locationX>4747</locationX>
        <locationY>1911</locationY>
        <assignmentItems>
            <assignToReference>assignedTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignedTask.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentUnassignedTask.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Assigned_Task_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Data_Fields</name>
        <label>Assign Data Fields</label>
        <locationX>3737</locationX>
        <locationY>1528</locationY>
        <assignmentItems>
            <assignToReference>foundProject.Billing_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Client_Overview.Billing_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>foundProject.Clinical_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Client_Overview.Clinical_Model__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>foundProject.Clinical_Referrals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Client_Overview.Clinical_Referrals__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>foundProject.Eligibility_Verification_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Client_Overview.Eligibility_Verification_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>foundProject.Population_Data_Sources__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Client_Overview.Population_Data_Sources__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>foundProject.Population_of_Coverage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Client_Overview.Population_of_Coverage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>foundProject.TaskRayLaunchDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Launch_Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>foundProject.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>foundProject.TASKRAY__trOpportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Link_a_related_Opportunitys</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>foundProject.TASKRAY__Project_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_new_project_with_Client_Overview_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Request_Details</name>
        <label>Update Request Details</label>
        <locationX>3350</locationX>
        <locationY>344</locationY>
        <assignmentItems>
            <assignToReference>UpdatedDepartmentRequestTask.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DepartmentRequestTask.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedDepartmentRequestTask.TASKRAY__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Details_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedDepartmentRequestTask.Department_Request_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedDepartmentRequestDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Department_Request_with_Details</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Custom</name>
        <choiceText>Custom</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Custom</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Related_Opportunity</name>
        <choiceText>No Related Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>NotRequired</name>
        <choiceText>Not Required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Required</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReportRequest</name>
        <choiceText>Report Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Report Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Standard</name>
        <choiceText>Standard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_for_Unassigned_CS_Tasks</name>
        <label>Check for Unassigned CS Tasks</label>
        <locationX>4896</locationX>
        <locationY>1536</locationY>
        <defaultConnector>
            <targetReference>Check_if_Project_Start_Date_differs_from_Suggested_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Unassigned CS Tasks</defaultConnectorLabel>
        <rules>
            <name>Has_Unassigned_CS_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allCSUnassignedTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_all_CS_Unassigned_Tasks</targetReference>
            </connector>
            <label>Has Unassigned CS Tasks</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Ad_Hoc_Project</name>
        <label>Check if Ad-Hoc Project</label>
        <locationX>5670</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ad_Hoc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TemplateCategory_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ad Hoc Requests</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Would_you_like_to_Add_More_Tasks</targetReference>
            </connector>
            <label>Ad Hoc</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Contract_Path_exists</name>
        <label>Check if Contract Path exists</label>
        <locationX>668</locationX>
        <locationY>281</locationY>
        <defaultConnector>
            <targetReference>Contract_Path_Does_Not_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CP does not exists</defaultConnectorLabel>
        <rules>
            <name>Contract_Path_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Client_Overview.Contract_Path__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Project_Template</targetReference>
            </connector>
            <label>Contract Path Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Project_Start_Date_differs_from_Suggested_Date</name>
        <label>Check if Project Start Date differs from Suggested Date</label>
        <locationX>5367</locationX>
        <locationY>1567</locationY>
        <defaultConnector>
            <targetReference>Check_if_project_type_is_a_parent_project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Project Start Date is same as Suggested Start Date</defaultConnectorLabel>
        <rules>
            <name>Project_Start_Date_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectStartDate_Original</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Project_Start_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buffer_Screen</targetReference>
            </connector>
            <label>Project Start Date differs from Suggested Start Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Project_Template_was_found</name>
        <label>Check if Project Template was found</label>
        <locationX>1190</locationX>
        <locationY>846</locationY>
        <defaultConnector>
            <targetReference>Get_Selected_Project_Template_no_Sub_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Project Template not Found</defaultConnectorLabel>
        <rules>
            <name>Project_Template_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TemplateProjectRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Try_Finding_Launch_Milestone</targetReference>
            </connector>
            <label>Project Template Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_project_type_is_a_parent_project</name>
        <label>Check if project type is a parent project</label>
        <locationX>5598</locationX>
        <locationY>1492</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_sub_type_is_parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>foundProject.Project_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select Partner Account - Parent Project</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Sub_Projects_followed_by_Parent_Project</targetReference>
            </connector>
            <label>If sub type is parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Project_Type_is_Sub_Project</name>
        <label>Check if Project Type is Sub Project</label>
        <locationX>921</locationX>
        <locationY>473</locationY>
        <defaultConnector>
            <targetReference>Select_Related_Opportunity_and_Launch_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Project_Type_is_Sub_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectSubType_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select Partner Account - Sub Project</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Projects_of_the_Current_Client_Overview</targetReference>
            </connector>
            <label>If Project Type is Sub Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Second_Search_is_Null</name>
        <label>Check if Second Search is Null</label>
        <locationX>610</locationX>
        <locationY>818</locationY>
        <defaultConnector>
            <targetReference>Try_Finding_Launch_Milestone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Second template search isn&apos;t null</defaultConnectorLabel>
        <rules>
            <name>Second_template_search_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TemplateProjectRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Could_Not_Find_Project_Template</targetReference>
            </connector>
            <label>Second template search is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_there_is_atleast_one_Parent_Project</name>
        <label>Check if there is atleast one Parent Project</label>
        <locationX>1816</locationX>
        <locationY>693</locationY>
        <defaultConnector>
            <targetReference>Parent_Project_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_there_is_atleast_one_Parent_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Projects_of_the_Current_Client_Overview</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Parent_Project_Screen</targetReference>
            </connector>
            <label>If there is atleast one Parent Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Template_Type</name>
        <label>Determine Template Type</label>
        <locationX>1377</locationX>
        <locationY>284</locationY>
        <defaultConnector>
            <targetReference>Get_Selected_Project_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard Template</defaultConnectorLabel>
        <rules>
            <name>Data_Science_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TemplateCategory_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Science Requests</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_Science_Request_screen</targetReference>
            </connector>
            <label>Data Science Request</label>
        </rules>
        <rules>
            <name>Data_Operations_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TemplateCategory_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Operations Requests</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_Operations_Request_screen</targetReference>
            </connector>
            <label>Data Operations Request</label>
        </rules>
        <rules>
            <name>Information_Technology_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TemplateCategory_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Information Technology</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Information_Technology</targetReference>
            </connector>
            <label>Information Technology Request</label>
        </rules>
        <rules>
            <name>Ad_Hoc_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TemplateCategory_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ad Hoc Requests</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ad_Hoc_Project</targetReference>
            </connector>
            <label>Ad Hoc Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Launch_Found</name>
        <label>Was Launch Found?</label>
        <locationX>897</locationX>
        <locationY>1455</locationY>
        <defaultConnector>
            <targetReference>Clone_New_TaskRay_Project_No_Found_Milestone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Did not find Launch</defaultConnectorLabel>
        <rules>
            <name>Found_Launch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientLaunchMilestoneId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_New_TaskRay_Project_Found_Milestone</targetReference>
            </connector>
            <label>Found Launch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Yes_No</name>
        <label>Yes/No</label>
        <locationX>6042</locationX>
        <locationY>979</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_AddMoreTask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_Add_More_Tasks_field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_more_Tasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AllDOPSTasks</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TASKRAY__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskRayTemplateMaster</elementReference>
            </value>
        </filters>
        <filters>
            <field>Task_Grouping_Label__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data Operations Requests</stringValue>
            </value>
        </filters>
        <object>TASKRAY__Project_Task__c</object>
        <outputAssignments>
            <assignToReference>SelectedDepartmentRequestDetails</assignToReference>
            <field>Department_Request_Details__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedDepartmentRequestTaskId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DepartmentRequestTitle</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AllDSTasks</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TASKRAY__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskRayTemplateMaster</elementReference>
            </value>
        </filters>
        <filters>
            <field>Task_Grouping_Label__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data Science Requests</stringValue>
            </value>
        </filters>
        <object>TASKRAY__Project_Task__c</object>
        <outputAssignments>
            <assignToReference>SelectedDepartmentRequestDetails</assignToReference>
            <field>Department_Request_Details__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedDepartmentRequestTaskId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DepartmentRequestTitle</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AllITTasks</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TASKRAY__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskRayTemplateMaster</elementReference>
            </value>
        </filters>
        <filters>
            <field>Task_Grouping_Label__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Information Technology Requests</stringValue>
            </value>
        </filters>
        <object>TASKRAY__Project_Task__c</object>
        <outputAssignments>
            <assignToReference>SelectedDepartmentRequestDetails</assignToReference>
            <field>Department_Request_Details__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedDepartmentRequestTaskId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DepartmentRequestTitle</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>allOpps</name>
        <dataType>String</dataType>
        <displayField>TaskRay_Wizard_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>selectedOppContractPathId</assignToReference>
            <field>Contract_Path__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedOppName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AllProjectTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Project_Type__c</picklistField>
        <picklistObject>TASKRAY__Project__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AllTaskMasters</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TASKRAY__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskRayTemplateMaster</elementReference>
            </value>
        </filters>
        <object>TASKRAY__Project_Task__c</object>
        <outputAssignments>
            <assignToReference>SelectedDepartmentRequestDetails</assignToReference>
            <field>Department_Request_Details__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedDepartmentRequestTaskId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DepartmentRequestTitle</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ParentProjectsList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>SPA Parent Project</stringValue>
            </value>
        </filters>
        <object>TASKRAY__Project__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Requested_Registration_Code_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Requested_Registration_Code_Status__c</picklistField>
        <picklistObject>TASKRAY__Project__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>BackfillTagsTaskId</name>
        <dataType>String</dataType>
        <expression>{!$Label.TaskRay_Backfill_Tags_Task_Id}</expression>
    </formulas>
    <formulas>
        <name>clientLaunchMilestone</name>
        <dataType>String</dataType>
        <expression>{!$Label.TaskRay_Client_Launch_Milestone_Id}</expression>
    </formulas>
    <formulas>
        <name>ClientStrategyUnassigned</name>
        <dataType>String</dataType>
        <expression>{!$Label.TaskRay_Client_Strategy_Unassigned_Queue_Id}</expression>
    </formulas>
    <formulas>
        <name>currentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>CustomReportTaskId</name>
        <dataType>String</dataType>
        <expression>{!$Label.TaskRay_Custom_Report_Task_Id}</expression>
    </formulas>
    <formulas>
        <name>DataSharingAgreementTaskId</name>
        <dataType>String</dataType>
        <expression>{!$Label.TaskRay_Data_Sharing_Agreement_Task_Id}</expression>
    </formulas>
    <formulas>
        <name>NewDepartmentRequestProjectName</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_Current_Client_Overview.Account.Name} &amp; &quot; - &quot; &amp; {!Get_Current_Client_Overview.Contract_Path__r.Name} &amp; &quot; - &quot; &amp;  {!DepartmentRequestTitle}, 80)</expression>
    </formulas>
    <formulas>
        <name>newProjectName</name>
        <dataType>String</dataType>
        <expression>LEFT(SUBSTITUTE({!TemplateProjectRecord.Name},&quot;[Template] Client Name&quot;,{!Get_Current_Client_Overview.Name}),80)</expression>
    </formulas>
    <formulas>
        <description>Sub Project Name</description>
        <name>newSubProjectName</name>
        <dataType>String</dataType>
        <expression>LEFT(SUBSTITUTE({!TemplateSubProjectRecord.Name},&quot;[Template] Client Name&quot;,{!Get_Current_Client_Overview.Name}),80)</expression>
    </formulas>
    <formulas>
        <name>orgBaseURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <formulas>
        <name>PreexistingsFTPTaskId</name>
        <dataType>String</dataType>
        <expression>{!$Label.TaskRay_preexisting_sFTP_Task_Id}</expression>
    </formulas>
    <formulas>
        <name>ProjectDuration_Updated</name>
        <dataType>Number</dataType>
        <expression>{!Launch_Due_Date} - {!Project_Start_Date}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ProjectEndTextConvert</name>
        <dataType>String</dataType>
        <expression>TEXT({!Launch_Due_Date})</expression>
    </formulas>
    <formulas>
        <name>ProjectStartDate_Original_Formula</name>
        <dataType>Date</dataType>
        <expression>CASE(
  MOD( ({!Launch_Due_Date} - {!TemplateProjectRecord.Project_Duration__c})- DATE( 1900, 1, 7 ), 7 ),
  0, ({!Launch_Due_Date} - {!TemplateProjectRecord.Project_Duration__c} +1),
  1, {!Launch_Due_Date} - {!TemplateProjectRecord.Project_Duration__c},
  2, {!Launch_Due_Date} - {!TemplateProjectRecord.Project_Duration__c},
  3, {!Launch_Due_Date} - {!TemplateProjectRecord.Project_Duration__c},
  4, {!Launch_Due_Date} - {!TemplateProjectRecord.Project_Duration__c},
  5, {!Launch_Due_Date} - {!TemplateProjectRecord.Project_Duration__c}, 
  ({!Launch_Due_Date} - {!TemplateProjectRecord.Project_Duration__c} -1)
)</expression>
    </formulas>
    <formulas>
        <name>Request_Details_Formula</name>
        <dataType>String</dataType>
        <expression>IF({!Request_Details}=&quot;&quot;, {!Request_Details1}, {!Request_Details})</expression>
    </formulas>
    <formulas>
        <name>Request_Title_Formula</name>
        <dataType>String</dataType>
        <expression>IF({!Request_Title} = &quot;&quot;, {!Request_Title1},{!Request_Title})</expression>
    </formulas>
    <formulas>
        <name>ReviewDataFileTaskId</name>
        <dataType>String</dataType>
        <expression>{!$Label.TaskRay_Review_Data_File_Task_Id}</expression>
    </formulas>
    <formulas>
        <name>SetupsFTPTaskId</name>
        <dataType>String</dataType>
        <expression>{!$Label.TaskRay_sFTP_Setup_Task_Id}</expression>
    </formulas>
    <formulas>
        <name>StandardReportTaskId</name>
        <dataType>String</dataType>
        <expression>{!$Label.TaskRay_Standard_Report_Task_Id}</expression>
    </formulas>
    <formulas>
        <name>StandardTagsTaskId</name>
        <dataType>String</dataType>
        <expression>{!$Label.TaskRay_Standard_Tags_Task_Id}</expression>
    </formulas>
    <formulas>
        <name>TaskRayTemplateMaster</name>
        <dataType>String</dataType>
        <expression>{!$Label.TaskRay_Template_Master}</expression>
    </formulas>
    <interviewLabel>Project Template Wizard v3.5 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Template Wizard v3.0</label>
    <loops>
        <name>Add_Project_Task_Name_to_Collection</name>
        <label>Add Project Task Name to Collection</label>
        <locationX>1807</locationX>
        <locationY>1905</locationY>
        <assignNextValueToReference>currentTask</assignNextValueToReference>
        <collectionReference>allProjectTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_List_with_Break</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Project_Start_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_all_CS_Unassigned_Tasks</name>
        <label>Loop Through all CS Unassigned Tasks</label>
        <locationX>4865</locationX>
        <locationY>1757</locationY>
        <assignNextValueToReference>currentUnassignedTask</assignNextValueToReference>
        <collectionReference>allCSUnassignedTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Current_Unassigned_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Owner_on_Assigned_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Shell_Request_Project</name>
        <label>Create Shell Request Project</label>
        <locationX>2402</locationX>
        <locationY>341</locationY>
        <assignRecordIdToReference>foundProject.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Clone_Department_Request_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Overview__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Cap__c</field>
            <value>
                <elementReference>Enrollment_Cap</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NewDepartmentRequestProjectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>currentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Registration_Code_Status__c</field>
            <value>
                <elementReference>Requested_Registration_Code_Status_screen</elementReference>
            </value>
        </inputAssignments>
        <object>TASKRAY__Project__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Shell_Request_Project_Ad_Hoc</name>
        <label>Create Shell Request Project- Ad Hoc</label>
        <locationX>2698</locationX>
        <locationY>13</locationY>
        <assignRecordIdToReference>foundProject.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Clone_Department_Request_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Overview__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NewDepartmentRequestProjectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>currentUserId</elementReference>
            </value>
        </inputAssignments>
        <object>TASKRAY__Project__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_TaskRay_Project</name>
        <label>Find TaskRay Project</label>
        <locationX>918</locationX>
        <locationY>1920</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Project_Tasks_from_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>TASKRAY__Project__c</object>
        <outputReference>foundProject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Duration_Business_Days__c</queriedFields>
        <queriedFields>TASKRAY__Project_Start__c</queriedFields>
        <queriedFields>Project_Duration__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Project_Sub_Type__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Ad_Hoc_Request_Task_Template</name>
        <label>Get Ad Hoc Request Task Template</label>
        <locationX>1758</locationX>
        <locationY>16</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ad_Hoc_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ad Hoc Request Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>Project_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>[Template] Ad Hoc Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TASKRAY__Project_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Client_Strategy_Unassigned_Tasks</name>
        <label>Get All Client Strategy Unassigned Tasks</label>
        <locationX>4454</locationX>
        <locationY>1580</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Unassigned_CS_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientStrategyUnassigned</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>foundProject.Id</elementReference>
            </value>
        </filters>
        <object>TASKRAY__Project_Task__c</object>
        <outputReference>allCSUnassignedTasks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Project_Tasks_from_Template</name>
        <label>Get All Project Tasks from Template</label>
        <locationX>1503</locationX>
        <locationY>1913</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Project_Task_Name_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TASKRAY__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TemplateProjectRecord.Id</elementReference>
            </value>
        </filters>
        <object>TASKRAY__Project_Task__c</object>
        <outputReference>allProjectTasks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Client_Overview</name>
        <label>Get Current Client Overview</label>
        <locationX>457</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Contract_Path_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Projects_of_the_Current_Client_Overview</name>
        <label>Get Parent Projects of the Current Client Overview</label>
        <locationX>1554</locationX>
        <locationY>691</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_there_is_atleast_one_Parent_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>SPA Parent Project</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TASKRAY__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Project_Template</name>
        <label>Get Selected Project Template</label>
        <locationX>1416</locationX>
        <locationY>813</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Project_Template_was_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>TaskRayTemplateMaster</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project_Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectSubType_Choice</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectType_Choice</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__trTemplate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TASKRAY__Project__c</object>
        <outputReference>TemplateProjectRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Project_Duration__c</queriedFields>
        <queriedFields>TASKRAY__Project_Start__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Project_Template_no_Sub_Type</name>
        <label>Get Selected Project Template no Sub Type</label>
        <locationX>895</locationX>
        <locationY>832</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Second_Search_is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>TaskRayTemplateMaster</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project_Sub_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Project_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectType_Choice</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__trTemplate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TASKRAY__Project__c</object>
        <outputReference>TemplateProjectRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Project_Duration__c</queriedFields>
        <queriedFields>TASKRAY__Project_Start__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Try_Finding_Launch_Milestone</name>
        <label>Try Finding Launch Milestone</label>
        <locationX>905</locationX>
        <locationY>1283</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Launch_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TASKRAY__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TemplateProjectRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__trIsMilestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__trTemplateSource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>clientLaunchMilestone</elementReference>
            </value>
        </filters>
        <object>TASKRAY__Project_Task__c</object>
        <outputAssignments>
            <assignToReference>clientLaunchMilestoneId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Ad_Hoc_with_Opportunity</name>
        <label>Update Ad Hoc with Opportunity</label>
        <locationX>5680</locationX>
        <locationY>347</locationY>
        <connector>
            <targetReference>Check_if_Ad_Hoc_Project</targetReference>
        </connector>
        <inputReference>foundProject</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Department_Request_with_Details</name>
        <label>Update Department Request with Details</label>
        <locationX>3578</locationX>
        <locationY>343</locationY>
        <connector>
            <targetReference>Update_Ad_Hoc_with_Opportunity</targetReference>
        </connector>
        <inputReference>UpdatedDepartmentRequestTask</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_new_project_with_Client_Overview_fields</name>
        <label>Update new project with Client Overview fields</label>
        <locationX>3982</locationX>
        <locationY>1543</locationY>
        <connector>
            <targetReference>Get_All_Client_Strategy_Unassigned_Tasks</targetReference>
        </connector>
        <inputReference>foundProject</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_on_Assigned_Tasks</name>
        <label>Update Owner on Assigned Tasks</label>
        <locationX>5111</locationX>
        <locationY>1663</locationY>
        <connector>
            <targetReference>Check_if_Project_Start_Date_differs_from_Suggested_Date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Check_if_Project_Start_Date_differs_from_Suggested_Date</targetReference>
        </faultConnector>
        <inputReference>allAssignedTasks</inputReference>
    </recordUpdates>
    <screens>
        <name>Ad_Hoc_Project</name>
        <label>Ad Hoc Project</label>
        <locationX>1402</locationX>
        <locationY>16</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Ad_Hoc_Request_Task_Template</targetReference>
        </connector>
        <fields>
            <name>Select_Your_First_Ad_Hoc_Task</name>
            <choiceReferences>AllTaskMasters</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Your First Ad Hoc Task</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Ad_Hoc_Screen</name>
        <label>Ad Hoc Screen</label>
        <locationX>2114</locationX>
        <locationY>15</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Shell_Request_Project_Ad_Hoc</targetReference>
        </connector>
        <fields>
            <name>ChangeName</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(31, 157, 202);&quot;&gt;Please confirm the first Task name, and  fill in any request details. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Title1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DepartmentRequestTitle</elementReference>
            </defaultValue>
            <fieldText>Department Request Task Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Request_Details1</name>
            <fieldText>Department Request Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Buffer_Screen</name>
        <label>Buffer Screen</label>
        <locationX>5302</locationX>
        <locationY>1799</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Project_Duration</targetReference>
        </connector>
        <fields>
            <name>Continuation_Message</name>
            <fieldText>Almost finished! Press &apos;Next&apos; below to complete creating this project.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contract_Path_Does_Not_Exist</name>
        <label>Contract Path Does Not Exist</label>
        <locationX>585</locationX>
        <locationY>460</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ContractPathDoesNotExist</name>
            <fieldText>&lt;p&gt;You must populate the Client Overview&apos;s Contract Path before creating this project.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Could_Not_Find_Project_Template</name>
        <label>Could Not Find Project Template</label>
        <locationX>247</locationX>
        <locationY>816</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>There was an issue finding your requested project template. Please click &quot;Previous&quot; and select a different value in either the &quot;Project Type&quot; and/or &quot;Project Sub Type&quot; fields.

If you believe this is an error and the requested template should be active, please contact your Salesforce Administrator.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Data_Operations_Request_screen</name>
        <label>Data Operations Request</label>
        <locationX>1760</locationX>
        <locationY>341</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Department_Request_Details</targetReference>
        </connector>
        <fields>
            <name>Select_a_Data_Operations_Request_Template</name>
            <choiceReferences>AllDOPSTasks</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Data Operations Request Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayText_ConfirmNoPHI</name>
            <fieldText>&lt;p&gt;&lt;b&gt;By checking this box, I am confirming that I am not displaying any PHI with the creation of this ticket thereby adhering to HIPAA regulations. &lt;/b&gt;If you need to share a file with PHI, please do so by uploading the file to Box and providing the link.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation_of_no_PHI</name>
            <dataType>Boolean</dataType>
            <fieldText>Confirmation of no PHI</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 11, 11);&quot;&gt;You must confirm that you are not displaying any PHI with the creation of this ticket thereby adhering to HIPAA regulations. &lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Confirmation_of_no_PHI} = TRUE</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Data_Science_Request_screen</name>
        <label>Data Science Request</label>
        <locationX>1762</locationX>
        <locationY>527</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Department_Request_Details</targetReference>
        </connector>
        <fields>
            <name>Select_a_Data_Science_Request_Template</name>
            <choiceReferences>AllDSTasks</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Data Science Request Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Department_Request_Details</name>
        <label>Department Request Details</label>
        <locationX>2140</locationX>
        <locationY>341</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Shell_Request_Project</targetReference>
        </connector>
        <fields>
            <name>Request_Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DepartmentRequestTitle</elementReference>
            </defaultValue>
            <fieldText>Department Request Task Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Title must be 80 characters or less</errorMessage>
                <formulaExpression>Len({!Request_Title}) &lt;= 80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Enrollment_Cap</name>
            <dataType>Number</dataType>
            <fieldText>Enrollment Cap</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DepartmentRequestTitle</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Enrollment Cap  freezing and unfreezing REG CODE </stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Requested_Registration_Code_Status_screen</name>
            <choiceReferences>Requested_Registration_Code_Status</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Requested Registration Code Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DepartmentRequestTitle</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Turning off Registration Code</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayRequest</name>
            <fieldText>&lt;p&gt;{!SelectedDepartmentRequestDetails}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Details</name>
            <fieldText>Department Request Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Fill out based on the request details above (if supplied)&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Information_Technology</name>
        <label>Information Technology</label>
        <locationX>1750</locationX>
        <locationY>143</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Department_Request_Details</targetReference>
        </connector>
        <fields>
            <name>Select_an_I_T_Request_Template</name>
            <choiceReferences>AllITTasks</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an I.T. Request Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Parent_Project_Not_Found</name>
        <label>Parent Project Not Found</label>
        <locationX>1643</locationX>
        <locationY>971</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoParent</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(240, 22, 33);&quot;&gt;Please create a Parent Project for this Client Overview before creating a Sub Project.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Project_Start_Screen</name>
        <label>Project Start Screen</label>
        <locationX>2996</locationX>
        <locationY>1897</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Data_Fields</targetReference>
        </connector>
        <fields>
            <name>Due_Date_Information</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Due Date:&lt;/b&gt; {!Launch_Due_Date}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The date below is the scheduled project start date based on the supplied due date. Please update if necessary.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Project_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>ProjectStartDate_Original</elementReference>
            </defaultValue>
            <fieldText>Confirm Project Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Confirmation_Notice</name>
            <fieldText>&lt;p align=&quot;center&quot; style=&quot;color:white;background-color:darkred&quot;&gt;&lt;/b&gt;Please confirm your inputs - you will NOT be able to return to this screen after selecting &quot;Next&quot;&lt;/b&gt;&lt;/p&gt;&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Project_Summary</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Project Name: &lt;/b&gt; {!newProjectName}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Due Date: &lt;/b&gt; {!Launch_Due_Date}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Tasks included in project: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!TaskNames}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Parent_Project_Screen</name>
        <label>Select Parent Project Screen</label>
        <locationX>2123</locationX>
        <locationY>696</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Standalone_Sub_Projects_using_Parent_Id</targetReference>
        </connector>
        <fields>
            <name>SelectParentProject</name>
            <fieldText>&lt;p&gt;Please select a Parent Project to create a Sub Project: &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectedParentProject</name>
            <choiceReferences>ParentProjectsList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Parent Project Names</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Project_Template</name>
        <label>Select Project Template</label>
        <locationX>931</locationX>
        <locationY>277</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_Project_Type_is_Sub_Project</targetReference>
        </connector>
        <fields>
            <name>ProjectTypeSelector</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>TASKRAY__Project__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Project_Template_Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Project_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Choose Template Category</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Choose Project Template Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>Project_Sub_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomLabel</name>
                <value>
                    <stringValue>Choose Project Template Sub-Type</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ProjectSubType_Choice</assignToReference>
                <name>bottomValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ProjectType_Choice</assignToReference>
                <name>middleValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>TemplateCategory_Choice</assignToReference>
                <name>topValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ProjectTypeNote</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(215, 12, 12);&quot;&gt;Please select Template Category and Project Type to go to the next screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Related_Opportunity_and_Launch_Date</name>
        <label>Select Related Opportunity and Launch Date</label>
        <locationX>1168</locationX>
        <locationY>287</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Determine_Template_Type</targetReference>
        </connector>
        <fields>
            <name>Link_a_related_Opportunitys</name>
            <choiceReferences>No_Related_Opportunity</choiceReferences>
            <choiceReferences>allOpps</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No_Related_Opportunity</defaultSelectedChoiceReference>
            <fieldText>Link a related Opportunity (If Project Type selected is &quot;New Client / Contract Path&quot;)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ProjectSubType_Choice</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Select Partner Account - Parent Project</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Launch_Due_Date</name>
            <dataType>Date</dataType>
            <fieldText>Choose a Launch / Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WarningMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(215, 16, 16);&quot;&gt;Please confirm your inputs - you will NOT be able to return to this screen after selecting &quot;Next&quot;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>5924</locationX>
        <locationY>1566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>Your project has been created.

&lt;u&gt;&lt;a href={!orgBaseURL}{!foundProject.Id}&gt;Click to view Project&lt;/a&gt;&lt;/u&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Would_you_like_to_Add_More_Tasks</name>
        <label>Would you like to Add More Tasks?</label>
        <locationX>6050</locationX>
        <locationY>592</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Yes_No</targetReference>
        </connector>
        <fields>
            <name>Would_you_like_to_Add_More_Tasks_field</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to Add More Tasks?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>266</locationY>
        <connector>
            <targetReference>Get_Current_Client_Overview</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_more_Tasks</name>
        <label>Add more Tasks</label>
        <locationX>6263</locationX>
        <locationY>1459</locationY>
        <flowName>Create_and_Manage_TaskRay_Master_Templates_and_Tasks</flowName>
    </subflows>
    <subflows>
        <name>Create_Standalone_Sub_Projects_using_Parent_Id</name>
        <label>Create Standalone Sub Projects using Parent Id</label>
        <locationX>2123</locationX>
        <locationY>971</locationY>
        <flowName>TaskRay_Sub_Project_Management</flowName>
        <inputAssignments>
            <name>ParentProjectId</name>
            <value>
                <elementReference>SelectedParentProjectId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vClientOverviewId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Sub_Projects_followed_by_Parent_Project</name>
        <label>Create Sub Projects followed  by Parent Project</label>
        <locationX>6505</locationX>
        <locationY>1810</locationY>
        <flowName>TaskRay_Sub_Project_Management</flowName>
        <inputAssignments>
            <name>ParentProjectId</name>
            <value>
                <elementReference>foundProject.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vClientOverviewId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentProject</name>
            <value>
                <elementReference>foundProject</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Update_Project_Duration</name>
        <label>Update Project Duration</label>
        <locationX>5503</locationX>
        <locationY>1746</locationY>
        <connector>
            <targetReference>Check_if_project_type_is_a_parent_project</targetReference>
        </connector>
        <flowName>Dynamically_Update_Project_Tasks_Durations</flowName>
        <inputAssignments>
            <name>inputProjectDuration_Updated</name>
            <value>
                <elementReference>ProjectDuration_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputProjectLaunchDueDate</name>
            <value>
                <elementReference>Launch_Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputProjectStart_Updated</name>
            <value>
                <elementReference>Project_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProjectDuration_Template</name>
            <value>
                <elementReference>TemplateProjectRecord.Project_Duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProjectStart_Template</name>
            <value>
                <elementReference>TemplateProjectRecord.TASKRAY__Project_Start__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>foundProject.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>allAssignedTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>allCSUnassignedTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>allProjectTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>assignedTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>clientLaunchMilestoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clientLaunchMilestoneIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>currentUnassignedTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>DataSharingChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DepartmentRequestTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>DepartmentRequestTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DueDateList</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>foundProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <name>newSubProjectNameList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewSubProjectTemplateIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Get the Opportunity Id List of Records</description>
        <name>OppIdList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppIdsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutputList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputTaskRayList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <name>ProjectStartDate_Original</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>ProjectStartDate_Original_Formula</elementReference>
        </value>
    </variables>
    <variables>
        <name>ProjectStartDate_Template</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectSubType_Choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectType_Choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReportingChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedDepartmentRequestDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedDepartmentRequestTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedOppContractPathId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedOppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </variables>
    <variables>
        <name>SelectedParentProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>SelectedParentProject</elementReference>
        </value>
    </variables>
    <variables>
        <name>SFTPChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sourceInfoForBulkClone</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sourceInfoList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subProjectNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subProjectRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <name>SubProjectsToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <name>TagChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskrayProjectList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <name>TemplateCategory_Choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TemplateProjectRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <name>TemplateSubProjectRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <name>UpdatedDepartmentRequestTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
</Flow>
