src/flows/Reassign_all_Unassigned_TaskRay_Tasks_to_New_Owner.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_new_assigned_Task</name>
        <label>Add new assigned Task</label>
        <locationX>655</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>allAssignedTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assignedTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_All_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reassign_Task</name>
        <label>Reassign Task</label>
        <locationX>854</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>assignedTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignedTask.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentUnassignedTask.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_new_assigned_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_unassigned_tasks</name>
        <label>Has unassigned tasks?</label>
        <locationX>497</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>No tasks</defaultConnectorLabel>
        <rules>
            <name>Has_tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>unassignedTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_All_Tasks</targetReference>
            </connector>
            <label>Has tasks</label>
        </rules>
    </decisions>
    <interviewLabel>Reassign all Unassigned Tasks to New Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reassign all Unassigned TaskRay Tasks to New Owner</label>
    <loops>
        <name>Loop_Through_All_Tasks</name>
        <label>Loop Through All Tasks</label>
        <locationX>744</locationX>
        <locationY>48</locationY>
        <assignNextValueToReference>currentUnassignedTask</assignNextValueToReference>
        <collectionReference>unassignedTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reassign_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Assigned_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_remaining_unassigned_Task_records</name>
        <label>Get all remaining unassigned Task records</label>
        <locationX>277</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_unassigned_tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputUnassignedQueueId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__List__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputProjectId</elementReference>
            </value>
        </filters>
        <object>TASKRAY__Project_Task__c</object>
        <outputReference>unassignedTasks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assigned_Tasks</name>
        <label>Update Assigned Tasks</label>
        <locationX>1031</locationX>
        <locationY>52</locationY>
        <inputReference>allAssignedTasks</inputReference>
    </recordUpdates>
    <startElementReference>Get_all_remaining_unassigned_Task_records</startElementReference>
    <status>Active</status>
    <variables>
        <name>allAssignedTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>assignedTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>currentUnassignedTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>inputOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputUnassignedQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>unassignedTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
</Flow>
