src/flows/Reassign_All_Open_TaskRay_Checklist_Items.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Updated_Checklist_Items</name>
        <label>Add Updated Checklist Items</label>
        <locationX>385</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>allUpdatedChecklistItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updatedChecklistItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Checklist_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unassign_Checklist_Owner</name>
        <label>Unassign Checklist Owner</label>
        <locationX>742</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>updatedChecklistItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentChecklistItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedChecklistItem.TASKRAY__trOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Checklist_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Owner</name>
        <label>Update Owner</label>
        <locationX>876</locationX>
        <locationY>716</locationY>
        <assignmentItems>
            <assignToReference>updatedChecklistItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentChecklistItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedChecklistItem.TASKRAY__trOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputNewUserOwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Checklist_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_new_owner_is_Queue</name>
        <label>Check if new owner is Queue</label>
        <locationX>881</locationX>
        <locationY>416</locationY>
        <defaultConnector>
            <targetReference>Update_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner isn&apos;t Queue</defaultConnectorLabel>
        <rules>
            <name>Owner_is_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewUserOwnerIsQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unassign_Checklist_Owner</targetReference>
            </connector>
            <label>Owner is Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_there_are_related_Checklist_Items</name>
        <label>Check if there are related Checklist Items</label>
        <locationX>616</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Does not have Checklist Items</defaultConnectorLabel>
        <rules>
            <name>Has_Checklist_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allIncompleteChecklistItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_Checklist_Items</targetReference>
            </connector>
            <label>Has Checklist Items</label>
        </rules>
    </decisions>
    <formulas>
        <name>NewUserOwnerIsQueue</name>
        <dataType>Boolean</dataType>
        <expression>LEFT({!inputNewUserOwnerId}, 3) = &quot;00G&quot;</expression>
    </formulas>
    <interviewLabel>Reassign All Open TaskRay Checklist Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reassign All Open TaskRay Checklist Items</label>
    <loops>
        <name>Loop_through_all_Checklist_Items</name>
        <label>Loop through all Checklist Items</label>
        <locationX>625</locationX>
        <locationY>246</locationY>
        <assignNextValueToReference>currentChecklistItem</assignNextValueToReference>
        <collectionReference>allIncompleteChecklistItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_new_owner_is_Queue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_all_Checklist_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Incomplete_Checklist_Items</name>
        <label>Get All Incomplete Checklist Items</label>
        <locationX>353</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_there_are_related_Checklist_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TASKRAY__Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__Project_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>TASKRAY__trChecklistItem__c</object>
        <outputReference>allIncompleteChecklistItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TASKRAY__trOwner__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_all_Checklist_Items</name>
        <label>Update all Checklist Items</label>
        <locationX>871</locationX>
        <locationY>245</locationY>
        <inputReference>allUpdatedChecklistItems</inputReference>
    </recordUpdates>
    <startElementReference>Get_All_Incomplete_Checklist_Items</startElementReference>
    <status>Active</status>
    <variables>
        <name>allIncompleteChecklistItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trChecklistItem__c</objectType>
    </variables>
    <variables>
        <name>allUpdatedChecklistItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trChecklistItem__c</objectType>
    </variables>
    <variables>
        <name>currentChecklistItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trChecklistItem__c</objectType>
    </variables>
    <variables>
        <name>inputNewUserOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updatedChecklistItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trChecklistItem__c</objectType>
    </variables>
</Flow>
