src/flows/Rename_Program_Overview_Records.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Updated_List</name>
        <label>Add to Updated List</label>
        <locationX>1406</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>updatedList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updatedProgramOverview</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Program_Overviews</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Program_Overview_Name</name>
        <label>Update Program Overview Name</label>
        <locationX>1405</locationX>
        <locationY>179</locationY>
        <assignmentItems>
            <assignToReference>updatedProgramOverview.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updatedProgramOverviewName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedProgramOverview.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentProgramOverview.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Updated_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Program_Overview_Name_Downmarket</name>
        <label>Update Program Overview Name - Downmarket</label>
        <locationX>1180</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>updatedProgramOverview.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedPONameDownmarket</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedProgramOverview.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentProgramOverview.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Updated_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if Population Type is &apos;ASO Downmarket &apos;  OR  &apos; Non-HSS Downmarket&apos;</description>
        <name>Check_if_Population_Type_is_Downmarket</name>
        <label>Check if Population Type is Downmarket</label>
        <locationX>947</locationX>
        <locationY>183</locationY>
        <defaultConnector>
            <targetReference>Update_Program_Overview_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Downmarket not Selected</defaultConnectorLabel>
        <rules>
            <name>Downmarket_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentClientOverview.Population_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASO downmarket</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentClientOverview.Population_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-HSS Downmarket</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Program_Overview_Name_Downmarket</targetReference>
            </connector>
            <label>Downmarket Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_that_there_are_Program_Overviews</name>
        <label>Check that there are Program Overviews</label>
        <locationX>747</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>No Program Overviews</defaultConnectorLabel>
        <rules>
            <name>Has_Program_Overviews</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allRelatedProgramOverviews</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_Program_Overviews</targetReference>
            </connector>
            <label>Has Program Overviews</label>
        </rules>
    </decisions>
    <description>Updates all non-expired/term Program Overview records related to a Client Overview to incorporate the Contract Path</description>
    <formulas>
        <name>ProgramOverviewRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.Program_Schedule_Record_Type}</expression>
    </formulas>
    <formulas>
        <name>UpdatedPONameDownmarket</name>
        <dataType>String</dataType>
        <expression>LEFT(
  LEFT({!CurrentClientOverview.Contract_Path__r.Name},40) 
  &amp; &apos; Downmarket &apos; &amp; TEXT({!CurrentClientOverview.Contract_Effective_Date__c}) &amp; &apos; &apos; &amp; TEXT({!currentProgramOverview.Program_Name__c}) &amp; &apos; Cohort&apos;, 80)</expression>
    </formulas>
    <formulas>
        <name>updatedProgramOverviewName</name>
        <dataType>String</dataType>
        <expression>LEFT({!inputClientAccName} &amp; &apos; - &apos; &amp; TEXT({!currentProgramOverview.Program_Name__c}) &amp; &apos; - &apos; &amp; {!inputContractPathAccName}, 80)</expression>
    </formulas>
    <interviewLabel>Rename Program Overview Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rename Program Overview Records</label>
    <loops>
        <name>Loop_through_all_Program_Overviews</name>
        <label>Loop through all Program Overviews</label>
        <locationX>786</locationX>
        <locationY>478</locationY>
        <assignNextValueToReference>currentProgramOverview</assignNextValueToReference>
        <collectionReference>allRelatedProgramOverviews</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Population_Type_is_Downmarket</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_all_Related_Program_Overview_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_related_Program_Overviews</name>
        <label>Get all related Program Overviews</label>
        <locationX>537</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_that_there_are_Program_Overviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputClientOverviewId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProgramOverviewRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>allRelatedProgramOverviews</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Program_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Client_Overview</name>
        <label>Get Client Overview</label>
        <locationX>391</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_related_Program_Overviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputClientOverviewId</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>CurrentClientOverview</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contract_Path__c</queriedFields>
        <queriedFields>Contract_Effective_Date__c</queriedFields>
        <queriedFields>Population_Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_all_Related_Program_Overview_Records</name>
        <label>Update all Related Program Overview Records</label>
        <locationX>752</locationX>
        <locationY>669</locationY>
        <inputReference>updatedList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Client_Overview</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>allRelatedProgramOverviews</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>CurrentClientOverview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>currentProgramOverview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>inputClientAccName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputClientOverviewId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputContractPathAccName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updatedList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>updatedProgramOverview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
