src/flows/Set_Contract_Id_on_Opportunities.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Opportunity</name>
        <label>Add Opportunity</label>
        <locationX>337</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>OpportunitiesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Related_Open_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contract_Id_on_Opportunity</name>
        <label>Set Contract Id on Opportunity</label>
        <locationX>339</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.ContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FlowContractId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_if_Opportunities_Found</name>
        <label>Opportunities Found?</label>
        <locationX>75</locationX>
        <locationY>153</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Opporutnities_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Related_Open_Opportunities</targetReference>
            </connector>
            <label>Opporutnities Found</label>
        </rules>
    </decisions>
    <interviewLabel>Set Contract Id on Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Contract Id on Opportunities</label>
    <loops>
        <name>Loop_Through_Related_Open_Opportunities</name>
        <label>Loop Through Related, Open Opportunities</label>
        <locationX>71</locationX>
        <locationY>284</locationY>
        <assignNextValueToReference>Opportunity</assignNextValueToReference>
        <collectionReference>Opportunities</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Contract_Id_on_Opportunity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Related_Open_Opportunities</name>
        <label>Find Related, Open Opportunities</label>
        <locationX>76</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_if_Opportunities_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FlowAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContractId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Opportunities</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContractId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunities</name>
        <label>Update Opportunities</label>
        <locationX>70</locationX>
        <locationY>409</locationY>
        <inputReference>OpportunitiesToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Find_Related_Open_Opportunities</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>FlowAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FlowContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunitiesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
