src/flows/TASKRAY__TaskRay_Customer_Onboarding_Kickoff_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirect_on_Flow_Finish</name>
        <label>Redirect on Flow Finish</label>
        <locationX>309</locationX>
        <locationY>1435</locationY>
        <actionName>TASKRAY:trFlowLocalActionRedirect</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varNewProjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>redirectMode</name>
            <value>
                <stringValue>viewInTaskRay</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>choiceAssignProjectTeam</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>choiceCloneSingleTemplate</name>
        <choiceText>Clone a Single Project Template</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>choiceDoNotAssignProjectTeam</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>choiceStitchTaskGroups</name>
        <choiceText>Stitch a Project from Multiple Task Groups</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>How_to_Create_Project</name>
        <label>How to Create Project?</label>
        <locationX>296</locationX>
        <locationY>512</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clone_Single_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choiceCloneSingleTemplate</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_a_Project_Template</targetReference>
            </connector>
            <label>Clone Single Project</label>
        </rules>
        <rules>
            <name>Stitch_Multiple_Task_Groups</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choiceStitchTaskGroups</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stitch_a_Project_from_Multiple_Task_Groups</targetReference>
            </connector>
            <label>Stitch Multiple Task Groups</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_a_Baseline</name>
        <label>Set a Baseline?</label>
        <locationX>300</locationX>
        <locationY>1134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Set_a_Baseline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_a_Baseline_for_the_New_Project</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Baseline</targetReference>
            </connector>
            <label>Yes - Set a Baseline</label>
        </rules>
        <rules>
            <name>No_Do_Not_Set_a_Baseline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_a_Baseline_for_the_New_Project</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Onboarding_Kickoff_Completed</targetReference>
            </connector>
            <label>No - Do Not Set a Baseline</label>
        </rules>
    </decisions>
    <description>This template Flow helps kick off TaskRay customer onboarding projects from Opportunities.</description>
    <interviewLabel>TaskRay Customer Onboarding Kickoff Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>TaskRay Customer Onboarding Kickoff Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Baseline</name>
        <label>Create Baseline</label>
        <locationX>529</locationX>
        <locationY>1212</locationY>
        <connector>
            <targetReference>Onboarding_Kickoff_Completed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>TASKRAY__trProject__c</field>
            <value>
                <elementReference>varNewProjectId</elementReference>
            </value>
        </inputAssignments>
        <object>TASKRAY__trBaseline_Project__c</object>
    </recordCreates>
    <recordLookups>
        <description>Selects fields from the Opportunity to be used in this Flow.</description>
        <name>Get_Opportunity_Fields</name>
        <label>Get Opportunity Fields</label>
        <locationX>304</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Kickoff_Information_No_Deal_Handoff_Notes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>recordvarOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TASKRAY__trDesiredOutcomes__c</queriedFields>
        <queriedFields>TASKRAY__trDealHandoffNotes__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Onboarding_Kickoff_Completed</name>
        <label>Onboarding Kickoff Completed</label>
        <locationX>309</locationX>
        <locationY>1291</locationY>
        <connector>
            <targetReference>Redirect_on_Flow_Finish</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordvarOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TASKRAY__trOnboardingKickoffCompleted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Project</name>
        <label>Update New Project</label>
        <locationX>308</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Review_The_Project</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewProjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TASKRAY__trDesiredOutcomes__c</field>
            <value>
                <elementReference>Desired_Outcomes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TASKRAY__trPrimaryOnboardingContact__c</field>
            <value>
                <elementReference>varPrimaryOnboardingContactId</elementReference>
            </value>
        </inputAssignments>
        <object>TASKRAY__Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>304</locationX>
        <locationY>283</locationY>
        <connector>
            <targetReference>Choose_How_to_Create_Your_Project</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordvarOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TASKRAY__trDealHandoffNotes__c</field>
            <value>
                <elementReference>Deal_Handoff_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TASKRAY__trDesiredOutcomes__c</field>
            <value>
                <elementReference>Desired_Outcomes</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Assign_Project_Team</name>
        <label>Assign Project Team</label>
        <locationX>308</locationX>
        <locationY>726</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_New_Project</targetReference>
        </connector>
        <fields>
            <name>projectTeamAssignment</name>
            <extensionName>TASKRAY:trFlowAssignProjectTeam</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>projectId</name>
                <value>
                    <elementReference>varNewProjectId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Choose_How_to_Create_Your_Project</name>
        <label>Choose How to Create Your Project</label>
        <locationX>304</locationX>
        <locationY>390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>How_to_Create_Project</targetReference>
        </connector>
        <fields>
            <name>How_Would_You_Like_to_Create_Your_Onboarding_Project</name>
            <choiceReferences>choiceCloneSingleTemplate</choiceReferences>
            <choiceReferences>choiceStitchTaskGroups</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>choiceCloneSingleTemplate</defaultSelectedChoiceReference>
            <fieldText>How Would You Like to Create Your Onboarding Project?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Clone_a_Project_Template</name>
        <label>Clone a Project Template</label>
        <locationX>193</locationX>
        <locationY>629</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Project_Team</targetReference>
        </connector>
        <fields>
            <name>cloneProject</name>
            <extensionName>TASKRAY:trFlowCloneProject</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sourceRecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varNewProjectId</assignToReference>
                <name>newProjectId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>482</locationX>
        <locationY>285</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>faultMessage</name>
            <fieldText>Something went wrong, here&apos;s some more information about the problem for your System Administrator:
{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_1</name>
        <label>Fault Screen</label>
        <locationX>501</locationX>
        <locationY>863</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>faultMessage_1</name>
            <fieldText>Something went wrong, here&apos;s some more information about the problem for your System Administrator:
{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_2</name>
        <label>Fault Screen</label>
        <locationX>678</locationX>
        <locationY>1212</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>faultMessage_2</name>
            <fieldText>Something went wrong, here&apos;s some more information about the problem for your System Administrator:
{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Project_Kickoff_Information_No_Deal_Handoff_Notes</name>
        <label>Project Kickoff Information</label>
        <locationX>303</locationX>
        <locationY>168</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Primary_Onboarding_Contact_Lookup</name>
            <extensionName>TASKRAY:trFlowLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Use this field to identify the primary customer contact for the onboarding project.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputLabel</name>
                <value>
                    <stringValue>Primary Onboarding Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varPrimaryOnboardingContactId</assignToReference>
                <name>selectedResultId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Desired_Outcomes</name>
            <defaultValue>
                <stringValue>{!recordvarOpportunity.TASKRAY__trDesiredOutcomes__c}</stringValue>
            </defaultValue>
            <fieldText>Desired Outcomes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>This field contains the Desired Outcomes that were captured on the Opportunity during the sales process.  Any information you add here during the kickoff will update the original field on the Opportunity and will also map to a new Desired Outcomes field on the TaskRay Project.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Deal_Handoff_Notes</name>
            <defaultValue>
                <stringValue>{!recordvarOpportunity.TASKRAY__trDealHandoffNotes__c}</stringValue>
            </defaultValue>
            <fieldText>Deal Handoff Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>This field contains key information about a deal that can be referenced during a customer&apos;s onboarding project. This data is stored on the Opportunity.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_The_Project</name>
        <label>Review The Project</label>
        <locationX>308</locationX>
        <locationY>1005</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_a_Baseline</targetReference>
        </connector>
        <fields>
            <name>FinalScreenConfirmation</name>
            <fieldText>&lt;p&gt;You&apos;re almost done! Just one more choice before completing this process.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Set_a_Baseline_for_the_New_Project</name>
            <dataType>Boolean</dataType>
            <fieldText>Set a Baseline for the New Project</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Check this box to automatically set a baseline for the new TaskRay Project.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>projectOverview</name>
            <extensionName>TASKRAY:trFlowProjectOverview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>projectid</name>
                <value>
                    <elementReference>varNewProjectId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Stitch_a_Project_from_Multiple_Task_Groups</name>
        <label>Stitch a Project from Multiple Task Groups</label>
        <locationX>422</locationX>
        <locationY>630</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Project_Team</targetReference>
        </connector>
        <fields>
            <name>stitchProject</name>
            <extensionName>TASKRAY:trFlowStitchOppProducts</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>opportunityId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Create a TaskRay Project by stitching together template Task Groups. This table will display a row for each Opportunity Product that was included on the original Opportunity. You can include a Task Group for any of the products/services that were sold on the Opportunity, but it&apos;s not required. You can also add more rows to this table to stitch additional Task Groups. Each Task Group must have a defined Schedule Mode and Date in order to be successfully stitched into the new project.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varNewProjectId</assignToReference>
                <name>newProjectId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TaskRay_Customer_Onboarding_Kickoff</name>
        <label>TaskRay Customer Onboarding Kickoff</label>
        <locationX>175</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Opportunity_Fields</targetReference>
        </connector>
        <fields>
            <name>textKickoffPrompt</name>
            <fieldText>Ready to kick off this customer&apos;s onboarding project in TaskRay?  Click &apos;Next&apos; to proceed.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>TaskRay_Customer_Onboarding_Kickoff</startElementReference>
    <status>Active</status>
    <variables>
        <description>A variable that stores the source record ID.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordvarOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varNewProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Primary Onboarding Contact record ID.</description>
        <name>varPrimaryOnboardingContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
