src/flows/TaskRay_Project_Set_End_Date_to_Launch_Date.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_if_Launch_Due_Date_Milestone_is_Found</name>
        <label>Check if Launch / Due Date Milestone is Found</label>
        <locationX>579</locationX>
        <locationY>203</locationY>
        <defaultConnector>
            <targetReference>Update_Project_Launch_Date_with_End_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Milestone not Found</defaultConnectorLabel>
        <rules>
            <name>Milestone_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LaunchOrDueDateMilestone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Milestone Found</label>
        </rules>
    </decisions>
    <description>Sets the Launch/Due Date of a TaskRay Project to the end date of the project when the &quot;Launch / Due Date&quot; milestone isn&apos;t present on the project.</description>
    <formulas>
        <name>LaunchOrDueDateMilestoneId</name>
        <dataType>String</dataType>
        <expression>{!$Label.TaskRay_Client_Launch_Milestone_Id}</expression>
    </formulas>
    <interviewLabel>TaskRay Project Set End Date to Launch Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TaskRay Project Set End Date to Launch Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_for_Launch_Due_Date_Milestone</name>
        <label>Check for Launch / Due Date Milestone</label>
        <locationX>296</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Launch_Due_Date_Milestone_is_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TASKRAY__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__trTemplateSource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaunchOrDueDateMilestoneId</elementReference>
            </value>
        </filters>
        <object>TASKRAY__Project_Task__c</object>
        <outputReference>LaunchOrDueDateMilestone</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_Launch_Date_with_End_Date</name>
        <label>Update Project Launch Date with End Date</label>
        <locationX>854</locationX>
        <locationY>193</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TaskRayLaunchDate__c</field>
            <value>
                <elementReference>inputEndDate</elementReference>
            </value>
        </inputAssignments>
        <object>TASKRAY__Project__c</object>
    </recordUpdates>
    <startElementReference>Check_for_Launch_Due_Date_Milestone</startElementReference>
    <status>Active</status>
    <variables>
        <name>inputEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LaunchOrDueDateMilestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
