src/flows/TaskRay_Sub_Project_Management.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ApexActionTaskRaySubProjectHandler</name>
        <label>ApexActionTaskRaySubProjectHandler</label>
        <locationX>752</locationX>
        <locationY>588</locationY>
        <actionName>TaskRaySubProjectHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Sub_Project_list_is_null</targetReference>
        </connector>
        <inputParameters>
            <name>sourceInfoList</name>
            <value>
                <elementReference>finalSourceList</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CreatedTaskRaySubProjectIds</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_all_Sub_Projects_Tasks_to_a_list</name>
        <label>Add all Sub Projects Tasks to a list</label>
        <locationX>1676</locationX>
        <locationY>629</locationY>
        <assignmentItems>
            <assignToReference>LlstOfAllSubProjectTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>allCSUnassignedSubProjectTasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Sub_Projects_to_get_all_the_tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Assigned_Sub_Project_Task_to_a_list</name>
        <label>Add Assigned Sub Project Task to a list</label>
        <locationX>2172</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>allAssignedSubProjectTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assignedSubProjectTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProjectsTasksWithOwnerId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Sub_Project_Task</name>
        <label>Assign Current Sub Project Task</label>
        <locationX>1806</locationX>
        <locationY>857</locationY>
        <assignmentItems>
            <assignToReference>assignedSubProjectTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentLoggedInUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignedSubProjectTask.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateProjectsTasksWithOwnerId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Assigned_Sub_Project_Task_to_a_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Id_to_Sub_Projects</name>
        <label>Assign Parent Id to Sub Projects</label>
        <locationX>1057</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SubProjectRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Sub_Projects.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubProjectRecord.TASKRAY__Project_Parent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentProjectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubProjectRecord.TaskRayLaunchDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentProject.TaskRayLaunchDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubProjectRecord.Client_Overview__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vClientOverviewId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Sub_Project_to_a_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Opportunity_Ids</name>
        <label>Assign Selected Opportunity Ids</label>
        <locationX>447</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>SelectedOppIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opportunity_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sub_Project_to_a_List</name>
        <label>Assign Sub Project to a List</label>
        <locationX>1152</locationX>
        <locationY>676</locationY>
        <assignmentItems>
            <assignToReference>SubProjectsToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SubProjectRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubProjectNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_New_Sub_Projects.Name} &lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_New_Sub_Projects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_a_list</name>
        <label>Assign values to a list</label>
        <locationX>562</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>finalSourceList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SelectedOppIdList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>finalSourceList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ParentProjectId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ApexActionTaskRaySubProjectHandler</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_CS_Unassigned_Sub_Project_Tasks</name>
        <label>Check for CS Unassigned Sub Project Tasks</label>
        <locationX>1473</locationX>
        <locationY>794</locationY>
        <defaultConnector>
            <targetReference>Loop_Sub_Projects_to_get_all_the_tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_CS_Unassigned_Tasks_in_Sub_Projects</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allCSUnassignedSubProjectTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_all_Sub_Projects_Tasks_to_a_list</targetReference>
            </connector>
            <label>Has CS Unassigned Tasks in Sub Projects</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Assigned_Sub_Project_List_is_Not_Null</name>
        <label>Check if Assigned Sub Project List is Not Null</label>
        <locationX>1934</locationX>
        <locationY>456</locationY>
        <defaultConnector>
            <targetReference>Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Assigned_Sub_Project_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LlstOfAllSubProjectTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateProjectsTasksWithOwnerId</targetReference>
            </connector>
            <label>Has Assigned Sub Project Tasks</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Sub_Project_list_is_null</name>
        <label>Check if Sub Project list is null</label>
        <locationX>747</locationX>
        <locationY>738</locationY>
        <defaultConnector>
            <targetReference>Loop_New_Sub_Projects</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Sub_Project_list_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedTaskRaySubProjectIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>If Sub Project list is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Selected_Opportunities</name>
        <label>Validate Selected Opportunities</label>
        <locationX>160</locationX>
        <locationY>777</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>When_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedOpportunities</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Opportunity_Loop.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selected_Opportunity_Ids</targetReference>
            </connector>
            <label>When Match</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>Opportunity names related to the Client Overview</description>
        <name>OppNamesList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vClientOverviewId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>OrgBaseURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <interviewLabel>TaskRay Sub Project Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TaskRay Sub Project Management</label>
    <loops>
        <name>Loop_New_Sub_Projects</name>
        <label>Loop New Sub Projects</label>
        <locationX>911</locationX>
        <locationY>576</locationY>
        <collectionReference>CreatedTaskRaySubProjectIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Parent_Id_to_Sub_Projects</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Parent_Id_on_Sub_Projects</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Sub_Projects_to_get_all_the_tasks</name>
        <label>Loop Sub Projects to get all the tasks</label>
        <locationX>1378</locationX>
        <locationY>520</locationY>
        <collectionReference>CreatedTaskRaySubProjectIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_all_SubProject_CS_Unassigned_Tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Assigned_Sub_Project_List_is_Not_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Opportunity_Loop</name>
        <label>Opportunity Loop</label>
        <locationX>170</locationX>
        <locationY>534</locationY>
        <collectionReference>Get_Opportunity_Records_Related_To_CO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Validate_Selected_Opportunities</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_values_to_a_list</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>UpdateProjectsTasksWithOwnerId</name>
        <label>UpdateProjectsTasksWithOwnerId</label>
        <locationX>1818</locationX>
        <locationY>664</locationY>
        <collectionReference>LlstOfAllSubProjectTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Current_Sub_Project_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Owner_on_Assigned_Sub_Project_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_all_SubProject_CS_Unassigned_Tasks</name>
        <label>Get all SubProject CS Unassigned Tasks</label>
        <locationX>1276</locationX>
        <locationY>703</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_CS_Unassigned_Sub_Project_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientStrategyUnassignedId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Sub_Projects_to_get_all_the_tasks.Id</elementReference>
            </value>
        </filters>
        <object>TASKRAY__Project_Task__c</object>
        <outputReference>allCSUnassignedSubProjectTasks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Opportunities that are related to the client overview</description>
        <name>Get_Opportunity_Records_Related_To_CO</name>
        <label>Get Opportunity Records Related To CO</label>
        <locationX>928</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Opportunities_to_Create_Sub_Projects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vClientOverviewId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Project_Record</name>
        <label>Get Parent Project Record</label>
        <locationX>177</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sub_Project_Template_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentProjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TASKRAY__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Sub Project Template Record using the Project Sub Type Field</description>
        <name>Get_Sub_Project_Template_Record</name>
        <label>Get Sub Project Template Record</label>
        <locationX>390</locationX>
        <locationY>355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Records_Related_To_CO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Select Partner Account - Sub Project</stringValue>
            </value>
        </filters>
        <object>TASKRAY__Project__c</object>
        <outputReference>SubProjectTemplateRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Project_Sub_Type__c</queriedFields>
        <queriedFields>TaskRayStatus__c</queriedFields>
        <queriedFields>TASKRAY__Project_Start__c</queriedFields>
        <queriedFields>TASKRAY__Project_End__c</queriedFields>
        <queriedFields>TASKRAY__trOpportunity__c</queriedFields>
        <queriedFields>TASKRAY__trAccount__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Owner_on_Assigned_Sub_Project_Tasks</name>
        <label>Update Owner on Assigned Sub Project Tasks</label>
        <locationX>2100</locationX>
        <locationY>607</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>allAssignedSubProjectTasks</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Id_on_Sub_Projects</name>
        <label>Update Parent Id on Sub Projects</label>
        <locationX>1184</locationX>
        <locationY>522</locationY>
        <connector>
            <targetReference>Loop_Sub_Projects_to_get_all_the_tasks</targetReference>
        </connector>
        <inputReference>SubProjectsToBeUpdated</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>758</locationX>
        <locationY>984</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(218, 106, 4); font-size: 14px;&quot;&gt;Parent Project has been created, But there was an unexpected error while creating Sub Projects, please contact your System Administrator.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!OrgBaseURL}{!ParentProjectId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;Click here to view the Parent Project.&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Select Opportunities to create Sub Projects</description>
        <name>Select_Opportunities_to_Create_Sub_Projects</name>
        <label>Select Opportunities to Create Sub Projects</label>
        <locationX>928</locationX>
        <locationY>427</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Opportunity_Loop</targetReference>
        </connector>
        <fields>
            <name>SelectedOpportunities</name>
            <choiceReferences>OppNamesList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Client Opportunities to Create Sub Projects</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>2344</locationX>
        <locationY>520</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ViewProject</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!OrgBaseURL}{!ParentProjectId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here to view Parent Project and related Sub Projects.&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SubProjectsCreated</name>
            <fieldText>&lt;p&gt;Here is the list of Sub Projects created.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!SubProjectNames}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Parent_Project_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>allAssignedSubProjectTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>allCSUnassignedSubPrjctTasksList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>allCSUnassignedSubProjectTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>assignedSubProjectTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>ClientStrategyUnassignedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.TaskRay_Client_Strategy_Unassigned_Queue_Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>CreatedTaskRaySubProjectIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <name>CurrentLoggedInUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>finalSourceList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdsList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&apos;a3w4C0000005gS9QAI,a3w4C0000005gS8QAI&apos;</stringValue>
        </value>
    </variables>
    <variables>
        <name>LlstOfAllSubProjectTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>ParentProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <name>ParentProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedOppIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SubProjectNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubProjectRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <name>SubProjectsToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <name>SubProjectTemplateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <name>vClientOverviewId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
