src/flows/Update_related_PO_ClientOverviewStatus.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_updated_list</name>
        <label>Add to updated list</label>
        <locationX>1013</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>updatedList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentProgramOverview</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_each_Program_Overview</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PO_s_ClientOverviewStatus</name>
        <label>Update PO&apos;s ClientOverviewStatus</label>
        <locationX>1014</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>currentProgramOverview.Client_Overview_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Client_Overview.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_updated_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_that_there_are_Program_Overviews</name>
        <label>Check that there are Program Overviews</label>
        <locationX>732</locationX>
        <locationY>53</locationY>
        <defaultConnectorLabel>No POs</defaultConnectorLabel>
        <rules>
            <name>Has_POs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_Program_Overviews</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_each_Program_Overview</targetReference>
            </connector>
            <label>Has POs</label>
        </rules>
    </decisions>
    <formulas>
        <name>ProgramOverviewRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.Program_Schedule_Record_Type}</expression>
    </formulas>
    <interviewLabel>Update related PO ClientOverviewStatus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update related PO ClientOverviewStatus</label>
    <loops>
        <name>Loop_through_each_Program_Overview</name>
        <label>Loop through each Program Overview</label>
        <locationX>740</locationX>
        <locationY>306</locationY>
        <assignNextValueToReference>currentProgramOverview</assignNextValueToReference>
        <collectionReference>Get_related_Program_Overviews</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_PO_s_ClientOverviewStatus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_all_Related_Program_Overviews</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Client_Overview</name>
        <label>Get Client Overview</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_related_Program_Overviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputClientOverviewId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_Program_Overviews</name>
        <label>Get related Program Overviews</label>
        <locationX>542</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_that_there_are_Program_Overviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputClientOverviewId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProgramOverviewRecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_all_Related_Program_Overviews</name>
        <label>Update all Related Program Overviews</label>
        <locationX>739</locationX>
        <locationY>536</locationY>
        <inputReference>updatedList</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Client_Overview</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>allRelatedProgramOverviews</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>currentProgramOverview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>inputClientOverviewId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updatedList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>updatedProgramOverview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
