src/flows/Update_PO_from_OLI.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_updated_list</name>
        <label>Add to updated list</label>
        <locationX>1096</locationX>
        <locationY>133</locationY>
        <assignmentItems>
            <assignToReference>updatedList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentPO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_POs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Device_Type</name>
        <label>Assign New Device Type</label>
        <locationX>1271</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>currentPO.New_Device_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewDeviceType_translation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_updated_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_POs_exist</name>
        <label>Do POs exist?</label>
        <locationX>710</locationX>
        <locationY>51</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Program_Overviews</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_POs</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Family</name>
        <label>Program Family</label>
        <locationX>949</locationX>
        <locationY>375</locationY>
        <defaultConnector>
            <targetReference>Add_to_updated_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hypertension</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentPO.Program_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hypertension</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Device_Type</targetReference>
            </connector>
            <label>Hypertension</label>
        </rules>
    </decisions>
    <description>Ignores PO with Status Expired / Term</description>
    <formulas>
        <name>NewDeviceType_translation</name>
        <dataType>String</dataType>
        <expression>IF( CONTAINS({!inputPricingStructure}, &quot;Bluetooth&quot;), &quot;HTAND&quot;,
IF( CONTAINS({!inputPricingStructure}, &quot;Cellular&quot;), &quot;HT900&quot;, &quot;&quot;))</expression>
    </formulas>
    <interviewLabel>Update PO from OLI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update PO from OLI v1.1</label>
    <loops>
        <name>Loop_through_all_POs</name>
        <label>Loop through all POs</label>
        <locationX>961</locationX>
        <locationY>45</locationY>
        <assignNextValueToReference>currentPO</assignNextValueToReference>
        <collectionReference>Get_Program_Overviews</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Program_Family</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_all_Program_Overviews</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Program_Overviews</name>
        <label>Get Program Overviews</label>
        <locationX>548</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_POs_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputClientOverviewID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputOLIProgramName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_all_Program_Overviews</name>
        <label>Update all Program Overviews</label>
        <locationX>1341</locationX>
        <locationY>38</locationY>
        <inputReference>updatedList</inputReference>
    </recordUpdates>
    <start>
        <locationX>208</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Program_Overviews</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentPO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>inputClientOverviewID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inputOLIProgramName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputPricingStructure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>updatedList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
