src/flows/Update_Template_with_Master_Task.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_in_New_Task</name>
        <label>Clone in New Task</label>
        <locationX>838</locationX>
        <locationY>1036</locationY>
        <actionName>TASKRAY__trCloneTask</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Created_Task_with_Group</targetReference>
        </connector>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>currentTask.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectId</name>
            <value>
                <elementReference>currentTask.TASKRAY__Project__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taskStartDate</name>
            <value>
                <elementReference>currentTask.TASKRAY__trStartDate__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTaskId</name>
            <value>
                <elementReference>MasterTaskId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>createdTask</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Old_Dependency_to_Records_to_Delete</name>
        <label>Add Old Dependency to Records to Delete</label>
        <locationX>1255</locationX>
        <locationY>1385</locationY>
        <assignmentItems>
            <assignToReference>DependenciesToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentDependency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Predecessor_to_New_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Old_Dependency_to_Records_to_Delete_0</name>
        <label>Add Old Dependency to Records to Delete</label>
        <locationX>1651</locationX>
        <locationY>1177</locationY>
        <assignmentItems>
            <assignToReference>DependenciesToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentDependency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Successor_to_New_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Predecessors_to_Dependencies</name>
        <label>Add Predecessors to Dependencies</label>
        <locationX>1490</locationX>
        <locationY>1491</locationY>
        <assignmentItems>
            <assignToReference>TOTALDEPENDENCIES</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatedDependency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_TOTAL_Predecessor_Dependencies</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Successor_to_Dependencies</name>
        <label>Add Successor to Dependencies</label>
        <locationX>1960</locationX>
        <locationY>1256</locationY>
        <assignmentItems>
            <assignToReference>TOTALDEPENDENCIES</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatedDependency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_TOTAL_Predecessor_Dependencies_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_list</name>
        <label>Add to list</label>
        <locationX>1028</locationX>
        <locationY>856</locationY>
        <assignmentItems>
            <assignToReference>updatedTasksWithGroup</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updatedTaskWithGroup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>deleteTheseTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_all_Predecessor_Dependencies</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Created_Task_with_Group</name>
        <label>Update Created Task with Group</label>
        <locationX>1029</locationX>
        <locationY>1035</locationY>
        <assignmentItems>
            <assignToReference>updatedTaskWithGroup.TASKRAY__trTaskGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentTask.TASKRAY__trTaskGroup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedTaskWithGroup.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createdTask.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedTaskWithGroup.TASKRAY__Archived__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentTask.TASKRAY__Archived__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Predecessor_to_New_Task</name>
        <label>Update Predecessor to New Task</label>
        <locationX>1297</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>UpdatedDependency.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDependency.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedDependency.TASKRAY__trPredecessorTask__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createdTask.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedDependency.TASKRAY__trSuccessorTask__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDependency.TASKRAY__trSuccessorTask__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Predecessors_to_Dependencies</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Successor_to_New_Task</name>
        <label>Update Successor to New Task</label>
        <locationX>1742</locationX>
        <locationY>1254</locationY>
        <assignmentItems>
            <assignToReference>UpdatedDependency.TASKRAY__trSuccessorTask__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createdTask.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedDependency.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDependency.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedDependency.TASKRAY__trPredecessorTask__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDependency.TASKRAY__trPredecessorTask__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Successor_to_Dependencies</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_TaskRay_Admin_Permissions</name>
        <label>Check for TaskRay Admin Permissions</label>
        <locationX>233</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Insufficient_Privileges</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a TaskRay Admin</defaultConnectorLabel>
        <rules>
            <name>User_is_TaskRay_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Task</targetReference>
            </connector>
            <label>User is TaskRay Admin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Record_is_Included_in_Selection</name>
        <label>Check if Record is Included in Selection</label>
        <locationX>829</locationX>
        <locationY>793</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_each_Template_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Excluded</defaultConnectorLabel>
        <rules>
            <name>Included</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Templates_to_Update</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>currentTask.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_in_New_Task</targetReference>
            </connector>
            <label>Included</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_TOTAL_Dependencies_is_Null</name>
        <label>Check if TOTAL Dependencies is Null</label>
        <locationX>1200</locationX>
        <locationY>415</locationY>
        <defaultConnector>
            <targetReference>Delete_Old_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TOTALDEPENDENCIES is null</defaultConnectorLabel>
        <rules>
            <name>TOTALDEPENDENCIES_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TOTALDEPENDENCIES</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_All_Old_Dependencies</targetReference>
            </connector>
            <label>TOTALDEPENDENCIES is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_TOTAL_Predecessor_Dependencies_were_Found</name>
        <label>Check if TOTAL Predecessor Dependencies were Found</label>
        <locationX>1380</locationX>
        <locationY>1033</locationY>
        <defaultConnector>
            <targetReference>Find_all_Successor_Dependencies</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No TOTAL Predecessor Dependencies Found</defaultConnectorLabel>
        <rules>
            <name>Found_TOTAL_Predecessor_Dependencies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TOTALPredecessorDependencies</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_TOTAL_Predecessor_Dependencies</targetReference>
            </connector>
            <label>Found TOTAL Predecessor Dependencies</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_TOTAL_Successor_Dependencies_were_Found</name>
        <label>Check if TOTAL Successor Dependencies were Found</label>
        <locationX>1847</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_each_Template_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No TOTAL Successor Dependencies Found</defaultConnectorLabel>
        <rules>
            <name>Found_TOTAL_Successor_Dependencies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TOTALSucessorDependencies</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_TOTAL_Predecessor_Dependencies_0</targetReference>
            </connector>
            <label>Found TOTAL Successor Dependencies</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AllMasterTasks</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>UniqueChecklistTaskId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MasterProjectId</elementReference>
            </value>
        </filters>
        <object>TASKRAY__Project_Task__c</object>
        <outputAssignments>
            <assignToReference>MasterTaskId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AllRelatedTemplateProjects</name>
        <dataType>String</dataType>
        <displayField>Project_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Name__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>[Template]</stringValue>
            </value>
        </filters>
        <filters>
            <field>TASKRAY__trTemplateSource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MasterTaskId</elementReference>
            </value>
        </filters>
        <object>TASKRAY__Project_Task__c</object>
        <sortField>Project_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>CurrentId</name>
        <dataType>String</dataType>
        <expression>LEFT({!currentTemplateIds},18)</expression>
    </formulas>
    <formulas>
        <name>MasterProjectId</name>
        <dataType>String</dataType>
        <expression>{!$Label.TaskRay_Template_Master}</expression>
    </formulas>
    <formulas>
        <name>TaskRayAdminPermissionSetId</name>
        <dataType>String</dataType>
        <expression>{!$Label.TaskRay_Admin_Permission_Set_Id}</expression>
    </formulas>
    <formulas>
        <name>UniqueChecklistTaskId</name>
        <dataType>String</dataType>
        <expression>{!$Label.TaskRay_Unique_Checklist_Task_Id}</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Update Template with Master Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Template with Master Task</label>
    <loops>
        <name>Loop_Through_each_Template_Task</name>
        <label>Loop Through each Template Task</label>
        <locationX>1010</locationX>
        <locationY>526</locationY>
        <assignNextValueToReference>currentTask</assignNextValueToReference>
        <collectionReference>AllTemplateTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Record_is_Included_in_Selection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_TOTAL_Dependencies_is_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_TOTAL_Predecessor_Dependencies</name>
        <label>Loop Through TOTAL Predecessor Dependencies</label>
        <locationX>1399</locationX>
        <locationY>1239</locationY>
        <assignNextValueToReference>CurrentDependency</assignNextValueToReference>
        <collectionReference>TOTALPredecessorDependencies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Old_Dependency_to_Records_to_Delete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_all_Successor_Dependencies</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_TOTAL_Predecessor_Dependencies_0</name>
        <label>Loop Through TOTAL Predecessor Dependencies</label>
        <locationX>1856</locationX>
        <locationY>1080</locationY>
        <assignNextValueToReference>CurrentDependency</assignNextValueToReference>
        <collectionReference>TOTALSucessorDependencies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Old_Dependency_to_Records_to_Delete_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_each_Template_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_all_NEW_Dependencies</name>
        <label>Insert all NEW Dependencies</label>
        <locationX>1192</locationX>
        <locationY>169</locationY>
        <connector>
            <targetReference>Delete_Old_Tasks</targetReference>
        </connector>
        <inputReference>TOTALDEPENDENCIES</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_All_Old_Dependencies</name>
        <label>Delete All Old Dependencies</label>
        <locationX>954</locationX>
        <locationY>304</locationY>
        <connector>
            <targetReference>Insert_all_NEW_Dependencies</targetReference>
        </connector>
        <inputReference>DependenciesToDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Old_Tasks</name>
        <label>Delete Old Tasks</label>
        <locationX>1485</locationX>
        <locationY>286</locationY>
        <connector>
            <targetReference>UpdateAllTasksWithGroup</targetReference>
        </connector>
        <inputReference>deleteTheseTasks</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Find_all_Predecessor_Dependencies</name>
        <label>Find all Predecessor Dependencies</label>
        <locationX>1195</locationX>
        <locationY>1037</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_TOTAL_Predecessor_Dependencies_were_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TASKRAY__trPredecessorTask__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentTask.Id</elementReference>
            </value>
        </filters>
        <object>TASKRAY__trDependency__c</object>
        <outputReference>TOTALPredecessorDependencies</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TASKRAY__trPredecessorTask__c</queriedFields>
        <queriedFields>TASKRAY__trSuccessorTask__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_all_Successor_Dependencies</name>
        <label>Find all Successor Dependencies</label>
        <locationX>1639</locationX>
        <locationY>1033</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_TOTAL_Successor_Dependencies_were_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TASKRAY__trSuccessorTask__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentTask.Id</elementReference>
            </value>
        </filters>
        <object>TASKRAY__trDependency__c</object>
        <outputReference>TOTALSucessorDependencies</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TASKRAY__trSuccessorTask__c</queriedFields>
        <queriedFields>TASKRAY__trPredecessorTask__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Template_Tasks</name>
        <label>Get All Template Tasks</label>
        <locationX>733</locationX>
        <locationY>522</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_each_Template_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TASKRAY__trTemplateSource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MasterTaskId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Task_is_from_Wizard_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TASKRAY__Project_Task__c</object>
        <outputReference>AllTemplateTasks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>TASKRAY__trStartDate__c</queriedFields>
        <queriedFields>TASKRAY__Project__c</queriedFields>
        <queriedFields>TASKRAY__trTaskGroup__c</queriedFields>
        <queriedFields>TASKRAY__Archived__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetUserAssignment</name>
        <label>GetUserAssignment</label>
        <locationX>124</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_TaskRay_Admin_Permissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskRayAdminPermissionSetId</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputReference>UserAssignment</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAllTasksWithGroup</name>
        <label>UpdateAllTasksWithGroup</label>
        <locationX>1696</locationX>
        <locationY>285</locationY>
        <inputReference>updatedTasksWithGroup</inputReference>
    </recordUpdates>
    <screens>
        <name>Insufficient_Privileges</name>
        <label>Insufficient Privileges</label>
        <locationX>226</locationX>
        <locationY>981</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Access_Notice</name>
            <fieldText>You currently do not have permission to access this tool.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Projects</name>
        <label>Select Projects</label>
        <locationX>552</locationX>
        <locationY>519</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_All_Template_Tasks</targetReference>
        </connector>
        <fields>
            <name>Select_Templates_to_Update</name>
            <choiceReferences>AllRelatedTemplateProjects</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Templates to Update</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Task</name>
        <label>Select Task</label>
        <locationX>263</locationX>
        <locationY>501</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Projects</targetReference>
        </connector>
        <fields>
            <name>Select_Master_Task</name>
            <choiceReferences>AllMasterTasks</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Master Task</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>GetUserAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>AllSelectedTemplates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <name>AllTemplateTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>createdTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>CurrentDependency</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trDependency__c</objectType>
    </variables>
    <variables>
        <name>currentTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>currentTemplateIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deleteTheseTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>DependenciesToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trDependency__c</objectType>
    </variables>
    <variables>
        <name>MasterTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TOTALDEPENDENCIES</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trDependency__c</objectType>
    </variables>
    <variables>
        <name>TOTALPredecessorDependencies</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trDependency__c</objectType>
    </variables>
    <variables>
        <name>TOTALSucessorDependencies</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trDependency__c</objectType>
    </variables>
    <variables>
        <name>UpdatedDependency</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__trDependency__c</objectType>
    </variables>
    <variables>
        <name>updatedTasksWithGroup</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>updatedTaskWithGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>UserAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
</Flow>
