src/flows/Update_LivongoLed_and_Outreach_Startification_on_POs.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_current_PO_to_collection</name>
        <label>Add current PO to collection</label>
        <locationX>407</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>poList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Program_Overviews</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Program_Overviews</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Livongo_Led_value_from_CO_to_PO</name>
        <label>Assign Livongo Led value from CO to PO</label>
        <locationX>252</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Program_Overviews.Livongo_Led__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Client_Overview_Records.Livongo_Led__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_current_PO_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Outreach_Stratification_from_CO_to_PO</name>
        <label>Assign Outreach Stratification from CO to PO</label>
        <locationX>129</locationX>
        <locationY>538</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Program_Overviews.Outreach_Stratification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Client_Overview_Records.Outreach_Stratification__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_current_PO_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_field_to_update</name>
        <label>Check the field to update</label>
        <locationX>249</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Livongo_Led</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FieldToUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Livongo Led</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Livongo_Led_value_from_CO_to_PO</targetReference>
            </connector>
            <label>Update Livongo Led</label>
        </rules>
        <rules>
            <name>Update_Outreach_Stratification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FieldToUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outreach Stratification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Outreach_Stratification_from_CO_to_PO</targetReference>
            </connector>
            <label>Update Outreach Stratification</label>
        </rules>
    </decisions>
    <interviewLabel>Update LivongoLed and Outreach Startification on POs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update LivongoLed and Outreach Startification on POs</label>
    <loops>
        <name>Loop_through_Program_Overviews</name>
        <label>Loop through Program Overviews</label>
        <locationX>530</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_related_program_overview_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_the_field_to_update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PO_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Client_Overview_Records</name>
        <label>Get Client Overview Records</label>
        <locationX>517</locationX>
        <locationY>184</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_related_program_overview_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_program_overview_records</name>
        <label>Get related program overview records</label>
        <locationX>527</locationX>
        <locationY>345</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Program_Overviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>WP Non-Anchor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PO_records</name>
        <label>Update PO records</label>
        <locationX>532</locationX>
        <locationY>669</locationY>
        <inputReference>poList</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Client_Overview_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FieldToUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>poList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
