src/flows/Update_Opportunity_Close_Activities.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Billing_Partner_Name</name>
        <label>Set Billing Partner Name</label>
        <locationX>45</locationX>
        <locationY>983</locationY>
        <assignmentItems>
            <assignToReference>BillingPartnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myOpportunity.BillingPartner__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Contract_Paper_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contract_Paper_Name</name>
        <label>Set Contract Paper Name</label>
        <locationX>45</locationX>
        <locationY>1146</locationY>
        <assignmentItems>
            <assignToReference>ContractPaperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myOpportunity.Pre_Contracting_Contract_Paper__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity_Partnership_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Influencer_Account_Name</name>
        <label>Set Influencer Account Name</label>
        <locationX>1065</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>InfluencerAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InfluencerAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_for_Lead_Source_Relationship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Influencer_Account_Name_To_Blank</name>
        <label>Set Influencer Account Name To Blank</label>
        <locationX>1052</locationX>
        <locationY>105</locationY>
        <assignmentItems>
            <assignToReference>InfluencerAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_for_Lead_Source_Relationship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Influencer_Relationship_Name_to_Blank</name>
        <label>Set Influencer Relationship Name to Blank</label>
        <locationX>431</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>InfluencerRelationshipName_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InfluencerRelationshipAccount_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Opportunity_Partnership_Relationship_Records_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Influencer_Relationship_Name_to_Variable</name>
        <label>Set Influencer Relationship Name to Variable</label>
        <locationX>712</locationX>
        <locationY>620</locationY>
        <assignmentItems>
            <assignToReference>InfluencerRelationshipName_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Relationship_InfluencerRelationshipType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InfluencerRelationshipAccount_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Relationship_InfluencerRelationshipType.Partner_Oppty_Partnership__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Opportunity_Partnership_Relationship_Records_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Source_Account_Name</name>
        <label>Set Lead Source Account Name</label>
        <locationX>1532</locationX>
        <locationY>140</locationY>
        <assignmentItems>
            <assignToReference>LeadSourceAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadSourceAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Both_Lead_Source_and_Influencer_Accounts_are_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Source_Account_Name_To_Blank</name>
        <label>Set Lead Source Account Name To Blank</label>
        <locationX>1531</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>LeadSourceAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Both_Lead_Source_and_Influencer_Accounts_are_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Source_Relationship_Account_to_Blank</name>
        <label>Set Lead Source Relationship Account to Blank</label>
        <locationX>446</locationX>
        <locationY>1143</locationY>
        <assignmentItems>
            <assignToReference>LeadSourceRelationshipName_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadSourceRelationshipAccount_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Influencer_Opportunity_Partnership_Relationship_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Source_Relationship_Name_to_Variable</name>
        <label>Set Lead Source Relationship Name to Variable</label>
        <locationX>702</locationX>
        <locationY>1149</locationY>
        <assignmentItems>
            <assignToReference>LeadSourceRelationshipName_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Relationship_LeadSourceRelationshipType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadSourceRelationshipAccount_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Relationship_LeadSourceRelationshipType.Partner_Oppty_Partnership__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Influencer_Opportunity_Partnership_Relationship_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateAccountOpportunityFields</name>
        <label>UpdateAccountOpportunityFields</label>
        <locationX>890</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>myAccount.Covered_Lives__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ensure_Account_Covered_Lives_is_accurate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myOpportunity.Opportunity_Covered_Lives__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ensure_Opportunity_Covered_Lives_is_accurate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myOpportunity.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myOpportunity.Contract_Nuances__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Nuances</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myOpportunity.Wellness_Landscape__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Wellness_Landscape</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myOpportunity.Launch_Goals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Launch_Goals</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myOpportunity.Discussed_Marketing_Approach__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DiscussedMarketingApproach</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myOpportunity.Marketing_Approach_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marketing_Approach_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myOpportunity.Launch_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expected_Launch_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMyOpportunity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CurrentBillingMethod</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CurrentBillingMethod_formula}&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CurrentBillingMethod_formula</elementReference>
        </value>
    </choices>
    <choices>
        <name>currentLeadSourceChoice</name>
        <choiceText>{!currentLeadSource}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>currentLeadSource</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Check_and_Get_Influencer_Relationship_Record_Name</name>
        <label>Check and Get Influencer Relationship Record Name</label>
        <locationX>566</locationX>
        <locationY>818</locationY>
        <defaultConnector>
            <targetReference>Set_Influencer_Relationship_Name_to_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Relationship is null</defaultConnectorLabel>
        <rules>
            <name>Relationship_is_not_null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Relationship_InfluencerRelationshipType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Influencer_Relationship_Name_to_Variable</targetReference>
            </connector>
            <label>Relationship is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_and_Get_Lead_Source_Relationship_Record_Name</name>
        <label>Check and Get Lead Source Relationship Record Name</label>
        <locationX>560</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Set_Lead_Source_Relationship_Account_to_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Relationship is null</defaultConnectorLabel>
        <rules>
            <name>Relationship_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Relationship_LeadSourceRelationshipType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Source_Relationship_Name_to_Variable</targetReference>
            </connector>
            <label>Relationship is not null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the Opportunity has values for Lead Source, Pre-Contracting Billing Partner, and Pre-Contracting Contract Paper. If not, display a screen telling the user these values must be populated before proceeding.</description>
        <name>Check_if_Opportunity_Lead_Source_Pre_Contracting_Billing_Partner_and_Pre_Contrac</name>
        <label>Check if Opportunity Lead Source, Pre Contracting Billing Partner, and Pre Contracting Contract Paper are populated</label>
        <locationX>35</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Populated_Lead_Source_Pre_Contracting_Billing_Partner_and_or_Pre_Contracting_Con</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_values_are_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myOpportunity.BillingPartner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myOpportunity.Pre_Contracting_Contract_Paper__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myOpportunity.LeadSource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMyAccount</targetReference>
            </connector>
            <label>All values are populated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Opportunity partnership Relationship Records exist for the current Opportunity.</description>
        <name>Check_if_Opportunity_Partnership_Relationship_Records_Exist</name>
        <label>Check if Opportunity Partnership Relationship Records Exist</label>
        <locationX>561</locationX>
        <locationY>488</locationY>
        <defaultConnector>
            <targetReference>Close_Checklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue To Close Checklist</defaultConnectorLabel>
        <rules>
            <name>Need_to_create_Opportunity_Partnerships</name>
            <conditionLogic>((1 OR 2 OR 3) AND 6) OR ((1 OR 2 OR 3) AND (8 OR 10)) OR ((3 OR 4) AND 5) OR ((3 OR 4) AND (7 OR 9))</conditionLogic>
            <conditions>
                <leftValueReference>myOpportunity.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myOpportunity.Benefit_Consultant_Involved_in_Deal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consultant introduced us, but was not involved in selling</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myOpportunity.Benefit_Consultant_Involved_in_Deal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consultant introduced us, and was involved in selling</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myOpportunity.Benefit_Consultant_Involved_in_Deal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consultant did not introduce us, but was involved in selling</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Relationship_InfluencerRelationshipType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Relationship_LeadSourceRelationshipType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InfluencerRelationshipAccount_Text</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSourceRelationshipAccount_Text</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InfluencerRelationshipAccount_Text</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadSourceRelationshipAccount_Text</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_for_Influencer_Relationship</targetReference>
            </connector>
            <label>Need to create Opportunity Partnerships</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_that_Opportunity_is_not_in_a_Closed_Stage</name>
        <label>Check that Opportunity is not in a &quot;Closed&quot; Stage</label>
        <locationX>38</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Check_if_Opportunity_Lead_Source_Pre_Contracting_Billing_Partner_and_Pre_Contrac</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunity is Open</defaultConnectorLabel>
        <rules>
            <name>Opportunity_is_in_a_Closed_Stage</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed No Decision</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Opportunity_Notice</targetReference>
            </connector>
            <label>Opportunity is in a &quot;Closed&quot; Stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Which_Program_is_Blank</name>
        <label>Check Which Program is Blank</label>
        <locationX>1829</locationX>
        <locationY>321</locationY>
        <defaultConnector>
            <targetReference>Relationship_records_null2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead Source blank</defaultConnectorLabel>
        <rules>
            <name>Influencer_blank</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>InfluencerAccountName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myOpportunity.Benefit_Consultant_Involved_in_Deal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consultant introduced us, and was involved in selling</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myOpportunity.Benefit_Consultant_Involved_in_Deal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consultant did not introduce us, but was involved in selling</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Relationship_records_null1</targetReference>
            </connector>
            <label>Influencer blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Both_Lead_Source_and_Influencer_Accounts_are_Blank</name>
        <label>If Both Lead Source and Influencer Accounts are Blank</label>
        <locationX>1677</locationX>
        <locationY>197</locationY>
        <defaultConnector>
            <targetReference>Check_Which_Program_is_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Both_Blank</name>
            <conditionLogic>(1 AND (3 OR 4 OR 5)) AND (2 AND (5 OR 6))</conditionLogic>
            <conditions>
                <leftValueReference>LeadSourceAccountName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InfluencerAccountName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myOpportunity.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myOpportunity.Benefit_Consultant_Involved_in_Deal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consultant introduced us, but was not involved in selling</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myOpportunity.Benefit_Consultant_Involved_in_Deal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consultant introduced us, and was involved in selling</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myOpportunity.Benefit_Consultant_Involved_in_Deal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consultant did not introduce us, but was involved in selling</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Relationship_records_null</targetReference>
            </connector>
            <label>Both Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Influencer_Account_is_Null</name>
        <label>Influencer Account is Null?</label>
        <locationX>875</locationX>
        <locationY>236</locationY>
        <defaultConnector>
            <targetReference>Set_Influencer_Account_Name_To_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account</defaultConnectorLabel>
        <rules>
            <name>Influencer_Account_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InfluencerAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Influencer_Account_Name</targetReference>
            </connector>
            <label>Influencer Account Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Key_Contacts_Created</name>
        <label>Key Contacts Created?</label>
        <locationX>885</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Need_To_Create_Key_Contact_s</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Key Contacts Created</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfKeyContacts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumberOfOpportunityKeyContacts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAccountOpportunityFields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Source_Account_is_Null</name>
        <label>Lead Source Account is Null?</label>
        <locationX>1389</locationX>
        <locationY>216</locationY>
        <defaultConnector>
            <targetReference>Set_Lead_Source_Account_Name_To_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account</defaultConnectorLabel>
        <rules>
            <name>Lead_Source_Account_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadSourceAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Source_Account_Name</targetReference>
            </connector>
            <label>Lead Source Account Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Relationship_records_null</name>
        <label>Relationship records null?</label>
        <locationX>1814</locationX>
        <locationY>90</locationY>
        <defaultConnector>
            <targetReference>Must_create_Opportunity_Level_Partnership_Relationships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Must_create_Records_first</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Relationship_LeadSourceRelationshipType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Relationship_InfluencerRelationshipType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Relationship_Records_v1</targetReference>
            </connector>
            <label>Must create Records first</label>
        </rules>
    </decisions>
    <decisions>
        <name>Relationship_records_null1</name>
        <label>Relationship records null?</label>
        <locationX>2106</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Must_Create_Influencer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Influencer_relationship_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Relationship_InfluencerRelationshipType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Relationship_Records_v2</targetReference>
            </connector>
            <label>Influencer relationship is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Relationship_records_null2</name>
        <label>Relationship records null?</label>
        <locationX>2108</locationX>
        <locationY>260</locationY>
        <defaultConnector>
            <targetReference>Must_Create_Lead_Source</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LeadSourceRelationshipNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Relationship_LeadSourceRelationshipType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Relationship_Records_v3</targetReference>
            </connector>
            <label>LeadSourceRelationshipNull</label>
        </rules>
    </decisions>
    <description>Added 2nd Task assigned to Jessica Guhungu</description>
    <dynamicChoiceSets>
        <name>BillingMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Billing_Method__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContractBillingMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Billing_Method__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DiscussedMarketingApproach</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Discussed_Marketing_Approach__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadSourceChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CurrentBillingMethod_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Contract.Billing_Method__c})),&quot; &quot;, TEXT({!Contract.Billing_Method__c}))</expression>
    </formulas>
    <formulas>
        <name>currentLeadSource</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!myOpportunity.LeadSource})),&quot; &quot;, TEXT({!myOpportunity.LeadSource}))</expression>
    </formulas>
    <formulas>
        <name>LeadSourceValidation</name>
        <dataType>String</dataType>
        <expression>CASE( {!myOpportunity.LeadSource}, 
&quot;Partner&quot;, &quot;Please validate that you have added the correct Partner Account as an Opportunity-Level Relationship!&quot;,
&quot;Inside Sales&quot;, &quot;Please validate that you have added the correct Inside Sales Rep to the Opportunity Team!&quot;,
&quot;Event&quot;, &quot;Please validate that you have captured event details in the Lead Source Details field on the Opportunity!&quot;,
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>orgBaseURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <formulas>
        <name>PartnerAccountGuidance</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISBLANK({!myOpportunity.BillingPartner__c}), ISBLANK({!myOpportunity.Pre_Contracting_Contract_Paper__c})), &quot;Please go back and select both a Billing Partner and Contract Path before proceeding with close request.&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>tomorrow</name>
        <dataType>Date</dataType>
        <expression>({!$Flow.CurrentDate} + 1)</expression>
    </formulas>
    <interviewLabel>Update Opportunity Close Activities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Close Checklist</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task_To_Close</name>
        <label>Create Task To Close</label>
        <locationX>1280</locationX>
        <locationY>824</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>tomorrow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Assigned_Task_User_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Generic_Task_Rec_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Action Requested: Opportunity Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>myOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_To_Close_2</name>
        <label>Create Task To Close 2</label>
        <locationX>1079</locationX>
        <locationY>536</locationY>
        <connector>
            <targetReference>Done</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>tomorrow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Assigned_Task_User_ID_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Generic_Task_Rec_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Action Requested: Opportunity Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>myOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_for_Influencer_Relationship</name>
        <label>Get Account for Influencer Relationship</label>
        <locationX>564</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Influencer_Account_is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InfluencerRelationshipAccount_Text</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>InfluencerAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_for_Lead_Source_Relationship</name>
        <label>Get Account for Lead Source Relationship</label>
        <locationX>1229</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Source_Account_is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadSourceRelationshipAccount_Text</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>LeadSourceAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Assigned_User_Name</name>
        <label>Get Assigned User Name</label>
        <locationX>1284</locationX>
        <locationY>943</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_To_Close</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>Contains</operator>
            <value>
                <stringValue>lindsay.salvatore</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Assigned_Task_User_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Assigned_User_Name_2</name>
        <label>Get Assigned User Name 2</label>
        <locationX>1073</locationX>
        <locationY>705</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_To_Close_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>Contains</operator>
            <value>
                <stringValue>jessica.gahungu</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Assigned_Task_User_ID_2</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Relationship Record with Opportunity Partnership Record Type and Relationship Type Influencer</description>
        <name>Get_Influencer_Opportunity_Partnership_Relationship_Record</name>
        <label>Get Influencer Opportunity Partnership Relationship Record</label>
        <locationX>575</locationX>
        <locationY>986</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_and_Get_Influencer_Relationship_Record_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Partnership__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myOpportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityPartnershipRecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelationshipType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Influencer</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputReference>Relationship_InfluencerRelationshipType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Partner_Oppty_Partnership__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Relationship Record with Opportunity Partnership Record Type and Relationship Type Lead Source</description>
        <name>Get_Lead_Source_Opportunity_Partnership_Relationship_Record</name>
        <label>Get Lead Source Opportunity Partnership Relationship Record</label>
        <locationX>282</locationX>
        <locationY>1325</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_and_Get_Lead_Source_Relationship_Record_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Partnership__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myOpportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityPartnershipRecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelationshipType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead Source</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputReference>Relationship_LeadSourceRelationshipType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Partner_Oppty_Partnership__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the Opportunity Partnership Record Type on the Relationship object</description>
        <name>Get_Opportunity_Partnership_Record_Type</name>
        <label>Get Opportunity Partnership Record Type</label>
        <locationX>45</locationX>
        <locationY>1331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lead_Source_Opportunity_Partnership_Relationship_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity_Partnership</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Relationship__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>OpportunityPartnershipRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetMyAccount</name>
        <label>GetMyAccount</label>
        <locationX>45</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Billing_Partner_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myOpportunity.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>myAccount</outputReference>
        <queriedFields>Covered_Lives__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetMyOpportunity</name>
        <label>GetMyOpportunity</label>
        <locationX>50</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_that_Opportunity_is_not_in_a_Closed_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>myOpportunity</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Opportunity_Covered_Lives__c</queriedFields>
        <queriedFields>Livongo_for_Diabetes_PwDs__c</queriedFields>
        <queriedFields>Livongo_for_Hypertension_PwHs__c</queriedFields>
        <queriedFields>Livongo_DPP_PwPDs__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <queriedFields>Lead_Source_Detail_Text__c</queriedFields>
        <queriedFields>BillingPartner__c</queriedFields>
        <queriedFields>Pre_Contracting_Contract_Paper__c</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Livongo_for_Weight_Management_DP_PwOs__c</queriedFields>
        <queriedFields>Livongo_WM_PwWMs__c</queriedFields>
        <queriedFields>Livongo_Behavioral_Health_PwBHs__c</queriedFields>
        <queriedFields>Benefit_Consultant_Involved_in_Deal__c</queriedFields>
        <queriedFields>Contract_Nuances__c</queriedFields>
        <queriedFields>Wellness_Landscape__c</queriedFields>
        <queriedFields>Launch_Goals__c</queriedFields>
        <queriedFields>Discussed_Marketing_Approach__c</queriedFields>
        <queriedFields>Marketing_Approach_Details__c</queriedFields>
        <queriedFields>Launch_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Look_Up_Record_Type_Task</name>
        <label>Look Up Record Type Task</label>
        <locationX>1079</locationX>
        <locationY>1179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assigned_User_Name_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Generic_Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Generic_Task_Rec_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_MyAccount</name>
        <label>Update MyAccount</label>
        <locationX>1091</locationX>
        <locationY>1329</locationY>
        <connector>
            <targetReference>Look_Up_Record_Type_Task</targetReference>
        </connector>
        <inputReference>myAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMyOpportunity</name>
        <label>UpdateMyOpportunity</label>
        <locationX>890</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>Update_MyAccount</targetReference>
        </connector>
        <inputReference>myOpportunity</inputReference>
    </recordUpdates>
    <screens>
        <name>Close_Checklist</name>
        <label>Close Checklist</label>
        <locationX>893</locationX>
        <locationY>485</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Close_Checklist_Pt_2</targetReference>
        </connector>
        <fields>
            <name>CloseChecklistHeader</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;/b&gt;&lt;b style=&quot;color: rgb(50, 50, 50);&quot;&gt;REVIEW YOUR OPPORTUNITY DATA BEFORE SUBMITTING THIS CLOSE REQUEST&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(50, 50, 50);&quot;&gt;Update any incorrect or missing data below and provide the CIM with any known implementation details on the next screen. For some fields or related records you may need to navigate back to the Opportunity page to edit.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Header1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(50, 50, 50);&quot;&gt;ENSURE KEY OPPORTUNITY FIELDS ARE ACCURATE:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PreContractingBillingPartner</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;  &lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(240, 52, 52);&quot;&gt;*&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(56, 52, 52);&quot;&gt; Pre-Contracting Billing Partner:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(56, 52, 52);&quot;&gt;    {!BillingPartnerName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;   &lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(240, 52, 52);&quot;&gt;*&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(56, 52, 52);&quot;&gt;Pre-Contracting Contract Paper:  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(56, 52, 52);&quot;&gt;     {!ContractPaperName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(56, 52, 52);&quot;&gt;     {!PartnerAccountGuidanceFormatted}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ensure_Account_Covered_Lives_is_accurate</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>myAccount.Covered_Lives__c</elementReference>
            </defaultValue>
            <fieldText>Account Covered Lives (from parent Account):</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Ensure_Opportunity_Covered_Lives_is_accurate</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>myOpportunity.Opportunity_Covered_Lives__c</elementReference>
            </defaultValue>
            <fieldText>Opportunity Covered Lives:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>EnsureallPWCCcounts</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(50, 50, 50); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;VALIDATE ALL PwCC COUNTS ARE ACCURATE:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 12px;&quot;&gt;(Update directly on the related Opportunity Products, if required)&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 12px;&quot;&gt;Livongo for Diabetes PwDs: {!myOpportunity.Livongo_for_Diabetes_PwDs__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 12px;&quot;&gt;Livongo for Hypertension PwHs: {!myOpportunity.Livongo_for_Hypertension_PwHs__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 12px;&quot;&gt;Livongo DPP PwDs: {!myOpportunity.Livongo_DPP_PwPDs__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 12px;&quot;&gt;Livongo for Behavioral Health PwBHs: {!myOpportunity.Livongo_Behavioral_Health_PwBHs__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(50, 50, 50); font-size: 12px;&quot;&gt;Livongo for Weight Management/DP PwOs: {!myOpportunity.Livongo_for_Weight_Management_DP_PwOs__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(50, 50, 50); font-size: 12px;&quot;&gt;Livongo WM PwWMs: {!myOpportunity.Livongo_WM_PwWMs__c}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LeadSourceHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(50, 50, 50); background-color: rgb(255, 255, 255);&quot;&gt;PROVIDE THE LEAD SOURCE AND OPPORTUNITY-LEVEL PARTNERSHIP IF APPLICABLE:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Lead_Source</name>
            <choiceReferences>currentLeadSourceChoice</choiceReferences>
            <choiceReferences>LeadSourceChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>currentLeadSourceChoice</defaultSelectedChoiceReference>
            <fieldText>Lead Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LeadSourceValidationLabel</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(204, 51, 51); font-size: 12px;&quot;&gt;{!LeadSourceValidation}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Close_Checklist_Pt_2</name>
        <label>Close Checklist Pt 2</label>
        <locationX>897</locationX>
        <locationY>629</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Key_Contacts_Created</targetReference>
        </connector>
        <fields>
            <name>KeyContactsGuidance</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(50, 50, 50); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;PROVIDE THE KEY CONTACTS AND PARTNERSHIPS FOR IMPLEMENTATION&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(50, 50, 50);&quot;&gt;Please provide at least 1 of the following Account or Opportunity level contacts: Sales Lead/POC or Business Decision Maker. To add a contact role, use the &quot;Add Relationship&quot; button on the Account page &quot;Related Records&quot; tab or the &quot;Add Contact Roles&quot; button on the Opportunity page &quot;Related Records&quot; tab.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>KeyContacts</name>
            <extensionName>c:FilteredRelatedList_Flows</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>column1</name>
                <value>
                    <stringValue>Contact_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2</name>
                <value>
                    <stringValue>Roles</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3</name>
                <value>
                    <stringValue>Account_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lookupToParentSObject</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childRelationshipName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentSObject</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>myOpportunity.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordSObject</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>relatedListLabel</name>
                <value>
                    <stringValue>Key Account Contacts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObject</name>
                <value>
                    <stringValue>AccountContactRelation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNew</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filter1</name>
                <value>
                    <stringValue>Roles INCLUDES Business Decision Maker, Sales Lead / POC</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>datatableHeight</name>
                <value>
                    <numberValue>100.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NumberOfKeyContacts</assignToReference>
                <name>tableSize</name>
            </outputParameters>
        </fields>
        <fields>
            <name>OpportunityContactRoles</name>
            <extensionName>c:OpportunityContactRolesList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>opportunityId</name>
                <value>
                    <elementReference>myOpportunity.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>relatedListLabel</name>
                <value>
                    <stringValue>Key Opportunity Contacts</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NumberOfOpportunityKeyContacts</assignToReference>
                <name>tableSize</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ClientLevelPartnershipsGuidance</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(50, 50, 50); font-size: 12px;&quot;&gt;Indicate any partnerships that are at play at the Account, by populating the Client-Level Partnership records. If a certain partnership type isn&apos;t applicable at the account currently (e.g. Benefit Consultant), you can delete that record for now. A blank partnership indicates an unknown.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ClientLevelPartnerships</name>
            <extensionName>c:FilteredRelatedList_Flows</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentSObject</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>myOpportunity.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordSObject</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>relatedListLabel</name>
                <value>
                    <stringValue>Client-Level Partnerships</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObject</name>
                <value>
                    <stringValue>Relationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lookupToParentSObject</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childRelationshipName</name>
                <value>
                    <stringValue>Client_Partnership__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filter1</name>
                <value>
                    <stringValue>RecordTypeId = 012460000015KFGAA2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2</name>
                <value>
                    <stringValue>RelationshipType__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3</name>
                <value>
                    <stringValue>Partner_Partnership_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column4</name>
                <value>
                    <stringValue>Active__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>KeyDataGuidance</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(50, 50, 50); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;PROVIDE KNOWN LAUNCH AND CLIENT INFORMATION FOR IMPLEMENTATION&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(50, 50, 50);&quot;&gt;You must complete each of the below fields in order to submit this close request. If something is not applicable to this account, enter N/A.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Expected_Launch_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>myOpportunity.Launch_Date__c</elementReference>
            </defaultValue>
            <fieldText>Expected Launch Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contract_Nuances</name>
            <defaultValue>
                <stringValue>{!myOpportunity.Contract_Nuances__c}</stringValue>
            </defaultValue>
            <fieldText>Contract Nuances</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(50, 50, 50);&quot;&gt;Describe any contractual requirements that fall outside the norm or aren&apos;t a part of our standard program agreement, e.g. data or marketing limitations, non-standard lapse clause, performance guarantees, SLAs, or ROI Analysis requirements.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Wellness_Landscape</name>
            <defaultValue>
                <stringValue>{!myOpportunity.Wellness_Landscape__c}</stringValue>
            </defaultValue>
            <fieldText>Wellness Landscape</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(50, 50, 50);&quot;&gt;Does the client have existing wellness vendors? Are they launching any other vendors at the same time? What is the clients approach to wellness initiatives?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Launch_Goals</name>
            <defaultValue>
                <stringValue>{!myOpportunity.Launch_Goals__c}</stringValue>
            </defaultValue>
            <fieldText>Launch Goals</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;What percentage of enrollment are you/the client expecting? Are there other health goals/programs/partners at play?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Discussed_Marketing_Approach</name>
            <choiceReferences>DiscussedMarketingApproach</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Discussed Marketing Approach?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(50, 50, 50); font-size: 12px;&quot;&gt;If you selected &quot;Yes&quot; to &quot;Discussed Marketing Approach?&quot;, please include details below as well. &lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Marketing_Approach_Details</name>
            <defaultValue>
                <stringValue>{!myOpportunity.Marketing_Approach_Details__c}</stringValue>
            </defaultValue>
            <fieldText>Marketing Approach Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(50, 50, 50);&quot;&gt;Provide key details around access to marketing, like if the client is committing to all marketing channels, thus will get the lapse clause? Are there any limitations we need to know of?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Closed_Opportunity_Notice</name>
        <label>Closed Opportunity Notice</label>
        <locationX>288</locationX>
        <locationY>402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Closed_Opportunity_Message</name>
            <fieldText>This Opportunity is already closed.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Done</name>
        <label>Done</label>
        <locationX>1255</locationX>
        <locationY>540</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>YouAreFinished</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Opportunity Close Request Submitted&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;A request has been submitted to move this Opportunity into Closed Won.  Any changes made within this form have been applied to the Account, Opportunity or Contract.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Missing_Relationship_Records_v1</name>
        <label>Missing Relationship Records v1</label>
        <locationX>2133</locationX>
        <locationY>9</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingRelationship1</name>
            <fieldText>&lt;p&gt;Because you selected the Lead Source of &quot;Partner&quot;, indicated a Benefit Consultant was involved in introducing you, or indicated that a Benefit Consultant was involved in this sale, you must create the corresponding Relationship record(s) and list the Partner as an Opportunity Level Partnership.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Missing_Relationship_Records_v2</name>
        <label>Missing Relationship Records v2</label>
        <locationX>2477</locationX>
        <locationY>507</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingInfluencer</name>
            <fieldText>&lt;p&gt;Because you indicated that a Benefit Consultant was involved in this sale,&amp;nbsp;you must create a new Relationship record&amp;nbsp;and list&amp;nbsp;the Partner&amp;nbsp;as an&amp;nbsp;Opportunity Level Partnership.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Missing_Relationship_Records_v3</name>
        <label>Missing Relationship Records v3</label>
        <locationX>2478</locationX>
        <locationY>270</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LeadSourceRelationshipMissing</name>
            <fieldText>&lt;p&gt;Because you selected the Lead Source of &quot;Partner&quot; or indicated a Benefit Consultant was involved in introducing you, you must create a new Relationship record and list the Partner as an Opportunity Level Partnership.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Must_Create_Influencer</name>
        <label>Must Create Influencer</label>
        <locationX>2477</locationX>
        <locationY>378</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayInfluencer</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(51, 51, 51); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Because you indicated that a Benefit Consultant was involved in this sale,&amp;nbsp;you must&amp;nbsp;list&amp;nbsp;the Partner&amp;nbsp;as an&amp;nbsp;Opportunity Level Partnership. Click below to open the &quot;Influencer&quot; Partnership record and update the Partner Account field.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Relationship (Influencer): &lt;/span&gt;&lt;a href=&quot;{!orgBaseURL}{!Relationship_InfluencerRelationshipType.Id}&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!InfluencerRelationshipName_Text}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Partner Account: None&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Must_Create_Lead_Source</name>
        <label>Must Create Lead Source</label>
        <locationX>2474</locationX>
        <locationY>144</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayLeadSource</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(51, 51, 51);&quot;&gt;Because you selected the Lead Source of &quot;Partner&quot; or indicated a Benefit Consultant was involved in introducing you, you must list the Partner as an Opportunity Level Partnership. Click below to open the &quot;Lead Source&quot; Partnership record and update the Partner Account field.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Relationship (Lead Source): &lt;/span&gt;&lt;a href=&quot;{!orgBaseURL}{!Relationship_LeadSourceRelationshipType.Id}&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!LeadSourceRelationshipName_Text}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Partner Account: None&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Must_create_Opportunity_Level_Partnership_Relationships</name>
        <label>Must create Opportunity Level Partnership Relationships</label>
        <locationX>2118</locationX>
        <locationY>140</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayRelationshipRecords</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(51, 51, 51); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Because you selected the Lead Source of &quot;Partner&quot; or indicated a Benefit Consultant was involved in introducing you, you must list the Partner as an Opportunity Level Partnership. Click below to open the &quot;Lead Source&quot; Partnership record and update the Partner Account field.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Relationship (Lead Source): &lt;/span&gt;&lt;a href=&quot;{!orgBaseURL}{!Relationship_LeadSourceRelationshipType.Id}&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!LeadSourceRelationshipName_Text}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Partner Account: None&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(51, 51, 51);&quot;&gt;Because you indicated that a Benefit Consultant was involved in this sale,&amp;nbsp;you must&amp;nbsp;list&amp;nbsp;the Partner&amp;nbsp;as an&amp;nbsp;Opportunity Level Partnership. Click below to open the &quot;Influencer&quot; Partnership record and update the Partner Account field.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Relationship (Influencer): &lt;a href=&quot;{!orgBaseURL}{!Relationship_InfluencerRelationshipType.Id}&quot; target=&quot;_blank&quot;&gt;{!InfluencerRelationshipName_Text}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Partner Account: None&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Need_To_Create_Key_Contact_s</name>
        <label>Need To Create Key Contact(s)</label>
        <locationX>762</locationX>
        <locationY>965</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>KeyContactsGuidance_NoContactsScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Please provide at least 1 of the following key contacts: Sales Lead/POC or Business Decision Maker. To add a contact role, use the &quot;Add Relationship&quot; button on the account or the &quot;Add Contact Role&quot; button on the opportunity.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>One or more of the following fields need to be populated:
-Lead Source
-Pre-Contracting Billing Partner
-Pre-Contracting Contract Paper</description>
        <name>Populated_Lead_Source_Pre_Contracting_Billing_Partner_and_or_Pre_Contracting_Con</name>
        <label>Populated Lead Source, Pre-Contracting Billing Partner, and/or Pre-Contracting Contract Paper</label>
        <locationX>284</locationX>
        <locationY>618</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingFieldsOnOpportunity</name>
            <fieldText>&lt;p&gt;One or more of the following fields on Opportunity are missing.  Please populate these fields with a value before requesting to close this Opportunity:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Lead Source&lt;/li&gt;&lt;li&gt;Pre-Contracting Billing Partner&lt;/li&gt;&lt;li&gt;Pre-Contracting Contract Paper&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetMyOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>PartnerAccountGuidanceFormatted</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Salesforce Sans&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!PartnerAccountGuidance}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TaskDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>There is a request to move Opportunity to Closed Won stage.  Please review this Opportunity and update to Closed Won.</text>
    </textTemplates>
    <variables>
        <description>User ID for the user who will be getting the task assigned to.</description>
        <name>Assigned_Task_User_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>User ID  for the 2nd  user who will be getting the task assigned to.</description>
        <name>Assigned_Task_User_ID_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingPartnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ContractPaperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CountOfOpportunityPartnershipRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CurrentBillingMethod_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>WHAT THE HECK</stringValue>
        </value>
    </variables>
    <variables>
        <description>The ID value for the Generic Task so that the record type ID field isn&apos;t hard coded</description>
        <name>Generic_Task_Rec_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InfluencerAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>InfluencerAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InfluencerRelationshipAccount_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InfluencerRelationshipName_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadSourceAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>LeadSourceAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadSourceRelationshipAccount_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadSourceRelationshipName_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Relationship_LeadSourceRelationshipType.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>myAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>myOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>NewContentDocLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>NewNote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentNote</objectType>
    </variables>
    <variables>
        <name>NoteTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Opportunity Close Checklist</stringValue>
        </value>
    </variables>
    <variables>
        <name>NumberOfKeyContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfOpportunityKeyContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Opportunity_Partners</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityPartner</objectType>
    </variables>
    <variables>
        <name>OpportunityPartnerLeadSource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>OpportunityPartnershipRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>OpportunityPartnershipRelationships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Relationship_InfluencerRelationshipType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>Relationship_LeadSourceRelationshipType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <description>Get the next day date to be used as the task due date</description>
        <name>TaskDueDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!$Flow.CurrentDate}+1</stringValue>
        </value>
    </variables>
</Flow>
