src/flows/Update_all_Open_Projects_under_Client_Overview.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Project_to_Final_List</name>
        <label>Add Project to Final List</label>
        <locationX>796</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>ListOfActiveProjects</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentProject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_all_Found_Related_Projects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Updated_Project</name>
        <label>Add Updated Project</label>
        <locationX>872</locationX>
        <locationY>730</locationY>
        <assignmentItems>
            <assignToReference>allUpdatedProjects</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updatedProject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_all_Projects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Project</name>
        <label>Update Project</label>
        <locationX>1154</locationX>
        <locationY>732</locationY>
        <assignmentItems>
            <assignToReference>updatedProject.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentProject.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedProject.Population_of_Coverage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientOverview.Population_of_Coverage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedProject.Population_Data_Sources__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientOverview.Population_Data_Sources__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedProject.Eligibility_Verification_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientOverview.Eligibility_Verification_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedProject.Billing_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientOverview.Billing_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedProject.Clinical_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientOverview.Clinical_Model__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedProject.Clinical_Referrals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientOverview.Clinical_Referrals__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Project</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Conditions</name>
        <label>Check Conditions</label>
        <locationX>1196</locationX>
        <locationY>572</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_all_Projects</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Update Project</defaultConnectorLabel>
        <rules>
            <name>Update_Project_decision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>currentProject.Population_Data_Sources__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ClientOverview.Population_Data_Sources__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentProject.Population_of_Coverage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ClientOverview.Population_of_Coverage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentProject.Eligibility_Verification_Method__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ClientOverview.Eligibility_Verification_Method__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentProject.Billing_Method__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ClientOverview.Billing_Method__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentProject.Clinical_Model__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ClientOverview.Clinical_Model__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentProject.Clinical_Referrals__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ClientOverview.Clinical_Referrals__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Project</targetReference>
            </connector>
            <label>Update Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_there_are_Active_Projects</name>
        <label>Check if there are Active Projects</label>
        <locationX>785</locationX>
        <locationY>387</locationY>
        <defaultConnectorLabel>No Active Projects</defaultConnectorLabel>
        <rules>
            <name>Has_Active_Projects</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListOfActiveProjects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_all_Projects</targetReference>
            </connector>
            <label>Has Active Projects</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_there_are_projects_to_update</name>
        <label>Check there are projects to update</label>
        <locationX>1165</locationX>
        <locationY>362</locationY>
        <defaultConnectorLabel>There are no projects to update</defaultConnectorLabel>
        <rules>
            <name>There_are_projects_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allUpdatedProjects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_All_Open_Projects</targetReference>
            </connector>
            <label>There are projects to update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_there_are_related_projects</name>
        <label>Check there are related projects</label>
        <locationX>436</locationX>
        <locationY>391</locationY>
        <defaultConnectorLabel>No Active Projects</defaultConnectorLabel>
        <rules>
            <name>Active_Projects</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllRelatedProjects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_all_Found_Related_Projects</targetReference>
            </connector>
            <label>Active Projects</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Wizard_Fields_Changed</name>
        <label>Project Wizard Fields Changed</label>
        <locationX>1641</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_in_Project_Task_Checklist_Item_Dependent_Field</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ClientOverview.Eligibility_Verification_Method__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>inputPriorEligibilityVerificationMethod</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClientOverview.Billing_Method__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>inputPriorBillingMethod</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClientOverview.Clinical_Model__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>inputPriorClinicalModel</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClientOverview.Clinical_Referrals__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>inputPriorClinicalReferrals</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_all_Updated_Projects</targetReference>
            </connector>
            <label>Change in Project Task/Checklist Item Dependent Field</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Project_is_Open_and_Active</name>
        <label>Validate Project is Open and Active</label>
        <locationX>479</locationX>
        <locationY>180</locationY>
        <defaultConnector>
            <targetReference>Add_Project_to_Final_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Project is Active</defaultConnectorLabel>
        <rules>
            <name>Project_is_not_Active</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>currentProject.TASKRAY__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentProject.TASKRAY__trCompletionPercentage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentProject.TaskRayStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_all_Found_Related_Projects</targetReference>
            </connector>
            <label>Project is not Active</label>
        </rules>
    </decisions>
    <formulas>
        <name>OneMinuteFromNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + 1/1440</expression>
    </formulas>
    <interviewLabel>Update all Open Projects under Client Overview {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update all Open Projects under Client Overview</label>
    <loops>
        <name>Loop_Through_all_Found_Related_Projects</name>
        <label>Loop Through all Found Related Projects</label>
        <locationX>617</locationX>
        <locationY>390</locationY>
        <assignNextValueToReference>currentProject</assignNextValueToReference>
        <collectionReference>AllRelatedProjects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Validate_Project_is_Open_and_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_there_are_Active_Projects</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_all_Projects</name>
        <label>Loop Through all Projects</label>
        <locationX>1033</locationX>
        <locationY>389</locationY>
        <assignNextValueToReference>currentProject</assignNextValueToReference>
        <collectionReference>ListOfActiveProjects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Conditions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_there_are_projects_to_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_all_Updated_Projects</name>
        <label>Loop Through all Updated Projects</label>
        <locationX>2108</locationX>
        <locationY>404</locationY>
        <assignNextValueToReference>currentUpdatedProject</assignNextValueToReference>
        <collectionReference>allUpdatedProjects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Tasks_Checklist</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Client_Overview_Fields</name>
        <label>Get Client Overview Fields</label>
        <locationX>166</locationX>
        <locationY>392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_Up_All_Related_Projects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>ClientOverview</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Population_of_Coverage__c</queriedFields>
        <queriedFields>Population_Data_Sources__c</queriedFields>
        <queriedFields>Clinical_Model__c</queriedFields>
        <queriedFields>Clinical_Referrals__c</queriedFields>
        <queriedFields>Eligibility_Verification_Method__c</queriedFields>
        <queriedFields>Billing_Method__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Look_Up_All_Related_Projects</name>
        <label>Look Up All Related Projects</label>
        <locationX>304</locationX>
        <locationY>389</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_there_are_related_projects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>TASKRAY__Project__c</object>
        <outputReference>AllRelatedProjects</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Population_of_Coverage__c</queriedFields>
        <queriedFields>Population_Data_Sources__c</queriedFields>
        <queriedFields>Eligibility_Verification_Method__c</queriedFields>
        <queriedFields>Billing_Method__c</queriedFields>
        <queriedFields>Clinical_Model__c</queriedFields>
        <queriedFields>Clinical_Referrals__c</queriedFields>
        <queriedFields>TASKRAY__Status__c</queriedFields>
        <queriedFields>TASKRAY__trCompletionPercentage__c</queriedFields>
        <queriedFields>TaskRayStatus__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_Open_Projects</name>
        <label>Update All Open Projects</label>
        <locationX>1340</locationX>
        <locationY>406</locationY>
        <connector>
            <targetReference>Project_Wizard_Fields_Changed</targetReference>
        </connector>
        <inputReference>allUpdatedProjects</inputReference>
    </recordUpdates>
    <startElementReference>Get_Client_Overview_Fields</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Update_Tasks_Checklist</name>
        <label>Update Tasks/Checklist</label>
        <locationX>1977</locationX>
        <locationY>654</locationY>
        <connector>
            <targetReference>Pause_for_Each_Update</targetReference>
        </connector>
        <flowName>Manage_Data_Dependent_Project_Details</flowName>
        <inputAssignments>
            <name>inputChangedFields</name>
            <value>
                <stringValue>All</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>currentUpdatedProject.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AllRelatedProjects</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <name>allUpdatedProjects</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <name>ClientOverview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>currentProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <name>currentUpdatedProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <name>inputPriorBillingMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputPriorClinicalModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputPriorClinicalReferrals</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputPriorEligibilityVerificationMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOfActiveProjects</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updatedProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <waits>
        <name>Pause_for_Each_Update</name>
        <label>Pause for Each Update</label>
        <locationX>2255</locationX>
        <locationY>653</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_all_Updated_Projects</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause_to_allow_time_for_Update</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Loop_Through_all_Updated_Projects</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>OneMinuteFromNow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>Pause to allow time for Update</label>
        </waitEvents>
    </waits>
</Flow>
