src/flows/Update_Dates_on_PO_when_OPP_is_closed.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AddFeedItemToList</name>
        <label>AddFeedItemToList</label>
        <locationX>760</locationX>
        <locationY>683</locationY>
        <assignmentItems>
            <assignToReference>FeedItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentFeedItemRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Program_Implementation_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddPORecordtoList</name>
        <label>AddPORecordtoList</label>
        <locationX>760</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>PORecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProgramOverViewRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopProgramOverviews</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DateAssignment</name>
        <label>DateAssignment</label>
        <locationX>380</locationX>
        <locationY>683</locationY>
        <assignmentItems>
            <assignToReference>ProgramOverViewRecord.Actual_Launch_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LaunchDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramOverViewRecord.Member_Recruitment_Began__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MemberRecruitmentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramOverViewRecord.Initial_Targeted_Marketing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TargetMarketedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FeedItemAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FeedItemAssignment</name>
        <label>FeedItemAssignment</label>
        <locationX>571</locationX>
        <locationY>683</locationY>
        <assignmentItems>
            <assignToReference>CurrentFeedItemRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProgramOverViewRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentFeedItemRecord.Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initial Launch Date, Initial Member Recruitment and Initial Targeted Marketing dates are updated by the system as the related opportunity stage is set to closed won. Please email contractops@livongo.com or legal@livongo.com with questions (not Adam Claypool).</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentFeedItemRecord.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>System Update Post</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddFeedItemToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Program_Implementation_Status</name>
        <label>Update Program Implementation Status</label>
        <locationX>760</locationX>
        <locationY>473</locationY>
        <assignmentItems>
            <assignToReference>ProgramOverViewRecord.Program_Implementation_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddPORecordtoList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Type_of_Program_Overview</name>
        <label>Type of Program Overview</label>
        <locationX>373</locationX>
        <locationY>475</locationY>
        <defaultConnector>
            <targetReference>DateAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WP_Non_Anchor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProgramOverViewRecord.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WP Non-Anchor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Program_Implementation_Status</targetReference>
            </connector>
            <label>WP Non-Anchor</label>
        </rules>
    </decisions>
    <formulas>
        <name>MemberRecruitmentDate</name>
        <dataType>Date</dataType>
        <expression>{!LaunchDate} + 1</expression>
    </formulas>
    <formulas>
        <name>TargetMarketedDate</name>
        <dataType>Date</dataType>
        <expression>{!LaunchDate} + 4</expression>
    </formulas>
    <interviewLabel>Update Dates on Program Overview {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Dates on PO when OPP is closed</label>
    <loops>
        <name>LoopProgramOverviews</name>
        <label>LoopProgramOverviews</label>
        <locationX>384</locationX>
        <locationY>256</locationY>
        <assignNextValueToReference>ProgramOverViewRecord</assignNextValueToReference>
        <collectionReference>Getall_Program_overviews</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Type_of_Program_Overview</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdatePORecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateFeedItemRecords</name>
        <label>CreateFeedItemRecords</label>
        <locationX>761</locationX>
        <locationY>82</locationY>
        <inputReference>FeedItemList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Getall_Program_overviews</name>
        <label>Getall Program overviews</label>
        <locationX>178</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopProgramOverviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Actual_Launch_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Client_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Actual_Launch_Date__c</queriedFields>
        <queriedFields>Initial_Targeted_Marketing__c</queriedFields>
        <queriedFields>Member_Recruitment_Began__c</queriedFields>
        <queriedFields>Program_Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePORecords</name>
        <label>UpdatePORecords</label>
        <locationX>390</locationX>
        <locationY>83</locationY>
        <connector>
            <targetReference>CreateFeedItemRecords</targetReference>
        </connector>
        <inputReference>PORecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Getall_Program_overviews</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentFeedItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <name>FeedItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <name>LaunchDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PORecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ProgramOverViewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
