src/flows/Update_CP_Relationship_on_Client_Overview.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Pre_Contracting_Contract_Path</name>
        <label>Assign Pre-Contracting Contract Path</label>
        <locationX>697</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>ContractPathRelationshipRecord.Partner_Contract_Partnership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputPreContractingContractPathID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CP_Relationship_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Was_an_Active_CP_Relationship_Found</name>
        <label>Was an Active CP Relationship Found?</label>
        <locationX>456</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Try_finding_a_Contract_Path_Relationship_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Active CP Found</defaultConnectorLabel>
        <rules>
            <name>Active_CP_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractPathRelationshipRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pre_Contracting_Contract_Path</targetReference>
            </connector>
            <label>Active CP Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_any_CP_Relationship_Found</name>
        <label>Was any CP Relationship Found?</label>
        <locationX>890</locationX>
        <locationY>302</locationY>
        <defaultConnector>
            <targetReference>Create_CP_Relationship_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No CP Relationship was Found</defaultConnectorLabel>
        <rules>
            <name>A_CP_Relationship_was_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractPathRelationshipRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pre_Contracting_Contract_Path</targetReference>
            </connector>
            <label>A CP Relationship was Found</label>
        </rules>
    </decisions>
    <description>This flow launches from an Opportunity record, finds the &quot;Contract Path&quot; relationship record on the related Client Overview, and updates the &quot;Partner Contract Partnership&quot; lookup to the &quot;Pre-Contracting Contract Path&quot; field on the Opportunity.</description>
    <formulas>
        <name>ContractPartnershipRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Contract_Partner_Role}</expression>
    </formulas>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Update CP Relationship on Client Overview {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update CP Relationship on Client Overview</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CP_Relationship_Record</name>
        <label>Create CP Relationship Record</label>
        <locationX>1207</locationX>
        <locationY>297</locationY>
        <inputAssignments>
            <field>Contract_Partnership__c</field>
            <value>
                <elementReference>inputContractID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_Contract__c</field>
            <value>
                <elementReference>inputContractID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Contract_Partnership__c</field>
            <value>
                <elementReference>inputPreContractingContractPathID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ContractPartnershipRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationshipType__c</field>
            <value>
                <stringValue>Contract Path</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <object>Relationship__c</object>
    </recordCreates>
    <recordLookups>
        <name>Try_finding_a_Contract_Path_Relationship_Record</name>
        <label>Try finding a Contract Path Relationship Record</label>
        <locationX>696</locationX>
        <locationY>173</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_any_CP_Relationship_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Master_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputContractID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelationshipType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract Path</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputReference>ContractPathRelationshipRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Partner_Contract_Partnership__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Try_getting_Active_Contract_Path_Relationship_Record</name>
        <label>Try getting &apos;Active&apos; Contract Path Relationship Record</label>
        <locationX>300</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_an_Active_CP_Relationship_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Master_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputContractID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelationshipType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract Path</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputReference>ContractPathRelationshipRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Partner_Contract_Partnership__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_CP_Relationship_Record</name>
        <label>Update CP Relationship Record</label>
        <locationX>697</locationX>
        <locationY>676</locationY>
        <inputReference>ContractPathRelationshipRecord</inputReference>
    </recordUpdates>
    <startElementReference>Try_getting_Active_Contract_Path_Relationship_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>ContractPathRelationshipRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>inputContractID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputPreContractingContractPathID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
